Repository patternfly/patternfly-elements, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, generator, doc, functionality, styles, tests, tools

test(pfe-clipboard): e2e tests
  elements/pfe-clipboard/test/pfe-clipboard.e2e.spec.js-snapshots/pfe-clipboard-darwin.png
  elements/pfe-clipboard/test/pfe-clipboard.e2e.spec.ts
  elements/pfe-clipboard/test/pfe-clipboard_e2e.js
Labels: tests

test(pfe-badge): e2e tests
  elements/pfe-badge/test/pfe-badge.e2e.spec.js-snapshots/pfe-badge-darwin.png
  elements/pfe-badge/test/pfe-badge.e2e.spec.ts
  elements/pfe-badge/test/pfe-badge_e2e.js
Labels: tests

test(pfe-accordion): e2e tests
  elements/pfe-accordion/demo/index_e2e.html
  elements/pfe-accordion/demo/pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion.e2e.spec.js-snapshots/pfe-accordion-darwin.png
  elements/pfe-accordion/test/pfe-accordion.e2e.spec.ts
Labels: demo, tests

test(pfe-codeblock): e2e tests
  elements/pfe-codeblock/pfe-codeblock.ts
  elements/pfe-codeblock/test/pfe-codeblock.e2e.spec.js-snapshots/pfe-codeblock-darwin.png
  elements/pfe-codeblock/test/pfe-codeblock.e2e.spec.ts
  elements/pfe-codeblock/test/pfe-codeblock_e2e.js
Labels: functionality, tests

test(pfe-band): e2e tests
  elements/pfe-band/test/pfe-band.e2e.spec.js-snapshots/pfe-band-darwin.png
  elements/pfe-band/test/pfe-band.e2e.spec.ts
  elements/pfe-band/test/pfe-band_e2e.js
Labels: tests

test(pfe-avatar): e2e tests
  elements/pfe-avatar/test/pfe-avatar.e2e.spec.js-snapshots/pfe-avatar-darwin.png
  elements/pfe-avatar/test/pfe-avatar.e2e.spec.ts
  elements/pfe-avatar/test/pfe-avatar_e2e.js
Labels: tests

feat(create): e2e test file for elements
  tools/create-element/generator/element.ts
  tools/create-element/templates/element/test/element.e2e.spec.ts
Labels: generator, tools

test(pfe-button): e2e tests
  elements/pfe-button/test/pfe-button.e2e.spec.js-snapshots/pfe-button-darwin.png
  elements/pfe-button/test/pfe-button.e2e.spec.ts
  elements/pfe-button/test/pfe-button_e2e.js
Labels: tests

test(pfe-datetime): e2e tests
  elements/pfe-datetime/test/pfe-datetime.e2e.spec.js-snapshots/pfe-datetime-darwin.png
  elements/pfe-datetime/test/pfe-datetime.e2e.spec.ts
  elements/pfe-datetime/test/pfe-datetime_e2e.js
Labels: tests

test(pfe-health-index): e2e tests
  elements/pfe-health-index/test/pfe-health-index.e2e.spec.js-snapshots/pfe-health-index-darwin.png
  elements/pfe-health-index/test/pfe-health-index.e2e.spec.ts
  elements/pfe-health-index/test/pfe-health-index_e2e.js
Labels: tests

test(pfe-cta): e2e tests
  elements/pfe-cta/test/pfe-cta.e2e.spec.js-snapshots/pfe-cta-darwin.png
  elements/pfe-cta/test/pfe-cta.e2e.spec.ts
  elements/pfe-cta/test/pfe-cta_e2e.js
Labels: tests

test(pfe-icon-panel): e2e tests
  elements/pfe-icon-panel/test/pfe-icon-panel.e2e.spec.js-snapshots/pfe-icon-panel-darwin.png
  elements/pfe-icon-panel/test/pfe-icon-panel.e2e.spec.ts
  elements/pfe-icon-panel/test/pfe-icon-panel_e2e.js
Labels: tests

test(pfe-icon): e2e tests
  elements/pfe-icon/test/pfe-icon.e2e.spec.js-snapshots/pfe-icon-darwin.png
  elements/pfe-icon/test/pfe-icon.e2e.spec.ts
  elements/pfe-icon/test/pfe-icon_e2e.js
Labels: tests

test(pfe-collapse): e2e tests
  elements/pfe-collapse/test/pfe-collapse.e2e.spec.js-snapshots/pfe-collapse-darwin.png
  elements/pfe-collapse/test/pfe-collapse.e2e.spec.js-snapshots/pfe-collapse-open-darwin.png
  elements/pfe-collapse/test/pfe-collapse.e2e.spec.ts
  elements/pfe-collapse/test/pfe-collapse_e2e.js
Labels: tests

test(pfe-dropdown): e2e tests
  elements/pfe-dropdown/demo/pfe-dropdown.html
  elements/pfe-dropdown/test/pfe-dropdown.e2e.spec.js-snapshots/pfe-dropdown-darwin.png
  elements/pfe-dropdown/test/pfe-dropdown.e2e.spec.js-snapshots/pfe-dropdown-with-dropdown-darwin.png
  elements/pfe-dropdown/test/pfe-dropdown.e2e.spec.ts
  elements/pfe-dropdown/test/pfe-dropdown_e2e.js
Labels: demo, tests

test(pfe-content-set): e2e tests
  elements/pfe-content-set/test/pfe-content-set.e2e.spec.js-snapshots/pfe-content-set-darwin.png
  elements/pfe-content-set/test/pfe-content-set.e2e.spec.ts
  elements/pfe-content-set/test/pfe-content-set_e2e.js
Labels: tests

test(pfe-primary-detail): e2e tests
  elements/pfe-primary-detail/test/pfe-primary-detail.e2e.spec.js-snapshots/pfe-primary-detail-darwin.png
  elements/pfe-primary-detail/test/pfe-primary-detail.e2e.spec.ts
  elements/pfe-primary-detail/test/pfe-primary-detail_e2e.js
Labels: tests

test(pfe-jump-links): e2e tests
  elements/pfe-jump-links/demo/pfe-jump-links.html
  elements/pfe-jump-links/demo/pfe-jump-links.js
  elements/pfe-jump-links/demo/test_page.html
  elements/pfe-jump-links/test/pfe-jump-links.e2e.spec.ts
  elements/pfe-jump-links/test/pfe-jump-links_e2e.js
Labels: demo, tests

test(pfe-number): e2e tests
  elements/pfe-number/test/pfe-number.e2e.spec.js-snapshots/pfe-number-darwin.png
  elements/pfe-number/test/pfe-number.e2e.spec.ts
  elements/pfe-number/test/pfe-number_e2e.js
Labels: tests

test(pfe-page-status): e2e tests
  elements/pfe-page-status/test/pfe-page-status.e2e.spec.js-snapshots/pfe-page-status-darwin.png
  elements/pfe-page-status/test/pfe-page-status.e2e.spec.ts
  elements/pfe-page-status/test/pfe-page-status_e2e.js
Labels: tests

test(pfe-progress-indicator): e2e tests
  elements/pfe-progress-indicator/test/pfe-progress-indicator.e2e.spec.js-snapshots/pfe-progress-indicator-darwin.png
  elements/pfe-progress-indicator/test/pfe-progress-indicator.e2e.spec.ts
  elements/pfe-progress-indicator/test/pfe-progress-indicator_e2e.js
Labels: tests

test(pfe-progress-steps): e2e tests
  elements/pfe-progress-steps/test/pfe-progress-steps.e2e.spec.js-snapshots/pfe-progress-steps-darwin.png
  elements/pfe-progress-steps/test/pfe-progress-steps.e2e.spec.ts
  elements/pfe-progress-steps/test/pfe-progress-steps_e2e.js
Labels: tests

test(pfe-markdown): e2e tests
  elements/pfe-markdown/test/pfe-markdown.e2e.spec.js-snapshots/pfe-markdown-darwin.png
  elements/pfe-markdown/test/pfe-markdown.e2e.spec.ts
  elements/pfe-markdown/test/pfe-markdown_e2e.js
Labels: tests

test(pfe-modal): e2e tests
  elements/pfe-modal/demo/pfe-modal.html
  elements/pfe-modal/test/pfe-modal.e2e.spec.js-snapshots/pfe-modal-darwin.png
  elements/pfe-modal/test/pfe-modal.e2e.spec.ts
  elements/pfe-modal/test/pfe-modal_e2e.js
Labels: demo, tests

test(pfe-select): e2e tests
  elements/pfe-select/test/pfe-select.e2e.spec.js-snapshots/pfe-select-darwin.png
  elements/pfe-select/test/pfe-select.e2e.spec.ts
  elements/pfe-select/test/pfe-select_e2e.js
Labels: tests

test(pfe-readtime): e2e tests
  elements/pfe-readtime/test/pfe-readtime.e2e.spec.js-snapshots/pfe-readtime-darwin.png
  elements/pfe-readtime/test/pfe-readtime.e2e.spec.ts
  elements/pfe-readtime/test/pfe-readtime_e2e.js
Labels: tests

test(pfe-toast): e2e tests
  elements/pfe-toast/demo/pfe-toast.js
  elements/pfe-toast/test/pfe-toast.e2e.spec.js-snapshots/pfe-toast-darwin.png
  elements/pfe-toast/test/pfe-toast.e2e.spec.ts
  elements/pfe-toast/test/pfe-toast_e2e.js
Labels: demo, tests

chore(ci): compile for e2e tests
  .github/workflows/tests.yml
Labels: tools

test(pfe-datetime): fix types in e2e tests
  elements/pfe-datetime/test/pfe-datetime.e2e.spec.ts
Labels: tests

test(pfe-dropdown): fix types in e2e tests
  elements/pfe-dropdown/test/pfe-dropdown.e2e.spec.ts
Labels: tests

test(pfe-modal): fix types in e2e tests
  elements/pfe-modal/test/pfe-modal.e2e.spec.ts
Labels: tests

chore(config): browserstack test config
  playwright.browserstack.config.ts
Labels: none

chore(ci): compile e2e tests for browserstack
  .github/workflows/tests.yml
Labels: tools

chore(dependencies): install percy cli
  package-lock.json
  package.json
Labels: tools

chore(ci): configure percy for e2e tests
  .github/workflows/tests.yml
  .percy.yml
Labels: tools

chore(ci): fix percy config
  .github/workflows/tests.yml
  .percy.yml
Labels: tools

Simplifying back button text and removing unused functions
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/pfe-primary-detail.ts
Labels: demo, functionality

Updating floats to grid, because floats aren't for page layout anymore and I don't wanna debug that
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/pfe-accordion.html
Labels: demo

Adding CSS to demo page for tabs
  elements/pfe-tabs/demo/pfe-tabs.html
Labels: demo

Disclosure demo was missing the attribute
  elements/pfe-accordion/demo/pfe-accordion.html
Labels: demo

.github/labeler.yml:

demo:
  - elements/*/demo/*
  - core/*/demo/*

generator:
  - tools/create-element/**/*

doc:
  - docs/**/*
  - elements/**/*.{md,txt}

functionality:
  - elements/*/*.{ts,html}
  - core/*/*.{ts,html}

styles:
  - elements/*/*.{scss,css}
  - tokens/**/*

tests:
  - elements/*/test/*

tools:
  - scripts/*
  - tools/**/*
  - elements/*/tsconfig.json
  - .github/**/*
  - ./.*
  - ./*.{js,json,yml}
