Repository patternfly/patternfly-elements, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, generator, doc, functionality, styles, tests, tools

.github/labeler.yml:

demo:
  - elements/*/demo/*
  - core/*/demo/*

generator:
  - tools/create-element/**/*

doc:
  - docs/**/*
  - elements/**/*.{md,txt}

functionality:
  - elements/*/*.{ts,html}
  - core/*/*.{ts,html}

styles:
  - elements/*/*.{scss,css}
  - tokens/**/*

tests:
  - elements/*/test/*

tools:
  - scripts/*
  - tools/**/*
  - elements/*/tsconfig.json
  - .github/**/*
  - ./.*
  - ./*.{js,json,yml}

docs(tabs): add CSS to demo page for tabs (#1835)
  elements/pfe-tabs/demo/pfe-tabs.html
Labels: demo

docs(accordion): update demo page
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/pfe-accordion.html
Labels: demo

fix(accordion): keyboard a11y
  elements/pfe-accordion/pfe-accordion-header.ts
  elements/pfe-accordion/test/pfe-accordion.spec.ts
Labels: functionality, tests

fix(accordion): keyboard a11y
  elements/pfe-accordion/pfe-accordion-header.ts
  elements/pfe-accordion/test/pfe-accordion.spec.ts
Labels: functionality, tests

fix(primary-detail): simplify back button text and remove unused functions
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/pfe-primary-detail.ts
Labels: demo, functionality

fix(primary-detail): simplify back button text and remove unused functions
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/pfe-primary-detail.ts
Labels: demo, functionality

feat(jump-links): migrate events to ComposedEvent
  elements/pfe-jump-links/pfe-jump-links-nav.ts
  elements/pfe-jump-links/pfe-jump-links-panel.ts
  elements/pfe-jump-links/test/pfe-jump-links.spec.ts
Labels: functionality, tests

chore(dependencies): update dependencies
  package-lock.json
  package.json
  patches/@custom-elements-manifest+analyzer+0.5.7.patch
  patches/@orchidjs+eleventy-plugin-ids+0.1.1.patch
  patches/@web+test-runner-core+0.10.22.patch
  patches/cem-plugin-module-file-extensions+0.0.2.patch
  patches/cem-plugin-readonly+0.0.2.patch
  patches/html-include-element+0.2.0.patch
Labels: tools
