Repository patternfly/patternfly-elements, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, generator, doc, functionality, styles, tests, tools

docs: update README
  README.md
Labels: none

feat(eslint-config): add eslint-config
  tools/eslint-config/index.js
  tools/eslint-config/package.json
Labels: tools

feat(tools)!: add pfe-tools package
  test/utils/create-fixture.js
  test/utils/react-wrapper.js
  test/utils/vue-wrapper.js
  tools/pfe-tools/.eslintrc.json
  tools/pfe-tools/.gitignore
  tools/pfe-tools/_scripts/dev.js
  tools/pfe-tools/custom-elements-manifest.ts
  tools/pfe-tools/custom-elements-manifest/cssCustomPropertiesDefaultPlugin.ts
  tools/pfe-tools/custom-elements-manifest/dedent-descriptions.ts
  tools/pfe-tools/custom-elements-manifest/deprecated-description-inline-tag.ts
  tools/pfe-tools/custom-elements-manifest/sanitize-events.ts
  tools/pfe-tools/dev-server.ts
  tools/pfe-tools/environment.ts
  tools/pfe-tools/esbuild-plugins/external-sub-components.ts
  tools/pfe-tools/esbuild-plugins/rewrite-paths.ts
  tools/pfe-tools/esbuild.ts
  tools/pfe-tools/package.json
  tools/pfe-tools/patches/@custom-elements-manifest+analyzer+0.5.6.patch
  tools/pfe-tools/test-runner.ts
  tools/pfe-tools/test/create-fixture.ts
  tools/pfe-tools/test/get-composed-text.ts
  tools/pfe-tools/test/hex-to-rgb.ts
  tools/pfe-tools/test/playwright/fixtures.ts
  tools/pfe-tools/test/playwright/global-setup.ts
  tools/pfe-tools/test/playwright/global-teardown.ts
  tools/pfe-tools/test/react-wrapper.ts
  tools/pfe-tools/test/render-to-string.ts
  tools/pfe-tools/test/vue-wrapper.ts
  tools/pfe-tools/tsconfig.json
Labels: tools

feat!: scripts that use pfe-tools
  scripts/build.js
  scripts/gulpfile.factory.js
  scripts/hugo-check.sh
  scripts/license-update.js
  scripts/open-pr.js
  scripts/release.sh
  scripts/rollup.config.factory.js
  scripts/test.js
  scripts/tools.js
  scripts/watch.js
  test/pfe-styles.e2e.spec.cjs
  test/pfe-styles.e2e.spec.js
Labels: tools

feat(sass)!: migrate pfe-sass to dart-sass
  core/pfe-sass/.gitignore
  core/pfe-sass/.sassdocrc
  core/pfe-sass/LICENSE.txt
  core/pfe-sass/README.md
  core/pfe-sass/extends/_extends.scss
  core/pfe-sass/extends/_typography-deprecated.scss
  core/pfe-sass/extends/_typography_extends.scss
  core/pfe-sass/functions/_1-tools.scss
  core/pfe-sass/functions/_custom-properties.scss
  core/pfe-sass/functions/_general.scss
  core/pfe-sass/index.scss
  core/pfe-sass/maps/_broadcasted.scss
  core/pfe-sass/maps/_colors.scss
  core/pfe-sass/maps/_general.scss
  core/pfe-sass/maps/_typography.scss
  core/pfe-sass/maps/_typography_deprecated.scss
  core/pfe-sass/maps/_zindex.scss
  core/pfe-sass/mixins/_components.scss
  core/pfe-sass/mixins/_containers.scss
  core/pfe-sass/mixins/_copy-mixins.scss
  core/pfe-sass/mixins/_custom-properties.scss
  core/pfe-sass/mixins/_mixins.scss
  core/pfe-sass/package.json
  core/pfe-sass/sass--screenshot.png
  core/pfe-sass/variables/_1-definitions.scss
  core/pfe-sass/variables/_2-crayon.scss
  core/pfe-sass/variables/_3-colors.scss
  core/pfe-sass/variables/_4-sizes.scss
  elements/pfe-sass/.npmignore
  elements/pfe-sass/functions/_general.scss
  elements/pfe-sass/gulpfile.js
  elements/pfe-sass/maps/_broadcasted.scss
  elements/pfe-sass/maps/_typography_deprecated.scss
  elements/pfe-sass/package.json
  elements/pfe-sass/pfe-sass.scss
Labels: styles

feat(badge)!: migrate pfe-badge to lit
  elements/pfe-badge/.babelrc
  elements/pfe-badge/.editorconfig
  elements/pfe-badge/.npmignore
  elements/pfe-badge/custom-elements-manifest.config.js
  elements/pfe-badge/demo/demo.css
  elements/pfe-badge/demo/index.html
  elements/pfe-badge/demo/pfe-badge.html
  elements/pfe-badge/demo/pfe-badge.js
  elements/pfe-badge/demo/pfe-badge.story.js
  elements/pfe-badge/docs/index.md
  elements/pfe-badge/gulpfile.js
  elements/pfe-badge/package.json
  elements/pfe-badge/pfe-badge.scss
  elements/pfe-badge/pfe-badge.ts
  elements/pfe-badge/rollup.config.js
  elements/pfe-badge/src/pfe-badge.html
  elements/pfe-badge/src/pfe-badge.js
  elements/pfe-badge/src/pfe-badge.json
  elements/pfe-badge/src/pfe-badge.scss
  elements/pfe-badge/test/index.html
  elements/pfe-badge/test/old-test/pfe-badge_react_test.html
  elements/pfe-badge/test/old-test/pfe-badge_test.html
  elements/pfe-badge/test/old-test/pfe-badge_test.js
  elements/pfe-badge/test/old-test/pfe-badge_vue_test.html
  elements/pfe-badge/test/pfe-badge.spec.ts
  elements/pfe-badge/test/pfe-badge_react_test.html
  elements/pfe-badge/test/pfe-badge_test.html
  elements/pfe-badge/test/pfe-badge_test.js
  elements/pfe-badge/test/pfe-badge_vue_test.html
  elements/pfe-badge/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(band)!: migrate pfe-band to lit
  elements/pfe-band/.npmignore
  elements/pfe-band/custom-elements-manifest.config.js
  elements/pfe-band/demo/index.html
  elements/pfe-band/demo/pfe-band.html
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-band/docs/index.md
  elements/pfe-band/gulpfile.js
  elements/pfe-band/package.json
  elements/pfe-band/pfe-band.scss
  elements/pfe-band/pfe-band.ts
  elements/pfe-band/rollup.config.js
  elements/pfe-band/src/pfe-band.html
  elements/pfe-band/src/pfe-band.js
  elements/pfe-band/test/index.html
  elements/pfe-band/test/old-test/pfe-band_react_test.html
  elements/pfe-band/test/old-test/pfe-band_test.html
  elements/pfe-band/test/old-test/pfe-band_test.js
  elements/pfe-band/test/old-test/pfe-band_vue_test.html
  elements/pfe-band/test/pfe-band.spec.ts
  elements/pfe-band/test/pfe-band_react_test.html
  elements/pfe-band/test/pfe-band_test.html
  elements/pfe-band/test/pfe-band_test.js
  elements/pfe-band/test/pfe-band_vue_test.html
  elements/pfe-band/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(autocomplete)!: migrate pfe-autocomplete to lit
  elements/pfe-autocomplete/.npmignore
  elements/pfe-autocomplete/custom-elements-manifest.config.js
  elements/pfe-autocomplete/demo/demo.css
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-autocomplete/demo/pfe-autocomplete.html
  elements/pfe-autocomplete/demo/pfe-autocomplete.js
  elements/pfe-autocomplete/demo/pfe-autocomplete.story.js
  elements/pfe-autocomplete/docs/index.md
  elements/pfe-autocomplete/gulpfile.js
  elements/pfe-autocomplete/package.json
  elements/pfe-autocomplete/pfe-autocomplete.scss
  elements/pfe-autocomplete/pfe-autocomplete.ts
  elements/pfe-autocomplete/pfe-search-droplist.scss
  elements/pfe-autocomplete/pfe-search-droplist.ts
  elements/pfe-autocomplete/rollup.config.js
  elements/pfe-autocomplete/src/pfe-autocomplete.html
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-autocomplete/src/pfe-autocomplete.json
  elements/pfe-autocomplete/src/pfe-search-droplist.html
  elements/pfe-autocomplete/src/pfe-search-droplist.scss
  elements/pfe-autocomplete/test/index.html
  elements/pfe-autocomplete/test/old-test/pfe-autocomplete-aria_test.html
  elements/pfe-autocomplete/test/old-test/pfe-autocomplete_test.html
  elements/pfe-autocomplete/test/old-test/pfe-autocomplete_test.js
  elements/pfe-autocomplete/test/pfe-autocomplete-aria_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete.spec.ts
  elements/pfe-autocomplete/test/pfe-autocomplete_react_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete_test.js
  elements/pfe-autocomplete/test/pfe-autocomplete_vue_test.html
  elements/pfe-autocomplete/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(avatar)!: migrate pfe-avatar to lit
  elements/pfe-avatar/.npmignore
  elements/pfe-avatar/custom-elements-manifest.config.js
  elements/pfe-avatar/demo/demo.css
  elements/pfe-avatar/demo/index.html
  elements/pfe-avatar/demo/pfe-avatar.html
  elements/pfe-avatar/demo/pfe-avatar.js
  elements/pfe-avatar/demo/pfe-avatar.story.js
  elements/pfe-avatar/docs/index.md
  elements/pfe-avatar/gulpfile.js
  elements/pfe-avatar/lib/djb-hash.ts
  elements/pfe-avatar/lib/hslrgb.ts
  elements/pfe-avatar/package.json
  elements/pfe-avatar/pfe-avatar.scss
  elements/pfe-avatar/pfe-avatar.ts
  elements/pfe-avatar/rollup.config.js
  elements/pfe-avatar/src/pfe-avatar.html
  elements/pfe-avatar/src/pfe-avatar.js
  elements/pfe-avatar/test/index.html
  elements/pfe-avatar/test/old-test/mwcz.jpg
  elements/pfe-avatar/test/old-test/pfe-avatar_react_test.html
  elements/pfe-avatar/test/old-test/pfe-avatar_test.html
  elements/pfe-avatar/test/old-test/pfe-avatar_test.js
  elements/pfe-avatar/test/old-test/pfe-avatar_vue_test.html
  elements/pfe-avatar/test/pfe-avatar.spec.ts
  elements/pfe-avatar/test/pfe-avatar_react_test.html
  elements/pfe-avatar/test/pfe-avatar_test.html
  elements/pfe-avatar/test/pfe-avatar_test.js
  elements/pfe-avatar/test/pfe-avatar_vue_test.html
  elements/pfe-avatar/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(accordion)!: migrate pfe-accordion to lit
  elements/pfe-accordion/.npmignore
  elements/pfe-accordion/README.md
  elements/pfe-accordion/_shared-assets.scss
  elements/pfe-accordion/custom-elements-manifest.config.js
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/demo/pfe-accordion.html
  elements/pfe-accordion/demo/pfe-accordion.js
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-accordion/docs/index.md
  elements/pfe-accordion/gulpfile.js
  elements/pfe-accordion/package.json
  elements/pfe-accordion/pfe-accordion-header.scss
  elements/pfe-accordion/pfe-accordion-header.ts
  elements/pfe-accordion/pfe-accordion-panel.scss
  elements/pfe-accordion/pfe-accordion-panel.ts
  elements/pfe-accordion/pfe-accordion.scss
  elements/pfe-accordion/pfe-accordion.ts
  elements/pfe-accordion/rollup.config.js
  elements/pfe-accordion/src/pfe-accordion-header.html
  elements/pfe-accordion/src/pfe-accordion-header.js
  elements/pfe-accordion/src/pfe-accordion-panel.html
  elements/pfe-accordion/src/pfe-accordion-panel.js
  elements/pfe-accordion/src/pfe-accordion.html
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/src/polyfills--pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion.spec.js
  elements/pfe-accordion/test/pfe-accordion.spec.ts
  elements/pfe-accordion/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(button)!: migrate pfe-button to lit
  elements/pfe-button/README.md
  elements/pfe-button/custom-elements-manifest.config.js
  elements/pfe-button/demo/demo.css
  elements/pfe-button/demo/index.html
  elements/pfe-button/demo/index_react.html
  elements/pfe-button/demo/pfe-button.html
  elements/pfe-button/demo/pfe-button.story.js
  elements/pfe-button/docs/index.md
  elements/pfe-button/gulpfile.js
  elements/pfe-button/package.json
  elements/pfe-button/pfe-button.scss
  elements/pfe-button/pfe-button.ts
  elements/pfe-button/rollup.config.js
  elements/pfe-button/src/pfe-button.html
  elements/pfe-button/src/pfe-button.js
  elements/pfe-button/src/pfe-button.json
  elements/pfe-button/test/index.html
  elements/pfe-button/test/old-test/pfe-button_react_test.html
  elements/pfe-button/test/old-test/pfe-button_test.html
  elements/pfe-button/test/old-test/pfe-button_test.js
  elements/pfe-button/test/old-test/pfe-button_vue_test.html
  elements/pfe-button/test/pfe-button.spec.js
  elements/pfe-button/test/pfe-button.spec.ts
  elements/pfe-button/test/pfe-button_react_test.html
  elements/pfe-button/test/pfe-button_test.html
  elements/pfe-button/test/pfe-button_test.js
  elements/pfe-button/test/pfe-button_vue_test.html
  elements/pfe-button/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(card)!: migrate pfe-card to lit
  elements/pfe-card/.npmignore
  elements/pfe-card/custom-elements-manifest.config.js
  elements/pfe-card/demo/demo.css
  elements/pfe-card/demo/index.html
  elements/pfe-card/demo/pfe-card.html
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-card/docs/index.md
  elements/pfe-card/gulpfile.js
  elements/pfe-card/package.json
  elements/pfe-card/pfe-card--lightdom.scss
  elements/pfe-card/pfe-card.scss
  elements/pfe-card/pfe-card.ts
  elements/pfe-card/rollup.config.js
  elements/pfe-card/src/pfe-card--lightdom.scss
  elements/pfe-card/src/pfe-card.html
  elements/pfe-card/src/pfe-card.js
  elements/pfe-card/test/index.html
  elements/pfe-card/test/old-test/pfe-card_react_test.html
  elements/pfe-card/test/old-test/pfe-card_test.css
  elements/pfe-card/test/old-test/pfe-card_test.html
  elements/pfe-card/test/old-test/pfe-card_test.js
  elements/pfe-card/test/old-test/pfe-card_vue_test.html
  elements/pfe-card/test/pfe-card.e2e.spec.js-snapshots/pfe-card-darwin.png
  elements/pfe-card/test/pfe-card.e2e.spec.ts
  elements/pfe-card/test/pfe-card.spec.ts
  elements/pfe-card/test/pfe-card_e2e.js
  elements/pfe-card/test/pfe-card_react_test.html
  elements/pfe-card/test/pfe-card_test.css
  elements/pfe-card/test/pfe-card_test.html
  elements/pfe-card/test/pfe-card_test.js
  elements/pfe-card/test/pfe-card_vue_test.html
  elements/pfe-card/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(clipboard)!: migrate pfe-clipboard to lit
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/custom-elements-manifest.config.js
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/demo/pfe-clipboard.html
  elements/pfe-clipboard/demo/pfe-clipboard.js
  elements/pfe-clipboard/demo/pfe-clipboard.story.js
  elements/pfe-clipboard/docs/index.md
  elements/pfe-clipboard/gulpfile.js
  elements/pfe-clipboard/package.json
  elements/pfe-clipboard/pfe-clipboard.scss
  elements/pfe-clipboard/pfe-clipboard.ts
  elements/pfe-clipboard/rollup.config.js
  elements/pfe-clipboard/src/pfe-clipboard.html
  elements/pfe-clipboard/src/pfe-clipboard.js
  elements/pfe-clipboard/test/pfe-clipboard.spec.js
  elements/pfe-clipboard/test/pfe-clipboard.spec.ts
  elements/pfe-clipboard/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(codeblock)!: migrate pfe-codeblock to lit
  elements/pfe-codeblock/README.md
  elements/pfe-codeblock/custom-elements-manifest.config.js
  elements/pfe-codeblock/demo/index.html
  elements/pfe-codeblock/demo/pfe-codeblock.html
  elements/pfe-codeblock/demo/pfe-codeblock.story.js
  elements/pfe-codeblock/docs/index.md
  elements/pfe-codeblock/gulpfile.js
  elements/pfe-codeblock/package.json
  elements/pfe-codeblock/pfe-codeblock-material-dark.scss
  elements/pfe-codeblock/pfe-codeblock-material-light.scss
  elements/pfe-codeblock/pfe-codeblock.scss
  elements/pfe-codeblock/pfe-codeblock.ts
  elements/pfe-codeblock/rollup.config.js
  elements/pfe-codeblock/src/pfe-codeblock.html
  elements/pfe-codeblock/src/pfe-codeblock.js
  elements/pfe-codeblock/src/polyfills--pfe-codeblock.js
  elements/pfe-codeblock/test/index.html
  elements/pfe-codeblock/test/pfe-codeblock.spec.ts
  elements/pfe-codeblock/test/pfe-codeblock_react_test.html
  elements/pfe-codeblock/test/pfe-codeblock_test.html
  elements/pfe-codeblock/test/pfe-codeblock_test.js
  elements/pfe-codeblock/test/pfe-codeblock_vue_test.html
  elements/pfe-codeblock/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(cta)!: migrate pfe-cta to lit
  elements/pfe-cta/.npmignore
  elements/pfe-cta/_shared-assets.scss
  elements/pfe-cta/custom-elements-manifest.config.js
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/demo/pfe-cta.html
  elements/pfe-cta/demo/pfe-cta.js
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-cta/docs/index.md
  elements/pfe-cta/gulpfile.js
  elements/pfe-cta/package.json
  elements/pfe-cta/pfe-cta--lightdom.scss
  elements/pfe-cta/pfe-cta.scss
  elements/pfe-cta/pfe-cta.ts
  elements/pfe-cta/rollup.config.js
  elements/pfe-cta/src/_shared-assets.scss
  elements/pfe-cta/src/pfe-cta.html
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/src/pfe-cta.json
  elements/pfe-cta/src/polyfills--pfe-cta.js
  elements/pfe-cta/test/index.html
  elements/pfe-cta/test/old-test/pfe-cta_react_test.html
  elements/pfe-cta/test/old-test/pfe-cta_test.html
  elements/pfe-cta/test/old-test/pfe-cta_test.js
  elements/pfe-cta/test/old-test/pfe-cta_vue_test.html
  elements/pfe-cta/test/pfe-cta.spec.ts
  elements/pfe-cta/test/pfe-cta_react_test.html
  elements/pfe-cta/test/pfe-cta_test.html
  elements/pfe-cta/test/pfe-cta_test.js
  elements/pfe-cta/test/pfe-cta_vue_test.html
  elements/pfe-cta/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(content-set)!: migrate pfe-content-set to lit
  elements/pfe-content-set/.npmignore
  elements/pfe-content-set/README.md
  elements/pfe-content-set/custom-elements-manifest.config.js
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/demo/pfe-content-set.html
  elements/pfe-content-set/demo/pfe-content-set.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-content-set/docs/index.md
  elements/pfe-content-set/gulpfile.js
  elements/pfe-content-set/package.json
  elements/pfe-content-set/pfe-content-set.scss
  elements/pfe-content-set/pfe-content-set.ts
  elements/pfe-content-set/rollup.config.js
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/polyfills--pfe-content-set.js
  elements/pfe-content-set/test/index.html
  elements/pfe-content-set/test/pfe-content-set.spec.js
  elements/pfe-content-set/test/pfe-content-set.spec.ts
  elements/pfe-content-set/test/pfe-content-set_react_test.html
  elements/pfe-content-set/test/pfe-content-set_test.html
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfe-content-set/test/pfe-content-set_vue_test.html
  elements/pfe-content-set/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(dropdown)!: migrate pfe-dropdown to lit
  elements/pfe-dropdown/.babelrc
  elements/pfe-dropdown/.editorconfig
  elements/pfe-dropdown/.npmignore
  elements/pfe-dropdown/_shared-assets.scss
  elements/pfe-dropdown/custom-elements-manifest.config.js
  elements/pfe-dropdown/demo/index.html
  elements/pfe-dropdown/demo/pfe-dropdown.html
  elements/pfe-dropdown/demo/pfe-dropdown.js
  elements/pfe-dropdown/demo/pfe-dropdown.story.js
  elements/pfe-dropdown/docs/index.md
  elements/pfe-dropdown/gulpfile.js
  elements/pfe-dropdown/package.json
  elements/pfe-dropdown/pfe-dropdown-item.scss
  elements/pfe-dropdown/pfe-dropdown-item.ts
  elements/pfe-dropdown/pfe-dropdown.scss
  elements/pfe-dropdown/pfe-dropdown.ts
  elements/pfe-dropdown/rollup.config.js
  elements/pfe-dropdown/src/_shared-assets.scss
  elements/pfe-dropdown/src/pfe-dropdown-item.html
  elements/pfe-dropdown/src/pfe-dropdown-item.js
  elements/pfe-dropdown/src/pfe-dropdown-item.json
  elements/pfe-dropdown/src/pfe-dropdown.html
  elements/pfe-dropdown/src/pfe-dropdown.js
  elements/pfe-dropdown/src/pfe-dropdown.json
  elements/pfe-dropdown/test/index.html
  elements/pfe-dropdown/test/old-test/pfe-dropdown_react_test.html
  elements/pfe-dropdown/test/old-test/pfe-dropdown_test.html
  elements/pfe-dropdown/test/old-test/pfe-dropdown_test.js
  elements/pfe-dropdown/test/old-test/pfe-dropdown_vue_test.html
  elements/pfe-dropdown/test/pfe-dropdown.spec.ts
  elements/pfe-dropdown/test/pfe-dropdown_react_test.html
  elements/pfe-dropdown/test/pfe-dropdown_test.html
  elements/pfe-dropdown/test/pfe-dropdown_test.js
  elements/pfe-dropdown/test/pfe-dropdown_vue_test.html
  elements/pfe-dropdown/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(datetime)!: migrate pfe-datetime to lit
  elements/pfe-datetime/.npmignore
  elements/pfe-datetime/custom-elements-manifest.config.js
  elements/pfe-datetime/demo/index.html
  elements/pfe-datetime/demo/pfe-datetime.html
  elements/pfe-datetime/demo/pfe-datetime.js
  elements/pfe-datetime/demo/pfe-datetime.story.js
  elements/pfe-datetime/docs/index.md
  elements/pfe-datetime/gulpfile.js
  elements/pfe-datetime/package.json
  elements/pfe-datetime/pfe-datetime.scss
  elements/pfe-datetime/pfe-datetime.ts
  elements/pfe-datetime/rollup.config.js
  elements/pfe-datetime/src/pfe-datetime.html
  elements/pfe-datetime/src/pfe-datetime.js
  elements/pfe-datetime/src/pfe-datetime.json
  elements/pfe-datetime/test/index.html
  elements/pfe-datetime/test/old-test/pfe-datetime_react_test.html
  elements/pfe-datetime/test/old-test/pfe-datetime_test.html
  elements/pfe-datetime/test/old-test/pfe-datetime_test.js
  elements/pfe-datetime/test/old-test/pfe-datetime_vue_test.html
  elements/pfe-datetime/test/pfe-datetime.spec.ts
  elements/pfe-datetime/test/pfe-datetime_react_test.html
  elements/pfe-datetime/test/pfe-datetime_test.html
  elements/pfe-datetime/test/pfe-datetime_test.js
  elements/pfe-datetime/test/pfe-datetime_vue_test.html
  elements/pfe-datetime/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(collapse)!: migrate pfe-collapse to lit
  elements/pfe-collapse/.npmignore
  elements/pfe-collapse/custom-elements-manifest.config.js
  elements/pfe-collapse/demo/demo.css
  elements/pfe-collapse/demo/pfe-collapse.html
  elements/pfe-collapse/demo/pfe-collapse.js
  elements/pfe-collapse/demo/pfe-collapse.story.js
  elements/pfe-collapse/docs/index.md
  elements/pfe-collapse/gulpfile.js
  elements/pfe-collapse/package.json
  elements/pfe-collapse/pfe-collapse-panel.scss
  elements/pfe-collapse/pfe-collapse-panel.ts
  elements/pfe-collapse/pfe-collapse-toggle.scss
  elements/pfe-collapse/pfe-collapse-toggle.ts
  elements/pfe-collapse/pfe-collapse.scss
  elements/pfe-collapse/pfe-collapse.ts
  elements/pfe-collapse/rollup.config.js
  elements/pfe-collapse/src/pfe-collapse-panel.html
  elements/pfe-collapse/src/pfe-collapse-toggle.html
  elements/pfe-collapse/src/pfe-collapse.html
  elements/pfe-collapse/src/pfe-collapse.js
  elements/pfe-collapse/src/pfe-collapse.json
  elements/pfe-collapse/test/index.html
  elements/pfe-collapse/test/old-test/pfe-collapse_react_test.html
  elements/pfe-collapse/test/old-test/pfe-collapse_test.html
  elements/pfe-collapse/test/old-test/pfe-collapse_test.js
  elements/pfe-collapse/test/old-test/pfe-collapse_vue_test.html
  elements/pfe-collapse/test/pfe-collapse.spec.ts
  elements/pfe-collapse/test/pfe-collapse_react_test.html
  elements/pfe-collapse/test/pfe-collapse_test.html
  elements/pfe-collapse/test/pfe-collapse_test.js
  elements/pfe-collapse/test/pfe-collapse_vue_test.html
  elements/pfe-collapse/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(icon-panel)!: migrate pfe-icon-panel to lit
  elements/pfe-icon-panel/.npmignore
  elements/pfe-icon-panel/custom-elements-manifest.config.js
  elements/pfe-icon-panel/demo/index.html
  elements/pfe-icon-panel/demo/pfe-icon-panel.html
  elements/pfe-icon-panel/demo/pfe-icon-panel.js
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon-panel/docs/index.md
  elements/pfe-icon-panel/gulpfile.js
  elements/pfe-icon-panel/package.json
  elements/pfe-icon-panel/pfe-icon-panel.scss
  elements/pfe-icon-panel/pfe-icon-panel.ts
  elements/pfe-icon-panel/rollup.config.js
  elements/pfe-icon-panel/src/pfe-icon-panel.html
  elements/pfe-icon-panel/src/pfe-icon-panel.js
  elements/pfe-icon-panel/src/pfe-icon-panel.json
  elements/pfe-icon-panel/test/index.html
  elements/pfe-icon-panel/test/old-test/pfe-icon-panel_react_test.html
  elements/pfe-icon-panel/test/old-test/pfe-icon-panel_test.html
  elements/pfe-icon-panel/test/old-test/pfe-icon-panel_test.js
  elements/pfe-icon-panel/test/old-test/pfe-icon-panel_vue_test.html
  elements/pfe-icon-panel/test/pfe-icon-panel.spec.ts
  elements/pfe-icon-panel/test/pfe-icon-panel_react_test.html
  elements/pfe-icon-panel/test/pfe-icon-panel_test.html
  elements/pfe-icon-panel/test/pfe-icon-panel_test.js
  elements/pfe-icon-panel/test/pfe-icon-panel_vue_test.html
  elements/pfe-icon-panel/tsconfig.json
  elements/pfe-icon/package.json
Labels: demo, doc, functionality, styles, tests, tools

feat(icon)!: migrate pfe-icon to lit
  elements/pfe-icon/.npmignore
  elements/pfe-icon/builtin-icon-sets.ts
  elements/pfe-icon/custom-elements-manifest.config.js
  elements/pfe-icon/demo/icon-sets.js
  elements/pfe-icon/demo/index.html
  elements/pfe-icon/demo/index_e2e.html
  elements/pfe-icon/demo/pfe-icon.html
  elements/pfe-icon/demo/pfe-icon.js
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-icon/docs/index.md
  elements/pfe-icon/gulpfile.js
  elements/pfe-icon/icon-set.ts
  elements/pfe-icon/package.json
  elements/pfe-icon/pfe-icon.scss
  elements/pfe-icon/pfe-icon.ts
  elements/pfe-icon/rollup.config.js
  elements/pfe-icon/src/builtin-icon-sets.js
  elements/pfe-icon/src/icon-set.js
  elements/pfe-icon/src/pfe-icon.html
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-icon/src/polyfills--pfe-icon.js
  elements/pfe-icon/test/index.html
  elements/pfe-icon/test/old-test/pfe-icon_react_test.html
  elements/pfe-icon/test/old-test/pfe-icon_test.html
  elements/pfe-icon/test/old-test/pfe-icon_test.js
  elements/pfe-icon/test/old-test/pfe-icon_vue_test.html
  elements/pfe-icon/test/old-test/rh-icon-aed.svg
  elements/pfe-icon/test/old-test/rh-icon-api.svg
  elements/pfe-icon/test/old-test/rh-icon-atom.svg
  elements/pfe-icon/test/old-test/rh-icon-bike.svg
  elements/pfe-icon/test/pfe-icon.spec.ts
  elements/pfe-icon/test/pfe-icon_config-test-1.html
  elements/pfe-icon/test/pfe-icon_config-test-2.html
  elements/pfe-icon/test/pfe-icon_react_test.html
  elements/pfe-icon/test/pfe-icon_test.html
  elements/pfe-icon/test/pfe-icon_test.js
  elements/pfe-icon/test/pfe-icon_vue_test.html
  elements/pfe-icon/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(health-index)!: migrate pfe-health-index to lit
  elements/pfe-health-index/.npmignore
  elements/pfe-health-index/custom-elements-manifest.config.js
  elements/pfe-health-index/demo/index.html
  elements/pfe-health-index/demo/pfe-health-index.html
  elements/pfe-health-index/demo/pfe-health-index.story.js
  elements/pfe-health-index/docs/index.md
  elements/pfe-health-index/gulpfile.js
  elements/pfe-health-index/package.json
  elements/pfe-health-index/pfe-health-index.scss
  elements/pfe-health-index/pfe-health-index.ts
  elements/pfe-health-index/rollup.config.js
  elements/pfe-health-index/src/pfe-health-index.html
  elements/pfe-health-index/src/pfe-health-index.js
  elements/pfe-health-index/src/pfe-health-index.json
  elements/pfe-health-index/test/index.html
  elements/pfe-health-index/test/old-test/pfe-health-index_react_test.html
  elements/pfe-health-index/test/old-test/pfe-health-index_test.html
  elements/pfe-health-index/test/old-test/pfe-health-index_test.js
  elements/pfe-health-index/test/old-test/pfe-health-index_vue_test.html
  elements/pfe-health-index/test/pfe-health-index.spec.ts
  elements/pfe-health-index/test/pfe-health-index_react_test.html
  elements/pfe-health-index/test/pfe-health-index_test.html
  elements/pfe-health-index/test/pfe-health-index_test.js
  elements/pfe-health-index/test/pfe-health-index_vue_test.html
  elements/pfe-health-index/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(jump-links)!: migrate pfe-jump-links to lit
  elements/pfe-jump-links/custom-elements-manifest.config.js
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/demo/pfe-jump-links.html
  elements/pfe-jump-links/demo/pfe-jump-links.js
  elements/pfe-jump-links/demo/pfe-jump-links.story.js
  elements/pfe-jump-links/demo/test_page.html
  elements/pfe-jump-links/docs/index.md
  elements/pfe-jump-links/gulpfile.js
  elements/pfe-jump-links/package.json
  elements/pfe-jump-links/pfe-jump-links-nav.scss
  elements/pfe-jump-links/pfe-jump-links-nav.ts
  elements/pfe-jump-links/pfe-jump-links-panel.ts
  elements/pfe-jump-links/pfe-jump-links.ts
  elements/pfe-jump-links/rollup.config.js
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.js
  elements/pfe-jump-links/src/pfe-jump-links-panel.js
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-jump-links/src/pfe-jump-links.json
  elements/pfe-jump-links/src/polyfills--pfe-jump-links-nav.js
  elements/pfe-jump-links/test/index.html
  elements/pfe-jump-links/test/pfe-jump-links.spec.ts
  elements/pfe-jump-links/test/pfe-jump-links_react_test.html
  elements/pfe-jump-links/test/pfe-jump-links_test.js
  elements/pfe-jump-links/test/pfe-jump-links_vue_test.html
  elements/pfe-jump-links/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(page-status)!: migrate pfe-page-status to lit
  elements/pfe-page-status/.npmignore
  elements/pfe-page-status/custom-elements-manifest.config.js
  elements/pfe-page-status/demo/index.html
  elements/pfe-page-status/demo/pfe-page-status.html
  elements/pfe-page-status/demo/pfe-page-status.js
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-page-status/docs/demo.md
  elements/pfe-page-status/docs/index.md
  elements/pfe-page-status/gulpfile.js
  elements/pfe-page-status/package.json
  elements/pfe-page-status/pfe-page-status.scss
  elements/pfe-page-status/pfe-page-status.ts
  elements/pfe-page-status/rollup.config.js
  elements/pfe-page-status/src/pfe-page-status.html
  elements/pfe-page-status/src/pfe-page-status.js
  elements/pfe-page-status/src/pfe-page-status.json
  elements/pfe-page-status/test/index.html
  elements/pfe-page-status/test/old-test/pfe-page-status_react_test.html
  elements/pfe-page-status/test/old-test/pfe-page-status_test.html
  elements/pfe-page-status/test/old-test/pfe-page-status_test.js
  elements/pfe-page-status/test/old-test/pfe-page-status_vue_test.html
  elements/pfe-page-status/test/pfe-page-status.spec.ts
  elements/pfe-page-status/test/pfe-page-status_react_test.html
  elements/pfe-page-status/test/pfe-page-status_test.html
  elements/pfe-page-status/test/pfe-page-status_test.js
  elements/pfe-page-status/test/pfe-page-status_vue_test.html
  elements/pfe-page-status/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(modal)!: migrate pfe-modal to lit
  elements/pfe-modal/.npmignore
  elements/pfe-modal/custom-elements-manifest.config.js
  elements/pfe-modal/demo/demo.css
  elements/pfe-modal/demo/index.html
  elements/pfe-modal/demo/pfe-modal.html
  elements/pfe-modal/demo/pfe-modal.js
  elements/pfe-modal/demo/pfe-modal.story.js
  elements/pfe-modal/docs/index.md
  elements/pfe-modal/gulpfile.js
  elements/pfe-modal/package.json
  elements/pfe-modal/pfe-modal.scss
  elements/pfe-modal/pfe-modal.ts
  elements/pfe-modal/rollup.config.js
  elements/pfe-modal/src/pfe-modal.html
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-modal/src/pfe-modal.json
  elements/pfe-modal/src/polyfills--pfe-modal.js
  elements/pfe-modal/test/index.html
  elements/pfe-modal/test/old-test/pfe-modal_react_test.html
  elements/pfe-modal/test/old-test/pfe-modal_test.html
  elements/pfe-modal/test/old-test/pfe-modal_test.js
  elements/pfe-modal/test/old-test/pfe-modal_vue_test.html
  elements/pfe-modal/test/pfe-modal.spec.js
  elements/pfe-modal/test/pfe-modal.spec.ts
  elements/pfe-modal/test/pfe-modal_react_test.html
  elements/pfe-modal/test/pfe-modal_vue_test.html
  elements/pfe-modal/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(markdown)!: migrate pfe-markdown to lit
  elements/pfe-markdown/.npmignore
  elements/pfe-markdown/custom-elements-manifest.config.js
  elements/pfe-markdown/demo/demo.css
  elements/pfe-markdown/demo/index.html
  elements/pfe-markdown/demo/pfe-markdown.html
  elements/pfe-markdown/demo/pfe-markdown.js
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-markdown/docs/index.md
  elements/pfe-markdown/gulpfile.js
  elements/pfe-markdown/package.json
  elements/pfe-markdown/pfe-markdown.scss
  elements/pfe-markdown/pfe-markdown.ts
  elements/pfe-markdown/rollup.config.js
  elements/pfe-markdown/src/pfe-markdown.html
  elements/pfe-markdown/src/pfe-markdown.js
  elements/pfe-markdown/src/pfe-markdown.json
  elements/pfe-markdown/test/index.html
  elements/pfe-markdown/test/old-test/pfe-markdown_react_test.html
  elements/pfe-markdown/test/old-test/pfe-markdown_test.html
  elements/pfe-markdown/test/old-test/pfe-markdown_test.js
  elements/pfe-markdown/test/old-test/pfe-markdown_vue_test.html
  elements/pfe-markdown/test/pfe-markdown.spec.ts
  elements/pfe-markdown/test/pfe-markdown_react_test.html
  elements/pfe-markdown/test/pfe-markdown_test.html
  elements/pfe-markdown/test/pfe-markdown_test.js
  elements/pfe-markdown/test/pfe-markdown_vue_test.html
  elements/pfe-markdown/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(number)!: migrate pfe-number to lit
  elements/pfe-number/.npmignore
  elements/pfe-number/custom-elements-manifest.config.js
  elements/pfe-number/demo/demo.js
  elements/pfe-number/demo/index.html
  elements/pfe-number/demo/pfe-number.html
  elements/pfe-number/demo/pfe-number.js
  elements/pfe-number/demo/pfe-number.story.js
  elements/pfe-number/docs/index.md
  elements/pfe-number/gulpfile.js
  elements/pfe-number/numeral.ts
  elements/pfe-number/package.json
  elements/pfe-number/pfe-number.scss
  elements/pfe-number/pfe-number.ts
  elements/pfe-number/rollup.config.js
  elements/pfe-number/src/pfe-number.html
  elements/pfe-number/src/pfe-number.js
  elements/pfe-number/src/pfe-number.json
  elements/pfe-number/src/polyfills--pfe-number.js
  elements/pfe-number/test/index.html
  elements/pfe-number/test/old-test/pfe-number_react_test.html
  elements/pfe-number/test/old-test/pfe-number_test.html
  elements/pfe-number/test/old-test/pfe-number_test.js
  elements/pfe-number/test/old-test/pfe-number_vue_test.html
  elements/pfe-number/test/pfe-number.spec.ts
  elements/pfe-number/test/pfe-number_react_test.html
  elements/pfe-number/test/pfe-number_test.html
  elements/pfe-number/test/pfe-number_test.js
  elements/pfe-number/test/pfe-number_vue_test.html
  elements/pfe-number/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(progress-indicator)!: migrate pfe-progress-indicator to lit
  elements/pfe-progress-indicator/.npmignore
  elements/pfe-progress-indicator/custom-elements-manifest.config.js
  elements/pfe-progress-indicator/demo/demo.css
  elements/pfe-progress-indicator/demo/index.html
  elements/pfe-progress-indicator/demo/pfe-progress-indicator.html
  elements/pfe-progress-indicator/demo/pfe-progress-indicator.story.js
  elements/pfe-progress-indicator/docs/index.md
  elements/pfe-progress-indicator/gulpfile.js
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-indicator/pfe-progress-indicator.scss
  elements/pfe-progress-indicator/pfe-progress-indicator.ts
  elements/pfe-progress-indicator/rollup.config.js
  elements/pfe-progress-indicator/src/pfe-progress-indicator.html
  elements/pfe-progress-indicator/src/pfe-progress-indicator.js
  elements/pfe-progress-indicator/src/pfe-progress-indicator.json
  elements/pfe-progress-indicator/test/index.html
  elements/pfe-progress-indicator/test/old-test/pfe-progress-indicator_react_test.html
  elements/pfe-progress-indicator/test/old-test/pfe-progress-indicator_test.html
  elements/pfe-progress-indicator/test/old-test/pfe-progress-indicator_test.js
  elements/pfe-progress-indicator/test/old-test/pfe-progress-indicator_vue_test.html
  elements/pfe-progress-indicator/test/pfe-progress-indicator.spec.ts
  elements/pfe-progress-indicator/test/pfe-progress-indicator_react_test.html
  elements/pfe-progress-indicator/test/pfe-progress-indicator_test.html
  elements/pfe-progress-indicator/test/pfe-progress-indicator_test.js
  elements/pfe-progress-indicator/test/pfe-progress-indicator_vue_test.html
  elements/pfe-progress-indicator/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(progress-steps)!: migrate pfe-progress-steps to lit
  elements/pfe-progress-steps/_shared-assets.scss
  elements/pfe-progress-steps/custom-elements-manifest.config.js
  elements/pfe-progress-steps/demo/demo.css
  elements/pfe-progress-steps/demo/index.html
  elements/pfe-progress-steps/demo/pfe-progress-steps.html
  elements/pfe-progress-steps/demo/pfe-progress-steps.story.js
  elements/pfe-progress-steps/docs/index.md
  elements/pfe-progress-steps/gulpfile.js
  elements/pfe-progress-steps/package.json
  elements/pfe-progress-steps/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/pfe-progress-steps-item.ts
  elements/pfe-progress-steps/pfe-progress-steps.scss
  elements/pfe-progress-steps/pfe-progress-steps.ts
  elements/pfe-progress-steps/rollup.config.js
  elements/pfe-progress-steps/src/pfe-progress-steps-item.html
  elements/pfe-progress-steps/src/pfe-progress-steps-item.js
  elements/pfe-progress-steps/src/pfe-progress-steps.html
  elements/pfe-progress-steps/src/pfe-progress-steps.js
  elements/pfe-progress-steps/src/polyfills--pfe-progress-steps.js
  elements/pfe-progress-steps/test/pfe-progress-steps.spec.js
  elements/pfe-progress-steps/test/pfe-progress-steps.spec.ts
  elements/pfe-progress-steps/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(primary-detail)!: migrate pfe-primary-detail
  elements/pfe-primary-detail/custom-elements-manifest.config.js
  elements/pfe-primary-detail/demo/demo.css
  elements/pfe-primary-detail/demo/index.html
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/demo/pfe-primary-detail.js
  elements/pfe-primary-detail/demo/pfe-primary-detail.story.js
  elements/pfe-primary-detail/docs/index.md
  elements/pfe-primary-detail/gulpfile.js
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/pfe-primary-detail--lightdom.scss
  elements/pfe-primary-detail/pfe-primary-detail.scss
  elements/pfe-primary-detail/pfe-primary-detail.ts
  elements/pfe-primary-detail/rollup.config.js
  elements/pfe-primary-detail/src/pfe-primary-detail.html
  elements/pfe-primary-detail/src/pfe-primary-detail.js
  elements/pfe-primary-detail/test/pfe-primary-detail.spec.js
  elements/pfe-primary-detail/test/pfe-primary-detail.spec.ts
  elements/pfe-primary-detail/test/pfe-primary-detail_react_test.html
  elements/pfe-primary-detail/test/pfe-primary-detail_vue_test.html
  elements/pfe-primary-detail/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(readtime)!: migrate pfe-readtime to lit
  elements/pfe-readtime/README.md
  elements/pfe-readtime/custom-elements-manifest.config.js
  elements/pfe-readtime/demo/index.html
  elements/pfe-readtime/demo/index_e2e.html
  elements/pfe-readtime/demo/pfe-readtime.html
  elements/pfe-readtime/demo/pfe-readtime.story.js
  elements/pfe-readtime/docs/index.md
  elements/pfe-readtime/gulpfile.js
  elements/pfe-readtime/package.json
  elements/pfe-readtime/pfe-readtime.scss
  elements/pfe-readtime/pfe-readtime.ts
  elements/pfe-readtime/rollup.config.js
  elements/pfe-readtime/src/pfe-readtime.html
  elements/pfe-readtime/src/pfe-readtime.js
  elements/pfe-readtime/src/pfe-readtime.scss
  elements/pfe-readtime/test/index.html
  elements/pfe-readtime/test/pfe-readtime.spec.ts
  elements/pfe-readtime/test/pfe-readtime_react_test.html
  elements/pfe-readtime/test/pfe-readtime_test.html
  elements/pfe-readtime/test/pfe-readtime_test.js
  elements/pfe-readtime/tsconfig.json
  tools/pfe-tools/package.json
Labels: demo, doc, functionality, styles, tests, tools

feat(select)!: migrate pfe-select to lit
  elements/pfe-select/.babelrc
  elements/pfe-select/.editorconfig
  elements/pfe-select/.npmignore
  elements/pfe-select/custom-elements-manifest.config.js
  elements/pfe-select/demo/index.html
  elements/pfe-select/demo/pfe-select.html
  elements/pfe-select/demo/pfe-select.js
  elements/pfe-select/demo/pfe-select.story.js
  elements/pfe-select/docs/index.md
  elements/pfe-select/gulpfile.js
  elements/pfe-select/package.json
  elements/pfe-select/pfe-select.scss
  elements/pfe-select/pfe-select.ts
  elements/pfe-select/rollup.config.js
  elements/pfe-select/src/pfe-select.html
  elements/pfe-select/src/pfe-select.js
  elements/pfe-select/src/polyfills--pfe-select.js
  elements/pfe-select/test/pfe-select.spec.js
  elements/pfe-select/test/pfe-select.spec.ts
  elements/pfe-select/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

feat(toast)!: migrate pfe-toast to lit
  docs/main.css
  elements/pfe-toast/.babelrc
  elements/pfe-toast/.editorconfig
  elements/pfe-toast/.npmignore
  elements/pfe-toast/custom-elements-manifest.config.js
  elements/pfe-toast/demo/index.html
  elements/pfe-toast/demo/pfe-toast.html
  elements/pfe-toast/demo/pfe-toast.js
  elements/pfe-toast/demo/pfe-toast.story.js
  elements/pfe-toast/docs/index.md
  elements/pfe-toast/gulpfile.js
  elements/pfe-toast/package.json
  elements/pfe-toast/pfe-toast.scss
  elements/pfe-toast/pfe-toast.ts
  elements/pfe-toast/rollup.config.js
  elements/pfe-toast/src/pfe-toast.html
  elements/pfe-toast/src/pfe-toast.js
  elements/pfe-toast/src/pfe-toast.json
  elements/pfe-toast/test/index.html
  elements/pfe-toast/test/old-test/pfe-toast_react_test.html
  elements/pfe-toast/test/old-test/pfe-toast_test.html
  elements/pfe-toast/test/old-test/pfe-toast_test.js
  elements/pfe-toast/test/old-test/pfe-toast_vue_test.html
  elements/pfe-toast/test/pfe-toast.spec.ts
  elements/pfe-toast/test/pfe-toast_react_test.html
  elements/pfe-toast/test/pfe-toast_test.html
  elements/pfe-toast/test/pfe-toast_test.js
  elements/pfe-toast/test/pfe-toast_vue_test.html
  elements/pfe-toast/tsconfig.json
Labels: demo, doc, functionality, styles, tests, tools

chore(ci): fix upload artifacts path
  .github/workflows/tests.yml
Labels: tools

chore(ci): add no-auto-update label
  .github/workflows/autoupdate.yml
Labels: tools

test(autocomplete): visual regression tests
  elements/pfe-autocomplete/demo/pfe-autocomplete.html
  elements/pfe-autocomplete/demo/pfe-autocomplete.js
  elements/pfe-autocomplete/pfe-autocomplete.ts
  elements/pfe-autocomplete/test/pfe-autocomplete.e2e.spec.js-snapshots/pfe-autocomplete-darwin.png
  elements/pfe-autocomplete/test/pfe-autocomplete.e2e.spec.js-snapshots/pfe-autocomplete-with-dropdown-i-darwin.png
  elements/pfe-autocomplete/test/pfe-autocomplete.e2e.spec.ts
  elements/pfe-autocomplete/test/pfe-autocomplete_e2e.js
Labels: demo, functionality, tests

docs: fix demo pages
  docs/demo/index.njk
Labels: doc

chore(config): e2e npm scripts
  package.json
Labels: tools

chore(config): ignore legal build txt
  .gitignore
  docs/demo/bundle.js.LEGAL.txt
Labels: doc, tools

chore(config): test parallel
  .github/workflows/tests.yml
  playwright.browserstack.config.ts
  playwright.config.ts
Labels: tools

.github/labeler.yml:

demo:
  - elements/*/demo/*
  - core/*/demo/*

generator:
  - tools/create-element/**/*

doc:
  - docs/**/*
  - elements/**/*.{md,txt}

functionality:
  - elements/*/*.{ts,html}
  - core/*/*.{ts,html}

styles:
  - elements/*/*.{scss,css}
  - tokens/**/*

tests:
  - elements/*/test/*

tools:
  - scripts/*
  - tools/**/*
  - elements/*/tsconfig.json
  - .github/**/*
  - ./.*
  - ./*.{js,json,yml}
