Repository patternfly/patternfly-elements, pull requests merged in 2019-05, with the labels that each got.

#412 A few enhancements for pfe-page-status
  elements/pfe-page-status/README.md
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-page-status/src/pfe-page-status.js
  elements/pfe-page-status/src/pfe-page-status.json
  elements/pfe-page-status/src/pfe-page-status.scss
  elements/pfe-page-status/src/pfe-page-status.story.js
  elements/pfe-page-status/test/pfe-page-status_test.html
Labels: fork

#411 Update Storybook utils to support self-closing tag
  .storybook/utils.js
Labels: needs branch testing, needs code review, tools

#405 WIP: Adjustments to abstract heading values
  docs/resources/_gen/assets/scss/src/sass/kube.scss_48b060fe05b0a273d182ef83c0605941.content
  docs/resources/_gen/assets/scss/src/sass/kube.scss_48b060fe05b0a273d182ef83c0605941.json
  elements/pfe-sass/red-hat-font.scss
  elements/pfe-sass/variables/_maps.scss
  elements/pfe-text/demo/index.html
  elements/pfe-text/src/pfe-text.scss
  examples/index.html
Labels: fork, needs discussion

#312 Card feature updates
  elements/pfe-card/README.md
  elements/pfe-card/demo/index.html
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-card/package-lock.json
  elements/pfe-card/src/pfe-card.html
  elements/pfe-card/src/pfe-card.js
  elements/pfe-card/src/pfe-card.json
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-card/test/pfe-card_test.html
  elements/pfe-sass/variables/_maps.scss
  elements/pfelement/src/pfelement.js
Labels: 1.0, Ready to merge, component

#407 adding a slotchange listener and adding tests
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/test/pfe-cta_test.html
Labels: needs branch testing, needs code review

#358 pfe-markdown element
  .storybook/config.js
  .storybook/test-theme.css
  elements/pfe-markdown/.babelrc
  elements/pfe-markdown/.editorconfig
  elements/pfe-markdown/.npmignore
  elements/pfe-markdown/.travis.yml
  elements/pfe-markdown/LICENSE.txt
  elements/pfe-markdown/README.md
  elements/pfe-markdown/demo/index.html
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-markdown/gulpfile.js
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-markdown/rollup.config.js
  elements/pfe-markdown/src/pfe-markdown.html
  elements/pfe-markdown/src/pfe-markdown.js
  elements/pfe-markdown/src/pfe-markdown.json
  elements/pfe-markdown/src/pfe-markdown.scss
  elements/pfe-markdown/test/index.html
  elements/pfe-markdown/test/pfe-markdown_test.html
  examples/index.html
  test/index.html
Labels: component

#419 moving this.button initialization to the constructor
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/src/pfe-accordion.js
Labels: needs branch testing, needs code review
