Repository patternfly/patternfly-elements, pull requests merged in 2019-11, with the labels that each got.

#470 Fix | band layout
  CHANGELOG-prerelease.md
  elements/pfe-band/README.md
  elements/pfe-band/demo/index.html
  elements/pfe-band/package-lock.json
  elements/pfe-band/src/pfe-band.html
  elements/pfe-band/src/pfe-band.scss
Labels: 1.0

#624 fix: pfe-cta animation effect
  CHANGELOG-prerelease.md
  elements/pfe-cta/src/pfe-cta.scss
Labels: bug, needs branch testing, needs code review

#553 pfe-select Component
  CHANGELOG-prerelease.md
  elements/pfe-select/.babelrc
  elements/pfe-select/.editorconfig
  elements/pfe-select/.npmignore
  elements/pfe-select/.travis.yml
  elements/pfe-select/LICENSE.txt
  elements/pfe-select/README.md
  elements/pfe-select/demo/index.html
  elements/pfe-select/demo/pfe-select.story.js
  elements/pfe-select/docs/ABOUT.md
  elements/pfe-select/docs/ATTRIBUTES.md
  elements/pfe-select/docs/EVENTS.md
  elements/pfe-select/docs/SLOTS.md
  elements/pfe-select/docs/STYLING.md
  elements/pfe-select/docs/USAGE.md
  elements/pfe-select/gulpfile.js
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-select/rollup.config.js
  elements/pfe-select/src/pfe-select.html
  elements/pfe-select/src/pfe-select.js
  elements/pfe-select/src/pfe-select.scss
  elements/pfe-select/test/index.html
  elements/pfe-select/test/pfe-select_test.html
  examples/index.html
  test/index.html
Labels: needs code review
