Repository patternfly/patternfly-elements, pull requests merged in 2019-09, with the labels that each got.

#550 Set up files array for packages to control compiled assets
  .gitignore
  CHANGELOG-prerelease.md
  docs/content/develop/step-1a.md
  elements/pfe-accordion/gulpfile.js
  elements/pfe-accordion/package.json
  elements/pfe-cta/package.json
  elements/pfe-icon/package.json
  elements/pfelement/gulpfile.js
  elements/pfelement/package.json
  scripts/gulpfile.factory.js
  scripts/rollup.config.factory.js
Labels: tools

#551 Add Patternfly as a dependency
  CHANGELOG-prerelease.md
  package-lock.json
  package.json
Labels: enhancement, integration, tools

#529 Update documentation
  docs/README.md
  docs/assets/sass/pfelements.scss
  docs/config.toml
  docs/content/develop/javascript.md
  docs/content/develop/step-1a.md
  docs/content/develop/step-4.md
  docs/content/develop/templates.md
  docs/content/getting-started/using-pfelements.md
  docs/content/theme/pfe-color-palette.md
  docs/content/theme/pfe-theme-component.md
  docs/content/theme/pfe-theme-slots.md
  docs/content/theme/theming-for-older-browsers.md
  docs/static/HTML__select__Tag.jpg
  docs/static/theme__code_block_1.png
  docs/static/theme__code_block_2.png
  docs/static/theme__code_block_3.png
  docs/static/version_storybook.png
  docs/themes/kube/assets/src/sass/modules/_typo.scss
Labels: good first issue, needs code review

#554 Support table
  README.md
Labels: 1.0, Ready to merge

#555 Add link to issues in all package.json files
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-band/package.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-layouts/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-tabs/package.json
  elements/pfelement/package.json
Labels: Ready to merge
