Repository patternfly/patternfly-elements, pull requests merged in 2019-10, with the labels that each got.

#421 pfe-navigation component
  .storybook/utils.js
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-icon/demo/index.html
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/src/pfe-icon.html
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-icon/test/pfe-icon_test.html
  elements/pfe-layouts/src/pfe-base.scss
  elements/pfe-navigation/.babelrc
  elements/pfe-navigation/.editorconfig
  elements/pfe-navigation/.npmignore
  elements/pfe-navigation/.travis.yml
  elements/pfe-navigation/LICENSE.txt
  elements/pfe-navigation/README.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/pfe-navigation.story.js
  elements/pfe-navigation/gulpfile.js
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-navigation/rollup.config.js
  elements/pfe-navigation/src/_shared-assets.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation-item.html
  elements/pfe-navigation/src/pfe-navigation-item.js
  elements/pfe-navigation/src/pfe-navigation-item.json
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation-main.html
  elements/pfe-navigation/src/pfe-navigation-main.js
  elements/pfe-navigation/src/pfe-navigation-main.scss
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.json
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/test/index.html
  elements/pfe-navigation/test/pfe-navigation_test.html
  elements/pfe-sass/functions/_functions.scss
  elements/pfe-sass/mixins/_mixins.scss
  elements/pfe-sass/pfe-sass.scss
  elements/pfe-sass/variables/_colors.scss
  elements/pfe-sass/variables/_maps.scss
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfelement/package-lock.json
  elements/pfelement/src/pfelement.js
  examples/index.html
  package.json
  scripts/gulpfile.factory.js
  spandx.config.js
  test/index.html
Labels: component, prioritized

#556 Moved crucial how-to documentation
  docs/content/getting-started/_index.md
  docs/content/getting-started/using-pfelements.md
Labels: needs code review

#565 Add automatic Sass globbing to pfe-sass
  .gitignore
  CHANGELOG-prerelease.md
  elements/pfe-sass/README.md
  elements/pfe-sass/_functions.scss
  elements/pfe-sass/_mixins.scss
  elements/pfe-sass/_variables.scss
  elements/pfe-sass/gulpfile.js
  elements/pfe-sass/maps/_colors.scss
  elements/pfe-sass/maps/_general.scss
  elements/pfe-sass/package.json
  elements/pfe-sass/pfe-sass.scss
  elements/pfe-sass/rollup.config.js
  elements/pfe-sass/variables/_1-definitions.scss
  elements/pfe-sass/variables/_2-crayon.scss
  elements/pfe-sass/variables/_3-colors.scss
  package-lock.json
  package.json
  scripts/gulpfile.factory.js
Labels: Ready to merge, enhancement

#417 Fix image distortion in cards
  elements/pfe-card/src/pfe-card.scss
Labels: needs branch testing, needs browser testing, needs code review

#366 Upgrade to latest version of storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  CHANGELOG-prerelease.md
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-accordion/docs/ABOUT.md
  elements/pfe-accordion/docs/ATTRIBUTES.md
  elements/pfe-accordion/docs/EVENTS.md
  elements/pfe-accordion/docs/SLOTS.md
  elements/pfe-accordion/docs/STYLING.md
  elements/pfe-accordion/docs/USAGE.md
  elements/pfe-avatar/demo/pfe-avatar.story.js
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-collapse/demo/pfe-collapse.story.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-datetime/demo/pfe-datetime.story.js
  elements/pfe-health-index/demo/pfe-health-index.story.js
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-layouts/demo/pfe-layouts.story.js
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-modal/demo/pfe-modal.story.js
  elements/pfe-number/demo/pfe-number.story.js
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-progress-indicator/demo/pfe-progress-indicator.story.js
  elements/pfe-tabs/demo/pfe-tabs.story.js
  package-lock.json
  package.json
Labels: 1.0, Ready to merge, enhancement, tools

#576 Add pfe-number schema
  elements/pfe-number/src/pfe-number.json
Labels: 1.0, needs code updates

#573 pfe-card -- fix storybook issue with incorrect attribute
  CHANGELOG-prerelease.md
  elements/pfe-card/src/pfe-card.js
  elements/pfe-card/src/pfe-card.json
Labels: 1.0, Ready to merge

#574 adding a schema to pfe-datetime
  CHANGELOG-prerelease.md
  elements/pfe-datetime/README.md
  elements/pfe-datetime/src/pfe-datetime.json
  package-lock.json
Labels: 1.0, needs code updates

#578 Maintain circled pfe-icon height in flex display
  .storybook/utils.js
  CHANGELOG-prerelease.md
  elements/pfe-icon-panel/src/pfe-icon-panel.scss
  elements/pfe-icon/src/pfe-icon.json
  elements/pfe-icon/src/pfe-icon.scss
Labels: 1.0, merge conflicts, needs code review

#566 pfe-cta: Add wind variant styles for "brick" design
  .storybook/utils.js
  CHANGELOG-prerelease.md
  elements/pfe-cta/README.md
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-cta/src/pfe-cta--lightdom.scss
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/src/pfe-cta.json
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-cta/test/pfe-cta_test.html
  elements/pfe-sass/functions/_functions.scss
  elements/pfe-sass/maps/_general.scss
  package-lock.json
Labels: Style updates

#391 Fix bug in pfe-tab-panel
  CHANGELOG-prerelease.md
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
Labels: 1.0, bug

#572 adding a schema to pfe-icon-panel
  CHANGELOG-prerelease.md
  elements/pfe-icon-panel/src/pfe-icon-panel.json
Labels: 1.0, needs changelog, needs code updates

#567 US225619 pfe nav style updates
  CHANGELOG-prerelease.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/src/_shared-assets.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation-main.scss
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  package-lock.json
Labels: work in progress!

#595 Fix IE11 bugs in pfe-tabs
  CHANGELOG-prerelease.md
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
Labels: bug
