Repository patternfly/patternfly-elements, pull requests merged in 2019-07, with the labels that each got.

#453 adding a version getter to each component
  elements/pfe-accordion/gulpfile.js
  elements/pfe-autocomplete/gulpfile.js
  elements/pfe-avatar/gulpfile.js
  elements/pfe-band/gulpfile.js
  elements/pfe-card/gulpfile.js
  elements/pfe-content-set/gulpfile.js
  elements/pfe-cta/gulpfile.js
  elements/pfe-datetime/gulpfile.js
  elements/pfe-health-index/gulpfile.js
  elements/pfe-icon-panel/gulpfile.js
  elements/pfe-icon/gulpfile.js
  elements/pfe-markdown/gulpfile.js
  elements/pfe-number/gulpfile.js
  elements/pfe-page-status/gulpfile.js
  elements/pfe-tabs/gulpfile.js
  elements/pfelement/gulpfile.js
  elements/pfelement/src/pfelement.js
  scripts/gulpfile.factory.js
Labels: needs branch testing, needs code review

#464 remove sourceMappingURL from src/pfelement.js
  elements/pfelement/src/pfelement.js
Labels: Ready to merge

#353 pfe-cta bug fixes + open brand styles
  elements/pfe-band/src/pfe-band.js
  elements/pfe-card/demo/index.html
  elements/pfe-card/src/pfe-card.js
  elements/pfe-cta/README.md
  elements/pfe-cta/demo/demo.css
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-cta/src/pfe-cta--lightdom.scss
  elements/pfe-cta/src/pfe-cta.html
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/src/pfe-cta.json
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-cta/test/pfe-cta_test.html
  elements/pfe-sass/README.md
  elements/pfe-sass/functions/_functions.scss
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/variables/_colors.scss
  elements/pfe-sass/variables/_maps.scss
  elements/pfelement/package-lock.json
  package-lock.json
Labels: 1.0, component, prioritized

#445 fix pfe-avatar in ie11
  elements/pfe-avatar/demo/index.html
  elements/pfe-avatar/src/hslrgb.js
  elements/pfe-avatar/src/pfe-avatar.js
Labels: bug

#463 dev-pull-request-template add testing instructions to PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  CHANGELOG-prerelease.md
  DISCOVERY.md
Labels: docs
