Repository patternfly/patternfly-elements, pull requests merged in 2019-04, with the labels that each got.

#322 Removing duplicate has_slot function in PFElement
  elements/pfelement/src/pfelement.js
Labels: needs code review

#382 Add some additional information to each package file
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-band/package.json
  elements/pfe-card/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-layouts/package.json
  elements/pfe-number/package.json
  elements/pfe-sass/package.json
  elements/pfe-tabs/package.json
  elements/pfelement/package.json
  package-lock.json
  package.json
Labels: good first issue, needs code review

#379 Documenting release steps
  docs/content/develop/step-4.md
Labels: docs, needs code review, needs discussion

#277 Pt 2: Storybook updates
  .storybook/utils.js
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/src/pfe-accordion.json
  elements/pfe-accordion/test/pfe-accordion_test.html
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-band/src/pfe-band.json
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.json
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-datetime/demo/pfe-datetime.story.js
  elements/pfe-health-index/demo/pfe-health-index.story.js
  elements/pfe-tabs/demo/pfe-tabs.story.js
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-tabs/src/pfe-tabs.json
  elements/pfelement/src/pfelement.js
Labels: enhancement, needs code review

#401 adding a mutationobserver to pfe-accordion
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion_test.html
Labels: needs branch testing, needs code review

#402 adding a mutationobserver to pfe-tabs
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-tabs/test/pfe-tabs_test.html
Labels: needs branch testing, needs code review
