Repository patternfly/patternfly-elements, pull requests merged in 2019-12, with the labels that each got.

#642 DE21128-broadcast-theme-hooks
  CHANGELOG-prerelease.md
  elements/pfe-card/demo/index.html
  elements/pfe-sass/mixins/_custom-properties.scss
Labels: Style updates, needs branch testing, needs browser testing, needs changelog, needs code updates

#648 fix: add the word "zindex" back to z-index variable names
  CHANGELOG-prerelease.md
  elements/pfe-sass/functions/_custom-properties.scss
Labels: bug

#625 pfe-badge
  elements/pfe-badge/.babelrc
  elements/pfe-badge/.editorconfig
  elements/pfe-badge/.npmignore
  elements/pfe-badge/.travis.yml
  elements/pfe-badge/LICENSE.txt
  elements/pfe-badge/README.md
  elements/pfe-badge/demo/index.html
  elements/pfe-badge/demo/pfe-badge.story.js
  elements/pfe-badge/gulpfile.js
  elements/pfe-badge/package.json
  elements/pfe-badge/rollup.config.js
  elements/pfe-badge/src/pfe-badge.html
  elements/pfe-badge/src/pfe-badge.js
  elements/pfe-badge/src/pfe-badge.json
  elements/pfe-badge/src/pfe-badge.scss
  elements/pfe-badge/test/index.html
  elements/pfe-badge/test/pfe-badge_test.html
  examples/index.html
  test/index.html
Labels: needs code review
