Repository patternfly/patternfly-elements, pull requests merged in 2019-06, with the labels that each got.

#422 removing WIP from the README
  elements/pfe-accordion/README.md
Labels: docs

#424 Making PFElements Card Element a heading in the README
  elements/pfe-card/README.md
Labels: docs

#423 making PFElements Avatar Element a header in the README
  elements/pfe-avatar/README.md
Labels: docs

#430 Adding 2 demo scripts to the npm package
  docs/resources/_gen/assets/scss/src/sass/kube.scss_48b060fe05b0a273d182ef83c0605941.content
  docs/resources/_gen/assets/scss/src/sass/kube.scss_48b060fe05b0a273d182ef83c0605941.json
  package-lock.json
  package.json
Labels: enhancement, needs branch testing, needs code review, tools

#432 adding a check in pfe-tab-panel to see if associated tab is selected when panel is initialized
  elements/pfe-tabs/src/pfe-tabs.js
Labels: bug, needs branch testing, needs code review

#454 fixing the super call in the constructor of pfe-health-index
  elements/pfe-health-index/src/pfe-health-index.js
Labels: needs branch testing, needs code review
