Repository patternfly/patternfly-elements, pull requests merged in 2019-03, with the labels that each got.

#346 Fixes issue #345: pfe-content-set
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion_test.html
  elements/pfe-content-set/LICENSE.txt
  elements/pfe-content-set/README.md
  elements/pfe-content-set/demo/browser_testing.html
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-content-set/gulpfile.js
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-content-set/src/pfe-content-set.css
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.scss
  elements/pfe-content-set/test/pfe-content-set_test.html
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-tabs/src/pfe-tabs.scss
  elements/pfe-tabs/test/pfe-tabs_test.html
  package-lock.json
Labels: bug, needs code updates

#364 Set accordion placeholders fork
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-band/demo/index.html
  elements/pfe-content-set/demo/index.html
  elements/pfe-sass/mixins/_mixins.scss
  themes/cp-theme/src/cp-theme.scss
Labels: needs branch testing

#361 #issue-360: resolve grid gap issue wtth band body
  elements/pfe-band/README.md
  elements/pfe-band/demo/index.html
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-sass/mixins/_mixins.scss
  package-lock.json
Labels: enhancement

#374 Suggested mixin updates
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-sass/mixins/_mixins.scss
Labels: Style updates, enhancement, needs code review

#336 Fixes issue #310: pfe-band - resolve layout issues
  elements/pfe-band/demo/index.html
  elements/pfe-band/src/pfe-band.scss
Labels: Ready to merge

#363 US198278 tab design updates
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/test/pfe-content-set_test.html
  elements/pfe-sass/mixins/_mixins.scss
  elements/pfe-sass/variables/_crayola.scss
  elements/pfe-sass/variables/_maps.scss
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/demo/pfe-tabs.story.js
  elements/pfe-tabs/src/pfe-tab-panel.html
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.html
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-tabs/src/pfe-tabs.scss
Labels: needs branch testing, needs browser testing

#334 Add autoprefixer to the repo
  elements/pfe-band/demo/index.html
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-layouts/gulpfile.js
  package-lock.json
  package.json
  scripts/gulpfile.factory.js
  themes/cp-theme/src/cp-theme.scss
Labels: enhancement
