Repository patternfly/patternfly-elements, pull requests merged in 2020-11, with the labels that each got.

#1156 Cpfed 3852 sticky nav test
  elements/pfe-navigation/demo/single-nav-sticky.html
  elements/pfe-navigation/demo/single-nav.html
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: demo, functionality, needs: code review, styles

#1151 fix: updated pfe-autocomplete slotted input to use correct font
  CHANGELOG-prerelease.md
  elements/pfe-autocomplete/src/pfe-autocomplete.scss
Labels: run e2e, size: sm, styles

#1062 Fix: Add the build to the release script
  CHANGELOG-1.x.md
  scripts/release.sh
Labels: next release, priority: medium, tools

#1184 fix: pfe-accordion adding right border and shadow back
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-panel.scss
Labels: styles

#1083 fix: unwanted padding on pfe-accordion
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-panel.scss
Labels: bug, design system, styles

#1135 fix: pfe-tabs vertical on mobile
  CHANGELOG-1.x.md
  elements/pfe-tabs/src/pfe-tabs.scss
Labels: bug, priority: low, run e2e, size: sm, styles

#1186 Cpfed 3850 close menu nav loses focus
  elements/pfe-navigation/demo/single-nav-sticky.html
  elements/pfe-navigation/src/pfe-navigation.js
Labels: demo, functionality, needs: code review

#1168 fix: umd.min modules now import umd.min builds of PFE dependencies
  CHANGELOG-1.x.md
  scripts/gulpfile.factory.js
  scripts/rollup.config.factory.js
Labels: needs: branch testing, needs: browser testing, needs: changelog, needs: code review, tools

#1127 fix: saturated visited link color
  CHANGELOG-1.x.md
  elements/pfe-card/demo/index.html
  elements/pfe-sass/maps/_colors.scss
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-card.png
Labels: bug, demo, priority: high, ready to merge, styles

#996 feat: Rename theme to context
  .gitattributes
  .github/ISSUE_TEMPLATE/new_component.md
  .github/ISSUE_TEMPLATE/update_component.md
  CHANGELOG-1.x.md
  README.md
  docs/assets/pfe-base-sass/functions/_functions.scss
  docs/assets/sass/pfelements.scss
  docs/content/develop/_index.md
  docs/content/develop/step-2c.md
  docs/content/develop/templates.md
  docs/content/getting-started/_index.md
  docs/content/theme/_index.md
  docs/content/theme/color-palette.md
  docs/content/theme/pfe-theme-slots.md
  docs/content/theme/pfe_dynamic_templates.md
  docs/content/theme/theme-palette.md
  docs/content/theme/theming-for-older-browsers.md
  docs/content/theme/writing-web-component-styles.md
  docs/layouts/_default/baseof.html
  docs/layouts/blog/single.html
  docs/layouts/docs/single.html
  docs/layouts/partials/footer.html
  docs/layouts/partials/post/related-content.html
  docs/layouts/section/docs.html
  docs/themes/kube/assets/dist/css/kube.css
  docs/themes/kube/assets/dist/css/kube.min.css
  docs/themes/kube/assets/dist/themes/kube.theme.css
  docs/themes/kube/assets/dist/themes/kube.theme.min.css
  docs/themes/kube/layouts/_default/baseof.html
  docs/themes/kube/layouts/_default/single.html
  docs/themes/kube/static/css/kube.css
  docs/themes/kube/static/css/kube.min.css
  elements/pfe-accordion/docs/STYLING.md
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-avatar/README.md
  elements/pfe-badge/README.md
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-band/test/pfe-band_test.html
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-sass/mixins/_custom-properties.scss
  elements/pfe-select/README.md
  elements/pfe-select/docs/STYLING.md
  elements/pfe-styles/demo/pfe-colors.css
  elements/pfe-tabs/README.md
  elements/pfelement/src/pfelement.js
  index.html
  scripts/license-update.js
Labels: demo, doc, feature, functionality, next release, priority: medium, size: sm, styles, tests, tools

#1194 Fix issue 1175 cta ie
  CHANGELOG-1.x.md
  elements/pfe-cta/src/pfe-cta--lightdom.scss
  elements/pfe-cta/src/pfe-cta.scss
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation.png
  test/vrt-baseline/desktop_ie/pfe-band.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-cta.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
  test/vrt-baseline/desktop_ie/pfe-modal.png
  test/vrt-baseline/desktop_ie/pfe-navigation.png
Labels: next release, priority: high, ready to merge, size: sm, styles

#1185 test: updating pfe-accordion vrt baseline images
  test/vrt-baseline/desktop_chrome/pfe-accordion.png
  test/vrt-baseline/desktop_ie/pfe-accordion.png
Labels: next release, run e2e, size: sm, tests
