Repository patternfly/patternfly-elements, pull requests merged in 2020-02, with the labels that each got.

#718 feat: adding the ability for pfe-navigation to use the full width of …
  CHANGELOG-prerelease.md
  elements/pfe-navigation/README.md
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation-item.js
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.json
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/test/pfe-navigation_test.html
Labels: enhancement, needs branch testing, needs browser testing, needs changelog, needs code review

#710 feat: Update pfe-content-set to accept custom container queries
  CHANGELOG-prerelease.md
  elements/pfe-content-set/README.md
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.json
  elements/pfe-content-set/test/pfe-content-set_test.html
Labels: needs changelog

#630 feat: [pfe-cta] Add disabled and context styles to CTA component, & clean up light dom
  CHANGELOG-prerelease.md
  elements/pfe-cta/README.md
  elements/pfe-cta/demo/demo.css
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/src/pfe-cta--lightdom.scss
  elements/pfe-cta/src/pfe-cta.html
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-cta/test/pfe-cta_test.html
  elements/pfe-sass/extends/_extends.scss
  elements/pfe-sass/maps/_colors.scss
  examples/index.html
Labels: enhancement, needs branch testing, needs code review
