Repository patternfly/patternfly-elements, pull requests merged in 2020-12, with the labels that each got.

#828 fix: Storybook bug fixes; jump links imports
  .storybook/color.js
  .storybook/config.js
  .storybook/custom-theme.css
  .storybook/preview-head.html
  .storybook/test-theme.css
  .storybook/utils.js
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-autocomplete/demo/pfe-autocomplete.story.js
  elements/pfe-avatar/demo/pfe-avatar.story.js
  elements/pfe-badge/demo/pfe-badge.story.js
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-button/demo/pfe-button.story.js
  elements/pfe-button/src/pfe-button.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-dropdown/demo/pfe-dropdown.story.js
  elements/pfe-health-index/demo/pfe-health-index.story.js
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/demo/pfe-jump-links.story.js
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.js
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links-panel.js
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-modal/demo/pfe-modal.story.js
  elements/pfe-navigation/demo/pfe-navigation.story.js
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-progress-indicator/demo/pfe-progress-indicator.story.js
  elements/pfe-select/README.md
  elements/pfe-select/demo/pfe-select.story.js
  elements/pfe-select/src/pfe-select.js
  elements/pfe-styles/src/pfe-base.scss
  elements/pfe-tabs/demo/pfe-tabs.story.js
  examples/index.html
  generators/element/templates/demo/element.story.js
  scripts/open-pr.js
Labels: demo, doc, functionality, generator, needs: code review, styles, tools

#1042 fix: Reduce unnecessary interpolation and function calls
  CHANGELOG-1.x.md
  docs/content/develop/properties.md
  docs/content/develop/step-2d.md
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-band/README.md
  elements/pfe-band/demo/demo.css
  elements/pfe-band/demo/index.html
  elements/pfe-band/src/pfe-band.html
  elements/pfe-band/src/pfe-band.js
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-datetime/src/pfe-datetime.js
  elements/pfe-dropdown/src/pfe-dropdown.scss
  elements/pfe-health-index/src/pfe-health-index.scss
  elements/pfe-icon-panel/src/pfe-icon-panel.scss
  elements/pfe-icon/demo/index.html
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-modal/src/pfe-modal.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation--noscript.scss
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-page-status/src/pfe-page-status.scss
  elements/pfe-sass/extends/_extends.scss
  elements/pfe-sass/functions/_1-tools.scss
  elements/pfe-sass/functions/_custom-properties.scss
  elements/pfe-sass/mixins/_containers.scss
  elements/pfe-sass/mixins/_mixins.scss
  elements/pfe-styles/src/layouts/_bullseye.scss
  elements/pfe-styles/src/layouts/_grid.scss
  elements/pfe-styles/src/pfe-colors.scss
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
  elements/pfe-toast/src/pfe-toast.scss
  examples/index.html
  index.html
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-band.png
Labels: demo, doc, functionality, next release, priority: low, ready to merge, size: md, styles, tests

#1205 docs: update 1.0 changelog
  CHANGELOG-1.x.md
Labels: ready to merge

#1206 version bumps from release/v1.0.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge

#1215 CPFED-3949: add alert banner demo and remove role banner from pfe-nav
  elements/pfe-navigation/demo/single-nav-sticky-alert-banner.html
Labels: demo

#1219 ci: Patch the add-path deprecation for the build task
  .github/workflows/tests.yml
Labels: bug, needs: code review, priority: high, size: sm, tools

#1222 CI: Reduce when automerge tries to run for API overages
  .github/workflows/automerge.yml
Labels: ready to merge, tools

#1108 feat: add button variant to pfe-autocomplete
  .storybook/color.js
  elements/pfe-autocomplete/README.md
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-autocomplete/src/pfe-autocomplete.html
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-autocomplete/src/pfe-autocomplete.json
  elements/pfe-autocomplete/src/pfe-autocomplete.scss
  elements/pfe-autocomplete/test/pfe-autocomplete_react_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete_test.js
  elements/pfe-autocomplete/test/pfe-autocomplete_vue_test.html
  elements/pfe-button/src/pfe-button.json
  elements/pfe-button/test/pfe-button_test.html
  spandx.config.js
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_ie/pfe-autocomplete.png
Labels: demo, doc, functionality, ready to merge, styles, tests, tools

#1223 CI: fixing broken automerge
  .github/workflows/automerge.yml
  .github/workflows/tests.yml
Labels: needs: code review, run e2e, tools

#1229 bug: updating pfe-button dependency to point at pfelement 1.0.0
  elements/pfe-button/package.json
Labels: ready to merge

#1231 doc: Update contributing guidelines to emphasize issues
  CONTRIBUTING.md
Labels: run e2e, size: sm

#1240 CI: Update scripts to fix compile errors
  .github/workflows/automerge.yml
  .github/workflows/label.yml
Labels: ready to merge, run e2e, tools

#1238 fix: Accordion set to hidden when assigned to content set panel
  CHANGELOG-1.x.md
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/test/pfe-content-set_test.js
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: functionality, ready to merge, tests

#1245 CI: Clean up issues still in the scripts
  .github/workflows/automerge.yml
  .github/workflows/label.yml
  .github/workflows/tests.yml
Labels: priority: low, ready to merge, tools

#1224 fix: Patch Jump links error
  CHANGELOG-1.x.md
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/demo/test_page.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.js
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links-panel.js
  elements/pfe-jump-links/src/polyfills--pfe-jump-links-nav.js
  elements/pfe-jump-links/test/index.html
  elements/pfe-jump-links/test/old-test/pfe-jump-links_test.html
  elements/pfe-jump-links/test/old-test/pfe-jump-links_test.js
  elements/pfe-jump-links/test/old-test/pfe-jump-links_vue_test.html
  elements/pfe-jump-links/test/pfe-jump-links_e2e.js
  elements/pfe-jump-links/test/pfe-jump-links_test.html
  elements/pfe-jump-links/test/pfe-jump-links_test.js
  elements/pfe-jump-links/test/pfe-jump-links_vue_test.html
  test/vrt-baseline/desktop_chrome/pfe-jump-links.png
Labels: demo, doc, functionality, ready to merge, styles, tests

#1247 version bumps from release/v1.1.0
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge, release

#1244 fix: Move sassmaps into dist
  CHANGELOG-1.x.md
  scripts/gulpfile.factory.js
Labels: bug, needs: branch testing, priority: low, tools
