Repository patternfly/patternfly-elements, pull requests merged in 2020-06, with the labels that each got.

#905 docs: Update templates and guides
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_component.md
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  .github/PULL_REQUEST_TEMPLATE/update_component.md
  .github/PULL_REQUEST_TEMPLATE/update_documentation.md
  .github/PULL_REQUEST_TEMPLATE/update_infrastructure.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: Ready: code review, doc

#909 feat: Set up automatic labels
  .github/labeler.yml
  .github/workflows/label.yml
  CHANGELOG-prerelease.md
Labels: Ready to merge, tools

#916 Updating an existing component template
  .github/ISSUE_TEMPLATE/update_component.md
Labels: Design System

#867 feat: Allow icon sets to be updated
  .storybook/utils.js
  CHANGELOG-prerelease.md
  elements/pfe-badge/package-lock.json
  elements/pfe-icon-panel/README.md
  elements/pfe-icon-panel/demo/index.html
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon-panel/src/pfe-icon-panel.html
  elements/pfe-icon-panel/src/pfe-icon-panel.js
  elements/pfe-icon-panel/src/pfe-icon-panel.json
  elements/pfe-icon-panel/src/pfe-icon-panel.scss
  elements/pfe-icon-panel/test/pfe-icon-panel_test.html
  elements/pfe-icon/README.md
  elements/pfe-icon/demo/icon-sets.js
  elements/pfe-icon/demo/icon-sets.json
  elements/pfe-icon/demo/img-test.html
  elements/pfe-icon/demo/index.html
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-icon/demo/svgtest.html
  elements/pfe-icon/demo/use-duplicate.html
  elements/pfe-icon/demo/use-img.html
  elements/pfe-icon/demo/use-local.html
  elements/pfe-icon/demo/use-remote.html
  elements/pfe-icon/src/builtin-icon-sets.js
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-icon/src/pfe-icon.json
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-icon/test/pfe-icon_test.html
  elements/pfelement/src/pfelement.js
  examples/index.html
Labels: demo, doc, functionality, styles, tests

#922 docs: pfe-number update for storybook
  elements/pfe-number/demo/pfe-number.story.js
Labels: demo

#920 feat: Enable automerging of branches
  .github/workflows/automerge.yml
  CHANGELOG-prerelease.md
Labels: Ready: code review, feature, sev-2, tools

#925 docs: Fix misspelling of src attribute
  docs/content/getting-started/_index.md
Labels: Ready to merge, doc

#915 fix: pfe-dropdown: remove preventDefault call on clicks outside of dropdown
  CHANGELOG-prerelease.md
  elements/pfe-dropdown/src/pfe-dropdown.js
  elements/pfe-dropdown/test/pfe-dropdown_test.html
Labels: functionality, tests

#924 fix: pfe-modal removing hidden attribute
  CHANGELOG-prerelease.md
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-modal/test/pfe-modal_test.html
Labels: demo, functionality, needs: AT updates, tests

#944 Fix capitalization of labels & column name in Github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_component.md
  .github/ISSUE_TEMPLATE/update_component.md
  .github/workflows/automerge.yml
  .github/workflows/project.yml
  CHANGELOG-prerelease.md
Labels: priority: high, ready to merge, size: sm, tools

#908 fix: fixed offset to work more reliably and added some docs
  elements/pfe-jump-links/CHANGELOG.md
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-jump-links/test/pfe-jump-links_test.html
Labels: bug, demo, doc, functionality, needs: branch testing, next release, priority: medium, styles, tests

#958 version bumps from release/v1.0.0-prerelease.50
  CHANGELOG-prerelease.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package-lock.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package-lock.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package-lock.json
  elements/pfe-badge/package.json
  elements/pfe-band/package-lock.json
  elements/pfe-band/package.json
  elements/pfe-card/package-lock.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package-lock.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package-lock.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package-lock.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package-lock.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package-lock.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package-lock.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package-lock.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package-lock.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package-lock.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package-lock.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/package.json
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-styles/package-lock.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package-lock.json
  elements/pfe-toast/package.json
  elements/pfelement/package-lock.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: doc
