Repository patternfly/patternfly-elements, pull requests merged in 2020-03, with the labels that each got.

#766 fix: pfe-navigation cta overlap bug
  CHANGELOG-prerelease.md
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
Labels: bug

#707 feat: Add events generator
  CHANGELOG-prerelease.md
  generators/element/index.js
  generators/element/templates/pfelement-README.md
  generators/element/templates/src/element.js
  generators/element/templates/src/element.json
  generators/element/templates/standalone-README.md
  package-lock.json
Labels: enhancement, needs branch testing, needs code review

#790 fix: set consistent line-height for pfe-nav triggers
  CHANGELOG-prerelease.md
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
Labels: work in progress!

#761 feat: Add event emission to pfe-cta (#741)
  CHANGELOG-prerelease.md
  elements/pfe-cta/README.md
  elements/pfe-cta/demo/demo.css
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/src/pfe-cta.html
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-cta/test/pfe-cta_test.html
Labels: enhancement

#801 fix: set pfe-cta with the priority attribute relative to default pfe-cta font-size
  CHANGELOG-prerelease.md
  elements/pfe-cta/src/pfe-cta.scss
Labels: Ready to merge
