Repository patternfly/patternfly-elements, pull requests merged in 2020-09, with the labels that each got.

#1073 Cpfed 3809 pfe nav add overlay
  elements/pfe-navigation/demo/single-nav.html
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  examples/index.html
Labels: needs: code review

#1008 feat: Add start to dev command; open to specific demo page
  CHANGELOG-prerelease.md
  README.md
  package-lock.json
  scripts/dev.sh
  spandx.config.js
Labels: feature, needs: branch testing, priority: low, run e2e, tools

#1092 chore: extend prettier line length 120 #967
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-autocomplete/demo/pfe-autocomplete.story.js
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-avatar/demo/pfe-avatar.story.js
  elements/pfe-avatar/src/pfe-avatar.js
  elements/pfe-badge/demo/pfe-badge.story.js
  elements/pfe-badge/src/pfe-badge.js
  elements/pfe-badge/src/pfe-badge.json
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-band/src/pfe-band.js
  elements/pfe-band/src/pfe-band.json
  elements/pfe-band/src/polyfills--pfe-band.js
  elements/pfe-button/src/pfe-button.js
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-card/src/pfe-card.json
  elements/pfe-card/src/polyfills--pfe-card.js
  elements/pfe-collapse/src/pfe-collapse.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-cta/src/pfe-cta.js
  elements/pfe-datetime/demo/pfe-datetime.story.js
  elements/pfe-datetime/src/pfe-datetime.js
  elements/pfe-dropdown/src/pfe-dropdown.js
  elements/pfe-health-index/src/pfe-health-index.js
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon/demo/icon-sets.js
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-markdown/src/pfe-markdown.js
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-navigation/demo/pfe-navigation.story.js
  elements/pfe-navigation/src/pfe-navigation-item.js
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/polyfills--pfe-navigation.js
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-progress-indicator/src/pfe-progress-indicator.js
  elements/pfe-select/demo/pfe-select.story.js
  elements/pfe-select/src/pfe-select.js
  elements/pfe-tabs/demo/pfe-tabs.story.js
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-toast/src/pfe-toast.js
  elements/pfelement/src/pfelement.js
  examples/index.html
  prettier.config.js
Labels: demo, functionality, priority: low, ready to merge

#932 feat: Open a PR via command line
  CHANGELOG-prerelease.md
  README.md
  package-lock.json
  package.json
  scripts/open-pr.js
Labels: needs: branch testing, needs: code review, priority: low, tools

#1094 Cpfed 3805 set focus on pfe nav close
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/index_react.html
  elements/pfe-navigation/demo/index_vue.html
  elements/pfe-navigation/demo/single-nav.html
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
Labels: needs: code review
