Repository patternfly/patternfly-elements, pull requests merged in 2020-01, with the labels that each got.

#670 Bug fix: issue 664 - pfe-cta link clickability in Edge & IE
  CHANGELOG-prerelease.md
  elements/pfe-cta/src/pfe-cta--lightdom.scss
Labels: bug, prioritized

#647 [chore] Standardizing polyfills for reporting
  CHANGELOG-prerelease.md
  docs/content/develop/step-2b.md
  docs/content/getting-started/browser-support.md
  docs/content/getting-started/polyfills.md
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/src/polyfills--pfe-accordion.js
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-avatar/demo/index.html
  elements/pfe-band/demo/index.html
  elements/pfe-band/src/pfe-band.js
  elements/pfe-band/src/polyfills--pfe-band.js
  elements/pfe-card/demo/index.html
  elements/pfe-card/src/pfe-card.js
  elements/pfe-card/src/polyfills--pfe-card.js
  elements/pfe-collapse/demo/index.html
  elements/pfe-content-set/demo/index.html
  elements/pfe-cta/demo/index.html
  elements/pfe-datetime/demo/index.html
  elements/pfe-health-index/demo/index.html
  elements/pfe-health-index/src/pfe-health-index.js
  elements/pfe-icon-panel/demo/index.html
  elements/pfe-icon/demo/index.html
  elements/pfe-markdown/demo/index.html
  elements/pfe-modal/demo/index.html
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-modal/src/polyfills--pfe-modal.js
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/polyfills--pfe-navigation.js
  elements/pfe-number/demo/index.html
  elements/pfe-number/src/pfe-number.js
  elements/pfe-number/src/polyfills--pfe-number.js
  elements/pfe-page-status/demo/index.html
  elements/pfe-select/demo/index.html
  elements/pfe-select/src/pfe-select.js
  elements/pfe-select/src/polyfills--pfe-select.js
  elements/pfe-styles/demo/index.html
  elements/pfe-styles/demo/theme-test.html
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfe-tabs/src/polyfills--pfe-tabs.js
  elements/pfe-toast/demo/index.html
  elements/pfelement/demo/index.html
  examples/index.html
  examples/wrapper.html
  package-lock.json
  package.json
  scripts/doc-listing-inject.js
  scripts/gulpfile.factory.js
Labels: enhancement, needs code review

#665 [issue 669] WIP Padding bug on pfe-cta in IE & Edge
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/src/pfe-cta--lightdom.scss
  elements/pfe-cta/src/pfe-cta.scss
Labels: bug, work in progress!

#525 add emitEvent and .events
  CHANGELOG-prerelease.md
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-avatar/src/pfe-avatar.js
  elements/pfe-collapse/src/pfe-collapse.js
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-tabs/src/pfe-tabs.js
  elements/pfelement/README.md
  elements/pfelement/src/pfelement.js
  elements/pfelement/test/index.html
  elements/pfelement/test/pfelement_emitEvent.html
  examples/index.html
Labels: Ready to merge, enhancement, needs changelog

#693 provide explicit global variable names to rollup
  package-lock.json
  package.json
  scripts/rollup.config.factory.js
Labels: Ready to merge

#628 Update ARIA label on pfe-accordion
  CHANGELOG-prerelease.md
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion_test.html
Labels: Ready to merge

#701 docs: fixing the icons in pfe-navigation
  elements/pfe-navigation/README.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/pfe-navigation.story.js
Labels: docs

#712 docs: switching pfe-collapse story from heading tag to button
  elements/pfe-collapse/demo/pfe-collapse.story.js
Labels: docs
