Repository patternfly/patternfly-elements, pull requests merged in 2020-07, with the labels that each got.

#972 chore: fix quick-start formatting in README
  README.md
Labels: ready to merge

#931 feat: Update labeler to label generator changes
  .github/labeler.yml
  CHANGELOG-prerelease.md
Labels: priority: low, ready to merge, tools

#917 feat: Add a default template for PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority: low, ready to merge, tools

#975 fix: Get nested accordions and tabs working inside the content-set
  CHANGELOG-prerelease.md
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.json
  elements/pfe-content-set/test/pfe-content-set_test.html
  elements/pfelement/src/pfelement.js
  examples/index.html
Labels: bug, demo, functionality, needs: code review, priority: high, tests

#980 Release/v1.0.0 prerelease.51
  CHANGELOG-prerelease.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package-lock.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package-lock.json
  elements/pfe-avatar/package.json
  elements/pfe-band/package-lock.json
  elements/pfe-band/package.json
  elements/pfe-card/package-lock.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package-lock.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package-lock.json
  elements/pfe-datetime/package.json
  elements/pfe-health-index/package-lock.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package-lock.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package-lock.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package-lock.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package-lock.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package-lock.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package-lock.json
  elements/pfe-toast/package.json
  elements/pfelement/package-lock.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: doc

#854 feat: Add support for empty local variables
  CHANGELOG-prerelease.md
  elements/pfe-accordion/src/_shared-assets.scss
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-autocomplete/src/pfe-autocomplete.scss
  elements/pfe-autocomplete/src/pfe-search-droplist.scss
  elements/pfe-avatar/src/pfe-avatar.scss
  elements/pfe-badge/src/pfe-badge.scss
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-band/src/pfe-band.scss
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-cta/demo/demo.css
  elements/pfe-cta/demo/index.html
  elements/pfe-cta/src/_shared-assets.scss
  elements/pfe-cta/src/pfe-cta.scss
  elements/pfe-dropdown/src/_shared-assets.scss
  elements/pfe-dropdown/src/pfe-dropdown-item.scss
  elements/pfe-dropdown/src/pfe-dropdown.scss
  elements/pfe-health-index/demo/index.html
  elements/pfe-health-index/src/pfe-health-index.scss
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-jump-links/package.json
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links-panel.scss
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-jump-links/src/pfe-jump-links.scss
  elements/pfe-markdown/src/pfe-markdown.scss
  elements/pfe-modal/src/pfe-modal.scss
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/_shared-assets.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation--noscript.scss
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-page-status/src/pfe-page-status.scss
  elements/pfe-sass/extends/_extends.scss
  elements/pfe-sass/functions/_custom-properties.scss
  elements/pfe-sass/functions/_general.scss
  elements/pfe-sass/gulpfile.js
  elements/pfe-sass/mixins/_components.scss
  elements/pfe-sass/mixins/_custom-properties.scss
  elements/pfe-sass/variables/_1-definitions.scss
  elements/pfe-select/src/pfe-select.scss
  elements/pfe-styles/src/layouts/_grid.scss
  elements/pfe-styles/src/pfe-base.scss
  elements/pfe-styles/src/pfe-colors.scss
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
  elements/pfe-toast/src/pfe-toast.scss
  generators/element/templates/pfelement-README.md
  generators/element/templates/src/element.html
  generators/element/templates/src/element.scss
Labels: demo, feature, functionality, styles, tools

#982 fix: fire pfe-autcomplete:option-selected event on click and enter key
  CHANGELOG-prerelease.md
  elements/pfe-autocomplete/README.md
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-autocomplete/test/pfe-autocomplete_test.html
Labels: demo, doc, functionality, tests

#985 Cpfed 3735 megamenu tray
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation.scss
  examples/index.html
  package-lock.json
  test/index.html
Labels: needs: code review

#984 version bumps from release/v1.0.0-prerelease.52
  CHANGELOG-prerelease.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package-lock.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package-lock.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package-lock.json
  elements/pfe-badge/package.json
  elements/pfe-band/package-lock.json
  elements/pfe-band/package.json
  elements/pfe-card/package-lock.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package-lock.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-dropdown/package-lock.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package-lock.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package-lock.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package-lock.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package-lock.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-page-status/package-lock.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package-lock.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/package.json
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-styles/package-lock.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package-lock.json
  elements/pfe-toast/package.json
  lerna.json
  package-lock.json
Labels: doc, release

#983 fix: Move pfe-sass to a devDep on all elements
  CHANGELOG-prerelease.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package.json
  elements/pfe-collapse/src/pfe-collapse.scss
  elements/pfe-cta/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/WHY.md
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  generators/element/templates/package.json
  package-lock.json
  package.json
Labels: bug, doc, generator, needs: code review, priority: medium, size: sm, styles, tools

#988 fix: pfe-autocomplete add composed flag to option-selected event
  CHANGELOG-prerelease.md
  elements/pfe-autocomplete/src/pfe-autocomplete.js
Labels: functionality

#989 fix: pfe-autocomplete prevent search-event from firing twice on option select
  CHANGELOG-prerelease.md
  elements/pfe-autocomplete/src/pfe-autocomplete.js
Labels: functionality

#993 fix: pfe-health-index color support in IE11
  CHANGELOG-prerelease.md
  elements/pfe-health-index/src/pfe-health-index.scss
Labels: bug, needs: code review, priority: high, size: sm, styles

#994 fix: Fix disabled CTA rendering
  CHANGELOG-prerelease.md
  elements/pfe-cta/src/_shared-assets.scss
Labels: bug, demo, needs: branch testing, needs: code review, priority: high, size: sm, styles

#997 version bumps from release/v1.0.0-prerelease.53
  CHANGELOG-prerelease.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package-lock.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package-lock.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package-lock.json
  elements/pfe-badge/package.json
  elements/pfe-band/package-lock.json
  elements/pfe-band/package.json
  elements/pfe-card/package-lock.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package-lock.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-dropdown/package-lock.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package-lock.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package-lock.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package-lock.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package-lock.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-page-status/package-lock.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package-lock.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/package.json
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-styles/package-lock.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package-lock.json
  elements/pfe-toast/package.json
  lerna.json
  package-lock.json
Labels: doc

#998 Cpfed 3743 main nav styles
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: needs: code review

#999 CPFED-3735: updated styles for mega menu footers, updated demo for me…
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: needs: code review

#1003 fix: pfe-accordion disclosure
  CHANGELOG-prerelease.md
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-sass/mixins/_components.scss
Labels: bug, priority: medium, size: sm, styles

#907 docs: Updates to developer walk-through documentation
  CHANGELOG-prerelease.md
  docs/content/develop/step-2b.md
  docs/content/develop/step-2c.md
  docs/content/develop/step-2d.md
  docs/content/develop/step-2e.md
  docs/content/develop/step-3.md
  docs/content/develop/step-4.md
  docs/content/develop/step-5.md
  docs/content/theme/pfe-theme-slots.md
Labels: doc, needs: code review

#948 feat: pfe-tabs style updates
  CHANGELOG-prerelease.md
  elements/pfe-sass/maps/_colors.scss
  elements/pfe-sass/maps/_general.scss
  elements/pfe-tabs/demo/demo.css
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.html
  elements/pfe-tabs/src/pfe-tabs.scss
Labels: demo, design system, functionality, styles

#1012 docs: creating an index page for Netlify
  brand/components@2x.png
  brand/develop@2x.png
  brand/theming@2x.png
  index.html
Labels: ready to merge
