Repository patternfly/patternfly-elements, pull requests merged in 2020-10, with the labels that each got.

#1133 chore: Update automerge logic
  .github/workflows/automerge.yml
  .github/workflows/label.yml
  .github/workflows/tests.yml
Labels: tools

#1118 Cpfed 3847 menu back button
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: needs: code review

#1136 docs: add clarity on how to use bullseye layout
  elements/pfe-styles/demo/index.html
Labels: demo, size: sm, styles

#1137 chore: GitHub Access
  .github/workflows/automerge.yml
  .github/workflows/label.yml
  .github/workflows/project.yml
  .github/workflows/tests.yml
  .github/workflows/visualtests.yml
  package-lock.json
  package.json
  scripts/test.js
  scripts/test.sh
Labels: bug, ready to merge, size: md, tools

#1150 chore: Add pretty labels to clarify actions view in UI
  .github/workflows/automerge.yml
  .github/workflows/label.yml
  .github/workflows/project.yml
  .github/workflows/tests.yml
  package-lock.json
Labels: priority: low, ready to merge, tools

#1148 feat: Add script that will auto-update open PRs when their base-branch is updated
  .github/workflows/automerge.yml
  .github/workflows/autoupdate.yml
  CHANGELOG-prerelease.md
  package-lock.json
Labels: feature, priority: low, ready to merge, tools

#974 fix: pfe-jump-links offset & updates to demo file
  README.md
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links-panel.scss
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-jump-links/src/pfe-jump-links.scss
  elements/pfe-jump-links/test/pfe-jump-links_test.html
  elements/pfe-jump-links/test/pfe-jump-links_test.js
  elements/pfe-jump-links/test/pfe-jump-links_vue_test.html
  examples/index.html
Labels: demo, functionality, needs: branch testing, needs: browser testing, needs: changelog, needs: code review, needs: code updates, styles
