Repository patternfly/patternfly-elements, pull requests merged in 2020-08, with the labels that each got.

#1023 Cpfed 3779 add icons pfe nav menu
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfelement/src/pfelement.js
  examples/index.html
Labels: needs: code review

#1020 fix: improve CLS rating in lighthouse
  CHANGELOG-prerelease.md
  elements/pfelement/src/pfelement.scss
  elements/pfelement/test/fouc-test.html
Labels: styles, tests

#1018 fix: pfelement - restore pfelement tests
  CHANGELOG-prerelease.md
  elements/pfelement/test/pfelement_cascade_attribute_test.html
  elements/pfelement/test/pfelement_emitEvent.html
  elements/pfelement/test/pfelement_logging_test.html
  elements/pfelement/test/pfelement_test.html
Labels: tests

#1024 Cpfed 3780 single col styles
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: needs: code review

#1025 CPFED-3779: updated custom link icon placeholder
  elements/pfe-navigation/demo/index.html
Labels: needs: code review

#1029 docs: Theme palette variables update
  docs/content/theme/theme-palette.md
Labels: doc

#1030 docs: allow embedding HTML in markdown docs
  docs/config.toml
Labels: doc

#1022 docs: demo homepage - adding alt tags to images and fixing cta alignment
  index.html
Labels: accessibility, doc, needs: code review

#1039 docs: fix broken code highlighting in docs' code blocks
  docs/config.toml
Labels: doc

#1043 Cpfed 3789 update aria util btns
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  examples/index.html
Labels: needs: code review

#1046 feat: pfe-autocomplete - fire custom event when dropdown is shown
  CHANGELOG-prerelease.md
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-autocomplete/test/pfe-autocomplete_test.html
Labels: functionality, tests

#1050 version bumps from release/v1.0.0-prerelease.55
  CHANGELOG-prerelease.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
  elements/pfe-accordion/package-lock.json
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package-lock.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package-lock.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package-lock.json
  elements/pfe-badge/package.json
  elements/pfe-band/package-lock.json
  elements/pfe-band/package.json
  elements/pfe-card/package-lock.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package-lock.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package-lock.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package-lock.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package-lock.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package-lock.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package-lock.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package-lock.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package-lock.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package-lock.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package-lock.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package-lock.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package-lock.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package-lock.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package-lock.json
  elements/pfe-sass/package.json
  elements/pfe-select/package-lock.json
  elements/pfe-select/package.json
  elements/pfe-styles/package-lock.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package-lock.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package-lock.json
  elements/pfe-toast/package.json
  elements/pfelement/package-lock.json
  elements/pfelement/package.json
  lerna.json
Labels: doc

#1055 feat: Remove build from postinstall
  CHANGELOG-prerelease.md
  README.md
  package.json
Labels: feature, priority: low

#1056 fix: fix issue in new automerge scripts
  .github/workflows/automerge.yml
  .github/workflows/visualtests.yml
Labels: priority: high, ready to merge, run e2e, size: sm, tools

#1021 pfe-tab design tweaks & support for local vars in non-light contexts
  CHANGELOG-prerelease.md
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-tabs/demo/demo.css
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
  examples/index.html
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_ie/pfe-tabs.png
Labels: demo, design system, needs: branch testing, needs: browser testing, needs: changelog, priority: medium, size: md, styles, tests
