Repository patternfly/patternfly-elements, pull requests merged in 2021-07, with the labels that each got.

#1700 Cpfed 4188: Respect Dev/QA/Stage/Prod in account URLs
  elements/pfe-navigation-account/src/pfe-navigation-account.js
Labels: functionality

#1652 fix: Jump links styles and browser fixes
  CHANGELOG-1.x.md
  docs/main.css
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion-header.js
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/docs/index.md
  elements/pfe-jump-links/package.json
  elements/pfe-jump-links/src/pfe-jump-links-nav.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.js
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-jump-links/src/pfe-jump-links-panel.html
  elements/pfe-jump-links/src/pfe-jump-links-panel.js
  elements/pfe-jump-links/src/pfe-jump-links-panel.scss
  elements/pfe-jump-links/src/pfe-jump-links.html
  elements/pfe-jump-links/src/pfe-jump-links.js
  elements/pfe-jump-links/src/pfe-jump-links.scss
  elements/pfe-jump-links/src/polyfills--pfe-jump-links-nav.js
  elements/pfe-jump-links/test/pfe-jump-links_test.html
  elements/pfe-jump-links/test/pfe-jump-links_test.js
  elements/pfe-sass/maps/_colors.scss
  elements/pfe-sass/maps/_general.scss
  elements/pfe-sass/maps/_zindex.scss
  elements/pfe-sass/mixins/_containers.scss
  elements/pfe-sass/variables/_1-definitions.scss
  elements/pfe-tabs/src/polyfills--pfe-tabs.js
  elements/pfelement/src/pfelement.js
  elements/pfelement/src/polyfills--pfelement.js
  package-lock.json
  scripts/gulpfile.factory.js
  scripts/watch.js
Labels: demo, doc, feature, functionality, next release, priority: high, ready: code review, ready: design review, run e2e, size: lg, styles, tests, tools

#1705 chore: version bumps from release/v1.10.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: release

#1704 fix: pfelement - only resetContext on a nested child element during contextUpdate if resetContext is available on the child element
  CHANGELOG-1.x.md
  elements/pfe-dropdown/test/pfe-dropdown_e2e.js
  elements/pfelement/src/pfelement.js
  elements/pfelement/test/pfelement_test.html
Labels: functionality, ready to merge, tests

#1666 chore: remove unreachable array case from hasSlot
  elements/pfelement/src/pfelement.js
Labels: functionality

#1440 fix: on mutation, apply cascade to new elements only
  CHANGELOG-1.x.md
  elements/pfelement/src/pfelement.js
Labels: fix, functionality, run e2e

#1709 chore: version bumps from Release/v1.10.1
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  elements/pfelement/src/pfelement.js
  lerna.json
Labels: functionality, release

#1702 fix: [pfe-tooltip] forced reflow performance isssues
  elements/pfe-absolute-position/CHANGELOG.md
  elements/pfe-absolute-position/package.json
  elements/pfe-absolute-position/src/pfe-absolute-position.js
  elements/pfe-popover/package.json
  elements/pfe-tooltip/package.json
Labels: doc, functionality, ready to merge

#1717 chore: Support updated project boards
  .github/workflows/project.yml
  .github/workflows/workflow.yml
Labels: tools

#1725 chore: correct name in citations
  docs/_data/polyfills.json
  docs/_data/todos.json
  elements/pfe-sass/functions/_1-tools.scss
Labels: doc, ready to merge

#1727 fix: IE11 bug for jump links
  CHANGELOG-1.x.md
  elements/pfe-jump-links/src/pfe-jump-links-nav.js
Labels: functionality, priority: medium

#1729 chore: Update accordion baseline
  elements/pfe-accordion/test/pfe-accordion_e2e.js
  test/vrt-baseline/desktop_ie/pfe-accordion.png
Labels: feature, priority: low, ready to merge, size: sm

#1731 chore: Update AT to capture PR number from branch
  .github/workflows/tests.yml
Labels: AT passed, tools

#1728 feat: gracefully fail on duplicate registration
  CHANGELOG-1.x.md
  docs/_data/todos.json
  elements/pfelement/src/pfelement.js
  elements/pfelement/test/index.html
  elements/pfelement/test/pfelement_context_test.html
  elements/pfelement/test/pfelement_context_test.js
  elements/pfelement/test/pfelement_test.html
Labels: AT passed, doc, feature, functionality, priority: low, tests

#1726 fix: Accordion design kit alignment (#1512)
  CHANGELOG-1.x.md
  docs/demo.html
  elements/pfe-accordion/README.md
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/demo/index_e2e.html
  elements/pfe-accordion/docs/index.md
  elements/pfe-accordion/src/_shared-assets.scss
  elements/pfe-accordion/src/pfe-accordion-header.html
  elements/pfe-accordion/src/pfe-accordion-header.js
  elements/pfe-accordion/src/pfe-accordion-header.scss
  elements/pfe-accordion/src/pfe-accordion-panel.html
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/src/pfe-accordion.scss
  elements/pfe-accordion/test/index.html
  elements/pfe-accordion/test/old-test/pfe-accordion_react_test.html
  elements/pfe-accordion/test/old-test/pfe-accordion_test.html
  elements/pfe-accordion/test/old-test/pfe-accordion_test.js
  elements/pfe-accordion/test/old-test/pfe-accordion_vue_test.html
  elements/pfe-accordion/test/pfe-accordion.spec.js
  elements/pfe-accordion/test/pfe-accordion_e2e.js
  elements/pfe-accordion/test/pfe-accordion_react_test.html
  elements/pfe-accordion/test/pfe-accordion_test.html
  elements/pfe-accordion/test/pfe-accordion_test.js
  elements/pfe-accordion/test/pfe-accordion_vue_test.html
  elements/pfe-badge/src/pfe-badge.scss
  elements/pfe-icon/src/pfe-icon.html
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-sass/mixins/_components.scss
  elements/pfe-sass/mixins/_containers.scss
  test/index.html
  test/vrt-baseline/desktop_chrome/pfe-accordion--dark.png
  test/vrt-baseline/desktop_chrome/pfe-accordion--light.png
  test/vrt-baseline/desktop_chrome/pfe-accordion--saturated.png
  test/vrt-baseline/desktop_ie/pfe-accordion.png
Labels: AT passed, demo, doc, functionality, priority: high, size: lg, styles, tests

#1721 fix: update container variable (#1522)
  CHANGELOG-1.x.md
  elements/pfe-sass/extends/_extends.scss
  package-lock.json
Labels: AT passed, fix, priority: low, run e2e, size: sm
