Repository patternfly/patternfly-elements, pull requests merged in 2021-01, with the labels that each got.

#1249 docs: Bump licenses
  LICENSE.txt
  elements/pfe-accordion/LICENSE.txt
  elements/pfe-autocomplete/LICENSE.txt
  elements/pfe-avatar/LICENSE.txt
  elements/pfe-badge/LICENSE.txt
  elements/pfe-band/LICENSE.txt
  elements/pfe-button/LICENSE.txt
  elements/pfe-card/LICENSE.txt
  elements/pfe-collapse/LICENSE.txt
  elements/pfe-content-set/LICENSE.txt
  elements/pfe-cta/LICENSE.txt
  elements/pfe-datetime/LICENSE.txt
  elements/pfe-dropdown/LICENSE.txt
  elements/pfe-health-index/LICENSE.txt
  elements/pfe-icon-panel/LICENSE.txt
  elements/pfe-icon/LICENSE.txt
  elements/pfe-jump-links/LICENSE.txt
  elements/pfe-markdown/LICENSE.txt
  elements/pfe-modal/LICENSE.txt
  elements/pfe-navigation/LICENSE.txt
  elements/pfe-number/LICENSE.txt
  elements/pfe-page-status/LICENSE.txt
  elements/pfe-progress-indicator/LICENSE.txt
  elements/pfe-select/LICENSE.txt
  elements/pfe-styles/LICENSE.txt
  elements/pfe-tabs/LICENSE.txt
  elements/pfe-toast/LICENSE.txt
  elements/pfelement/LICENSE.txt
  generators/element/templates/LICENSE.txt
Labels: doc, generator, ready to merge

#1257 Adding docs on how to debug tests
  docs/content/develop/step-3.md
Labels: doc

#1269 fix: storybook bug
  .storybook/utils.js
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-autocomplete/demo/pfe-autocomplete.story.js
  elements/pfe-avatar/demo/pfe-avatar.story.js
  elements/pfe-badge/demo/pfe-badge.story.js
  elements/pfe-band/demo/pfe-band.story.js
  elements/pfe-button/demo/pfe-button.story.js
  elements/pfe-card/demo/pfe-card.story.js
  elements/pfe-collapse/demo/pfe-collapse.story.js
  elements/pfe-content-set/demo/pfe-content-set.story.js
  elements/pfe-cta/demo/pfe-cta.story.js
  elements/pfe-datetime/demo/pfe-datetime.story.js
  elements/pfe-dropdown/demo/pfe-dropdown.story.js
  elements/pfe-health-index/demo/pfe-health-index.story.js
  elements/pfe-icon-panel/demo/pfe-icon-panel.story.js
  elements/pfe-icon/demo/pfe-icon.story.js
  elements/pfe-jump-links/demo/pfe-jump-links.story.js
  elements/pfe-markdown/demo/pfe-markdown.story.js
  elements/pfe-modal/demo/pfe-modal.story.js
  elements/pfe-navigation/demo/pfe-navigation.story.js
  elements/pfe-number/demo/pfe-number.story.js
  elements/pfe-page-status/demo/pfe-page-status.story.js
  elements/pfe-progress-indicator/demo/pfe-progress-indicator.story.js
  elements/pfe-select/demo/pfe-select.story.js
  elements/pfe-tabs/demo/pfe-tabs.story.js
  elements/pfe-toast/demo/pfe-toast.story.js
Labels: demo, ready to merge

#1268 chore: add engines package json
  package.json
Labels: ready to merge

#1266 Support 1x secondary links
  elements/pfe-navigation/demo/access.html
  elements/pfe-navigation/demo/assets/redhat-catalog.svg
  elements/pfe-navigation/demo/catalog.html
  elements/pfe-navigation/demo/connect.html
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/index_react.html
  elements/pfe-navigation/demo/index_vue.html
  elements/pfe-navigation/demo/sample-styles.css
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: demo, functionality, styles

#1273 Cpfed 4025 create new pr
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/index_react.html
  elements/pfe-navigation/demo/index_vue.html
  elements/pfe-navigation/demo/single-nav-sticky-alert-banner.html
  elements/pfe-navigation/demo/single-nav-sticky.html
  elements/pfe-navigation/demo/single-nav.html
  elements/pfe-navigation/demo/variations.html
  elements/pfe-navigation/mock/site-switcher.html
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: accessibility, demo, functionality, styles

#1272 fix: Deprecated function reference in pfe-modal
  CHANGELOG-1.x.md
  docs/content/develop/step-2e.md
  elements/pfe-modal/src/pfe-modal.js
Labels: doc, functionality

#1275 fix: pfe-tabs set default index to 0 if null provided
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-tabs/src/pfe-tabs.js
Labels: functionality, ready to merge

#1284 version bumps from release/v1.1.1
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package-lock.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge

#1134 chore: Update README.md badge to reference Actions
  README.md
  brand/logo/png/pfe-icon-blue.png
Labels: priority: low, ready to merge, size: sm

#1204 doc: Adding SassDoc
  .editorconfig
  .gitignore
  .prettierignore
  .storybook/preview-head.html
  .storybook/webpack.config.js
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/pfe-accordion.story.js
  elements/pfe-cta/src/pfe-cta.html
  elements/pfe-markdown/package-lock.json
  elements/pfe-page-status/test/old-test/pfe-page-status_test.js
  elements/pfe-page-status/test/pfe-page-status_test.js
  elements/pfe-sass/.sassdocrc
  elements/pfe-sass/extends/_extends.scss
  elements/pfe-sass/functions/_1-tools.scss
  elements/pfe-sass/functions/_custom-properties.scss
  elements/pfe-sass/functions/_general.scss
  elements/pfe-sass/gulpfile.js
  elements/pfe-sass/maps/_broadcasted.scss
  elements/pfe-sass/maps/_colors.scss
  elements/pfe-sass/maps/_general.scss
  elements/pfe-sass/maps/_zindex.scss
  elements/pfe-sass/mixins/_components.scss
  elements/pfe-sass/mixins/_containers.scss
  elements/pfe-sass/mixins/_copy-mixins.scss
  elements/pfe-sass/mixins/_custom-properties.scss
  elements/pfe-sass/variables/_1-definitions.scss
  elements/pfe-sass/variables/_2-crayon.scss
  elements/pfe-sass/variables/_3-colors.scss
  elements/pfe-select/src/pfe-select.scss
  elements/pfe-styles/src/layouts/_grid.scss
  elements/pfe-toast/src/pfe-toast.scss
  favicon.ico
  package-lock.json
  scripts/build.sh
  scripts/doc-listing-inject.js
  scripts/gulpfile.factory.js
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
Labels: demo, functionality, ready to merge, styles, tools

#1289 Us267056 pfe clipboard copied duration
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/src/pfe-clipboard.js
  elements/pfe-clipboard/test/pfe-clipboard_test.html
  elements/pfe-clipboard/test/pfe-clipboard_test.js
Labels: demo, doc, functionality, tests

#1290 feat: added vars to control padding on host and margin on icon
  elements/pfe-clipboard/src/pfe-clipboard.scss
Labels: styles

#1299 feat: removing default slot
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/src/pfe-clipboard.html
  elements/pfe-clipboard/src/pfe-clipboard.js
  elements/pfe-clipboard/test/pfe-clipboard_test.js
Labels: demo, doc, functionality, ready to merge, tests

#1301 US267056-pfe-clipboard: Icon Color Custom Property
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/src/pfe-clipboard.html
  elements/pfe-clipboard/src/pfe-clipboard.scss
Labels: demo, doc, functionality, styles

#1235 feat: pfe-clipboard
  CHANGELOG-1.x.md
  elements/pfe-clipboard/LICENSE.txt
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/clipboard.png
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/demo/pfe-clipboard.story.js
  elements/pfe-clipboard/gulpfile.js
  elements/pfe-clipboard/package-lock.json
  elements/pfe-clipboard/package.json
  elements/pfe-clipboard/rollup.config.js
  elements/pfe-clipboard/src/pfe-clipboard.html
  elements/pfe-clipboard/src/pfe-clipboard.js
  elements/pfe-clipboard/src/pfe-clipboard.scss
  elements/pfe-clipboard/test/index.html
  elements/pfe-clipboard/test/pfe-clipboard_e2e.js
  elements/pfe-clipboard/test/pfe-clipboard_react_test.html
  elements/pfe-clipboard/test/pfe-clipboard_test.html
  elements/pfe-clipboard/test/pfe-clipboard_test.js
  elements/pfe-clipboard/test/pfe-clipboard_vue_test.html
  elements/pfelement/src/pfelement.js
  package-lock.json
  test/index.html
  test/vrt-baseline/desktop_chrome/pfe-clipboard.png
  test/vrt-baseline/desktop_ie/pfe-clipboard.png
Labels: demo, doc, feature, functionality, priority: low, styles, tests, tools

#1230 CPFED-3940 primary detail
  elements/pfe-primary-detail/CHANGELOG.md
  elements/pfe-primary-detail/DISCOVERY.md
  elements/pfe-primary-detail/LICENSE.txt
  elements/pfe-primary-detail/README.md
  elements/pfe-primary-detail/demo/index.html
  elements/pfe-primary-detail/demo/pfe-primary-detail.story.js
  elements/pfe-primary-detail/gulpfile.js
  elements/pfe-primary-detail/package-lock.json
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/rollup.config.js
  elements/pfe-primary-detail/src/pfe-primary-detail.html
  elements/pfe-primary-detail/src/pfe-primary-detail.js
  elements/pfe-primary-detail/src/pfe-primary-detail.scss
  elements/pfe-primary-detail/test/index.html
  elements/pfe-primary-detail/test/pfe-primary-detail_e2e.js
  elements/pfe-primary-detail/test/pfe-primary-detail_react_test.html
  elements/pfe-primary-detail/test/pfe-primary-detail_test.html
  elements/pfe-primary-detail/test/pfe-primary-detail_test.js
  elements/pfe-primary-detail/test/pfe-primary-detail_vue_test.html
  test/index.html
Labels: feature, needs: AT updates, needs: branch testing, needs: browser testing, needs: code review, priority: medium

#1097 tools: Add labels to PR templates, remove issue header
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  .github/PULL_REQUEST_TEMPLATE/update_component.md
  .github/PULL_REQUEST_TEMPLATE/update_documentation.md
  .github/PULL_REQUEST_TEMPLATE/update_infrastructure.md
  package-lock.json
  scripts/open-pr.js
Labels: needs: code review, priority: low, tools

#1306 #1305: Fixing storybook error in pfe-primary-detail
  elements/pfe-primary-detail/demo/pfe-primary-detail.story.js
Labels: bug, demo, ready to merge

#1179 Cpfed 3739 analytics events
  elements/pfe-navigation/demo/single-nav.html
  elements/pfe-navigation/src/pfe-navigation.js
Labels: demo, functionality

#1302 CPFED-3737: Initial implementation account dropdown
  elements/pfe-navigation-account/CHANGELOG.md
  elements/pfe-navigation-account/DISCOVERY.md
  elements/pfe-navigation-account/LICENSE.txt
  elements/pfe-navigation-account/README.md
  elements/pfe-navigation-account/demo/index.html
  elements/pfe-navigation-account/demo/pfe-navigation-account.story.js
  elements/pfe-navigation-account/gulpfile.js
  elements/pfe-navigation-account/package-lock.json
  elements/pfe-navigation-account/package.json
  elements/pfe-navigation-account/rollup.config.js
  elements/pfe-navigation-account/src/pfe-navigation-account.html
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation-account/src/pfe-navigation-account.scss
  elements/pfe-navigation-account/test/index.html
  elements/pfe-navigation-account/test/pfe-navigation-account_e2e.js
  elements/pfe-navigation-account/test/pfe-navigation-account_react_test.html
  elements/pfe-navigation-account/test/pfe-navigation-account_test.html
  elements/pfe-navigation-account/test/pfe-navigation-account_test.js
  elements/pfe-navigation-account/test/pfe-navigation-account_vue_test.html
  elements/pfe-navigation/README.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  spandx.config.js
Labels: demo, doc, functionality, styles, tests, tools
