Repository patternfly/patternfly-elements, pull requests merged in 2021-12, with the labels that each got.

#1822 [pfe-progress-steps] removing erroneous count property
  elements/pfe-progress-steps/demo/pfe-progress-steps.html
  elements/pfe-progress-steps/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/pfe-progress-steps.ts
Labels: styles, functionality, demo, AT passed

#1823 chore: update slot definitions for for pfe-progress-steps-item
  elements/pfe-progress-steps/pfe-progress-steps-item.ts
Labels: ready to merge, functionality, AT passed

#1824 feat: 2.0 Updated size of copy icon for Safari display
  elements/pfe-clipboard/pfe-clipboard.ts
Labels: ready to merge, functionality, AT passed

#1825 chore: 2.0 [pfe-progress-steps] add item slots to docs.
  elements/pfe-progress-steps/docs/index.md
Labels: doc, ready to merge, AT passed

#1829 fix: 2.0 pfe-jump-links doc updates and fixes
  elements/pfe-jump-links/demo/pfe-jump-links.html
  elements/pfe-jump-links/docs/index.md
  elements/pfe-jump-links/pfe-jump-links-nav.scss
  elements/pfe-jump-links/pfe-jump-links-nav.ts
  elements/pfe-jump-links/pfe-jump-links-panel.ts
  elements/pfe-jump-links/pfe-jump-links.ts
Labels: doc, styles, functionality, demo, AT passed

#1835 Adding CSS to demo page for tabs
  elements/pfe-tabs/demo/pfe-tabs.html
Labels: demo, AT passed

#1834 Feat/pfe tools accordion
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/pfe-accordion.html
Labels: ready to merge, demo, AT passed

#1827 fix(accordion): keyboard a11y
  elements/pfe-accordion/pfe-accordion-header.ts
  elements/pfe-accordion/test/pfe-accordion.spec.ts
Labels: tests, work in progress, functionality, AT passed, no-auto-update

#1833 pfe-primary-detail: Simplifying back button text and removing unused functions
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/pfe-primary-detail.ts
Labels: ready to merge, functionality, demo, AT passed

#1836 feat(pfe-band) 2.0 Add wrapper parts and doc updates.
  elements/pfe-band/docs/index.md
  elements/pfe-band/pfe-band.ts
Labels: doc, ready to merge, functionality, AT passed
