Repository patternfly/patternfly-elements, pull requests merged in 2021-05, with the labels that each got.

#1568 chore: remove always-false condition from _convertSelectorsToArray
  elements/pfelement/src/pfelement.js
Labels: functionality, ready to merge

#1443 fix: pfe-accordion add bottom padding to disclosure panel (#1397)
  elements/pfe-accordion/src/pfe-accordion-panel.scss
Labels: needs: baseline updates, needs: changelog, ready: branch testing, ready: browser testing, ready: code review, ready: design review, run e2e

#1589 fix: Updating demo custom styles
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/index.html
Labels: demo, priority: low, ready: code review

#1574 fix: Update pfelement logging so arrays and objects get printed (#1573)
  CHANGELOG-1.x.md
  elements/pfelement/src/pfelement.js
Labels: functionality

#1527 chore: Update generator with knobs import; add events to templates
  generators/element/index.js
  generators/element/templates/demo/element.story.ejs
  generators/element/templates/src/element.ejs
Labels: generator, priority: low

#1599 chore: Bump yo version
  package-lock.json
  package.json
Labels: priority: low, ready: branch testing

#1602 chore: Add a tool to open an issue if the build on master breaks
  .github/workflows/project.yml
  .github/workflows/tests.yml
Labels: tools

#1550 feat: [pfe-icon] add default icon set configuration
  CHANGELOG-1.x.md
  elements/pfe-icon/README.md
  elements/pfe-icon/docs/index.md
  elements/pfe-icon/src/builtin-icon-sets.js
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-icon/test/index.html
  elements/pfe-icon/test/pfe-icon_config-test-1.html
  elements/pfe-icon/test/pfe-icon_config-test-2.html
  elements/pfelement/src/pfelement.js
Labels: doc, functionality, ready to merge, skip vrt

#1553 chore: pfe-dropdown package.json fix
  elements/pfe-dropdown/package.json
Labels: fix, ready to merge

#1623 [pfe-progress-steps] CSS Variable Notes NO MERGE
  elements/pfe-progress-steps/src/pfe-progress-steps-item.js
  elements/pfe-progress-steps/src/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/src/pfe-progress-steps.js
Labels: blocked

#1626 feat: Update fetch mixin to support region input (#1328)
  CHANGELOG-1.x.md
  elements/pfe-sass/functions/_custom-properties.scss
Labels: feature, priority: low, ready: code review, size: sm, skip vrt, styles

#1545 fix: [pfe-icon] icon color vs. background-color discrepancy (#1541)
  .gitignore
  CHANGELOG-1.x.md
  elements/pfe-icon/README.md
  elements/pfe-icon/docs/index.md
  elements/pfe-icon/src/pfe-icon.scss
Labels: doc, fix, priority: medium, styles

#1634 chore: Remove old travis files
  elements/pfe-badge/.travis.yml
  elements/pfe-dropdown/.travis.yml
  elements/pfe-navigation/.travis.yml
  elements/pfe-select/.travis.yml
  elements/pfe-toast/.travis.yml
Labels: chore

#1625 fix: Add in missing polyfills for pfelement (#1633)
  CHANGELOG-1.x.md
  elements/pfe-band/src/pfe-band.js
  elements/pfe-band/src/polyfills--pfe-band.js
  elements/pfe-card/src/pfe-card.js
  elements/pfe-card/src/polyfills--pfe-card.js
  elements/pfe-navigation/src/polyfills--pfe-navigation.js
  elements/pfe-tabs/src/polyfills--pfe-tabs.js
  elements/pfelement/src/polyfills--pfelement.js
Labels: fix, priority: high, ready: code review, size: sm

#1635 chore: version bumps from release/v1.8.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: skip ci, skip vrt

#1571 feat: [pfe-styles] ordered list styles
  CHANGELOG-1.x.md
  elements/pfe-sass/mixins/_components.scss
  elements/pfe-styles/README.md
  elements/pfe-styles/demo/index.html
  elements/pfe-styles/demo/pfe-colors.css
  elements/pfe-styles/src/layouts/_grid.scss
  elements/pfe-styles/src/pfe-typography-classes.scss
Labels: demo, design system, styles

#1570 feat: persist _debugLog in localStorage
  CHANGELOG-1.x.md
  elements/pfelement/README.md
  elements/pfelement/src/pfelement.js
  elements/pfelement/test/pfelement_logging_test.html
Labels: fix, functionality, priority: low, ready to merge, size: sm

#1613 feat: pfe-progress-steps [new component] (#1436)
  CHANGELOG-1.x.md
  elements/pfe-progress-steps/LICENSE.txt
  elements/pfe-progress-steps/README.md
  elements/pfe-progress-steps/demo/index.html
  elements/pfe-progress-steps/demo/pfe-progress-steps.story.js
  elements/pfe-progress-steps/docs/index.md
  elements/pfe-progress-steps/docs/preview.png
  elements/pfe-progress-steps/gulpfile.js
  elements/pfe-progress-steps/package.json
  elements/pfe-progress-steps/rollup.config.js
  elements/pfe-progress-steps/src/_shared-assets.scss
  elements/pfe-progress-steps/src/pfe-progress-steps-item.html
  elements/pfe-progress-steps/src/pfe-progress-steps-item.js
  elements/pfe-progress-steps/src/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/src/pfe-progress-steps.html
  elements/pfe-progress-steps/src/pfe-progress-steps.js
  elements/pfe-progress-steps/src/pfe-progress-steps.scss
  elements/pfe-progress-steps/src/polyfills--pfe-progress-steps.js
  elements/pfe-progress-steps/test/pfe-progress-steps.spec.js
  elements/pfe-progress-steps/test/pfe-progress-steps_e2e.js
  elements/pfe-sass/maps/_general.scss
  package-lock.json
Labels: design system, feature, priority: high, size: md

#1645 chore: Update baselines before tag release 1.9.0
  .eleventy.js
  docs/_data/polyfills.json
  docs/_data/todos.json
  elements/pfe-band/demo/demo.css
  elements/pfe-band/test/pfe-band_e2e.js
  elements/pfe-collapse/test/pfe-collapse_e2e.js
  elements/pfe-content-set/test/pfe-content-set.spec.js
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfe-icon-panel/test/pfe-icon-panel_e2e.js
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-number/test/pfe-number_e2e.js
  elements/pfe-progress-steps/test/pfe-progress-steps_e2e.js
  elements/pfe-readtime/README.md
  elements/pfe-readtime/docs/index.md
  elements/pfe-readtime/docs/preview.png
  elements/pfe-readtime/test/pfe-readtime_e2e.js
  elements/pfe-styles/test/pfe-styles_e2e.js
  elements/pfe-tabs/test/pfe-tabs_e2e.js
  elements/pfelement/src/pfelement.js
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-progress-steps.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--dark.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--light.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--saturated.png
  test/vrt-baseline/desktop_ie/pfe-autocomplete.png
  test/vrt-baseline/desktop_ie/pfe-band.png
  test/vrt-baseline/desktop_ie/pfe-button.png
  test/vrt-baseline/desktop_ie/pfe-clipboard.png
  test/vrt-baseline/desktop_ie/pfe-cta.png
  test/vrt-baseline/desktop_ie/pfe-datetime.png
  test/vrt-baseline/desktop_ie/pfe-health-index.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
  test/vrt-baseline/desktop_ie/pfe-number.png
  test/vrt-baseline/desktop_ie/pfe-readtime.png
  test/vrt-baseline/desktop_ie/pfe-select.png
  test/vrt-baseline/desktop_ie/pfe-styles.png
Labels: run e2e

#1650 fix: Content set, Safari 14.1.1. / WebKitGTK 2.32.0
  CHANGELOG-1.x.md
  elements/pfe-content-set/README.md
  elements/pfe-content-set/docs/index.md
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/polyfills--pfe-content-set.js
  elements/pfe-content-set/test/pfe-content-set_test.js
  package-lock.json
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: next release, priority: high, ready: code review
