Repository patternfly/patternfly-elements, pull requests merged in 2021-03, with the labels that each got.

#1414 Updating baselines to resolve VRT errors
  test/vrt-baseline/desktop_chrome/pfe-accordion.png
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_chrome/pfe-avatar.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_chrome/pfe-codeblock.png
  test/vrt-baseline/desktop_chrome/pfe-collapse.png
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_chrome/pfe-cta.png
  test/vrt-baseline/desktop_chrome/pfe-datetime.png
  test/vrt-baseline/desktop_chrome/pfe-health-index.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-page-status.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_chrome/pfe-progress-indicator.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-toast.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-progress-indicator.png
Labels: ready to merge, ready: code review, run e2e

#1417 CPFED-4049: Addressing bugs on portal and connect implementation
  elements/pfe-navigation/README.md
  elements/pfe-navigation/demo/access.html
  elements/pfe-navigation/demo/connect.html
  elements/pfe-navigation/documentation/advanced.md
  elements/pfe-navigation/documentation/implementation.md
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--grid.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--site-switcher.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--utility-classes.scss
  elements/pfe-navigation/src/sass-includes/_variables-mixins.scss
Labels: demo, doc, functionality, styles

#1420 Fix content set cascading attributes alt
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.js
Labels: demo, functionality

#1415 CI: Comment out Vue tests for jump links temporarily to prevent unrelated failures
  elements/pfe-jump-links/test/index.html
  elements/pfe-jump-links/test/pfe-jump-links_test.js
Labels: size: sm, tests

#1393 fix: Content set bug with cascading attributes
  CHANGELOG-1.x.md
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.scss
  elements/pfe-content-set/test/pfe-content-set_react_test.html
  elements/pfe-content-set/test/pfe-content-set_test.html
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfe-content-set/test/pfe-content-set_vue_test.html
  elements/pfelement/src/pfelement.js
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: AT passed, demo, functionality, ready to merge, run e2e, size: md, styles, tests

#1427 fix: Content set hold rendering until upgrade, prefixed attribute support for overflow property in cards
  CHANGELOG-1.x.md
  elements/pfe-card/src/pfe-card.scss
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfelement/src/pfelement.js
Labels: demo, functionality, ready to merge, run e2e, styles

#1430 chore: version bumps from release/v1.3.2
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
Labels: ready to merge

#1437 chore: Updating baselines; adjusting validation ratios for image comparisons
  elements/pfe-badge/test/pfe-badge_e2e.js
  elements/pfe-band/demo/demo.css
  elements/pfe-codeblock/test/pfe-codeblock_e2e.js
  elements/pfe-content-set/test/pfe-content-set_e2e.js
  elements/pfe-icon-panel/test/pfe-icon-panel_e2e.js
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-markdown/test/pfe-markdown_e2e.js
  elements/pfe-modal/test/pfe-modal_e2e.js
  elements/pfe-navigation/test/pfe-navigation_e2e.js
  elements/pfe-primary-detail/test/pfe-primary-detail_e2e.js
  elements/pfe-styles/test/pfe-styles_e2e.js
  elements/pfe-tabs/test/pfe-tabs_e2e.js
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_chrome/pfe-avatar.png
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-codeblock.png
  test/vrt-baseline/desktop_chrome/pfe-collapse.png
  test/vrt-baseline/desktop_chrome/pfe-datetime.png
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-health-index.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_chrome/pfe-markdown.png
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-page-status.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_chrome/pfe-progress-indicator.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_ie/pfe-button.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: demo, ready to merge, run e2e, tests

#1429 fix: pfe-accordion accessibility issues
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/index.html
  elements/pfe-accordion/src/pfe-accordion-header.html
  elements/pfe-accordion/src/pfe-accordion-panel.html
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/old-test/pfe-accordion_test.js
  elements/pfe-accordion/test/pfe-accordion_test.js
Labels: demo, feature, functionality, priority: low, ready to merge, ready: branch testing, tests

#1439 Issue 1436 pfe progress steps
  elements/pfe-progress-stepper/CHANGELOG.md
  elements/pfe-progress-stepper/DISCOVERY.md
  elements/pfe-progress-stepper/LICENSE.txt
  elements/pfe-progress-stepper/README.md
  elements/pfe-progress-stepper/demo/index.html
  elements/pfe-progress-stepper/demo/pfe-progress-stepper.story.js
  elements/pfe-progress-stepper/gulpfile.js
  elements/pfe-progress-stepper/package.json
  elements/pfe-progress-stepper/rollup.config.js
  elements/pfe-progress-stepper/src/pfe-progress-stepper-item.html
  elements/pfe-progress-stepper/src/pfe-progress-stepper-item.js
  elements/pfe-progress-stepper/src/pfe-progress-stepper-item.scss
  elements/pfe-progress-stepper/src/pfe-progress-stepper.html
  elements/pfe-progress-stepper/src/pfe-progress-stepper.js
  elements/pfe-progress-stepper/src/pfe-progress-stepper.scss
  elements/pfe-progress-stepper/test/index.html
  elements/pfe-progress-stepper/test/pfe-progress-stepper_e2e.js
  elements/pfe-progress-stepper/test/pfe-progress-stepper_react_test.html
  elements/pfe-progress-stepper/test/pfe-progress-stepper_test.html
  elements/pfe-progress-stepper/test/pfe-progress-stepper_test.js
  elements/pfe-progress-stepper/test/pfe-progress-stepper_vue_test.html
Labels: demo, doc, functionality, styles, tests, tools

#1442 chore: Update dependency tree
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-cta/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-select/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
Labels: ready to merge

#1326 chore: Update test, build, and watch to use node scripts
  .github/workflows/tests.yml
  CHANGELOG-1.x.md
  README.md
  elements/pfe-sass/gulpfile.js
  generators/element/templates/scripts/gulpfile.factory.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/build.sh
  scripts/demo.sh
  scripts/dev.sh
  scripts/doc-listing-inject.js
  scripts/get-element-names.js
  scripts/open-pr.js
  scripts/test.js
  scripts/test.sh
  scripts/tools.js
  scripts/watch.js
  scripts/watch.sh
Labels: generator, priority: low, ready to merge, ready: branch testing, size: md, tools

#1418 Fix: pfe-codeblock | Update theme colours for accessibility
  CHANGELOG-1.x.md
  elements/pfe-codeblock/src/pfe-codeblock-material-dark.scss
  elements/pfe-codeblock/src/pfe-codeblock-material-light.scss
  test/vrt-baseline/desktop_chrome/pfe-codeblock.png
  test/vrt-baseline/desktop_ie/pfe-codeblock.png
Labels: accessibility, bug

#1459 chore: Update pfe-sass references
  elements/pfe-navigation/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-styles/package.json
  elements/pfelement/package.json
  generators/element/templates/package.json
Labels: generator, ready to merge

#1451 chore(ci): Updating CI to allow tests on docs updates and clean up label logic
  .github/workflows/automerge.yml
  .github/workflows/cc-format.yml
  .github/workflows/label.yml
  .github/workflows/merge-label.yml
  .github/workflows/tests.yml
Labels: priority: low, tools

#1460 chore(ci): fail build on error
  scripts/gulpfile.factory.js
  scripts/tools.js
Labels: priority: high, ready to merge, tools

#1385 fix: Typography mixin arguments & update docs
  CHANGELOG-1.x.md
  docs/content/theme/typography-sizing.md
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/src/pfe-clipboard.scss
  elements/pfe-sass/README.md
  elements/pfe-sass/extends/_typography_extends.scss
  elements/pfe-sass/mixins/_copy-mixins.scss
  elements/pfe-styles/README.md
  elements/pfe-styles/src/pfe-typography-classes.scss
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-clipboard.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_ie/pfe-clipboard.png
Labels: bug

#1466 chore: Watch needs to be run in parallel
  scripts/tools.js
Labels: tools

#1470 docs: Update version references
  docs/content/develop/step-5.md
  docs/content/getting-started/_index.md
  docs/content/theme/_index.md
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/partials/header.html
Labels: doc

#1472 chore: version bumps from release/v1.3.3
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge

#1428 Translate user menu
  elements/pfe-navigation-account/demo/index.html
  elements/pfe-navigation-account/src/pfe-navigation-account.js
Labels: demo, functionality

#1485 Migrating content set to use dynamic slot
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.scss
  elements/pfe-tabs/src/pfe-tab.js
Labels: demo, functionality, styles

#1457 fix: pfe tabs padding update
  CHANGELOG-1.x.md
  elements/pfe-tabs/README.md
  elements/pfe-tabs/demo/all-combos.css
  elements/pfe-tabs/demo/all-combos.html
  elements/pfe-tabs/demo/demo.css
  elements/pfe-tabs/demo/index.html
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/test/pfe-tabs_e2e.js
  package-lock.json
  package.json
  test/vrt-baseline/desktop_chrome/pfe-tabs--dark.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--light.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--saturated.png
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_ie/pfe-tabs.png
Labels: demo, doc, styles, tests

#1482 fix: reduce padding on the pfe jump link
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-panel.scss
  elements/pfe-jump-links/demo/index.html
  elements/pfe-jump-links/demo/test_page.html
  elements/pfe-jump-links/src/pfe-jump-links-nav.scss
  elements/pfe-sass/mixins/_components.scss
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-accordion.png
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_chrome/pfe-avatar.png
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-button.png
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_chrome/pfe-clipboard.png
  test/vrt-baseline/desktop_chrome/pfe-codeblock.png
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_chrome/pfe-cta.png
  test/vrt-baseline/desktop_chrome/pfe-datetime.png
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-health-index.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-page-status.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--dark.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--light.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--saturated.png
  test/vrt-baseline/desktop_ie/pfe-accordion.png
  test/vrt-baseline/desktop_ie/pfe-button.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_ie/pfe-number.png
Labels: demo, run e2e, styles

#1475 fix: pfe-content-set migration to dynamic slots, this context updates
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-header.html
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/old-test/pfe-accordion_test.js
  elements/pfe-accordion/test/pfe-accordion_test.js
  elements/pfe-content-set/demo/demo.css
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.scss
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfe-tabs/src/pfe-tab-panel.js
  elements/pfe-tabs/src/pfe-tab.js
  elements/pfe-tabs/src/pfe-tabs.js
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: demo, functionality, priority: high, styles, tests

#1499 chore: version bumps from release/v1.3.4
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge

#1489 docs: adding npm run build step to Quick Start guide README
  README.md
Labels: ready to merge

#1319 Cpfed 4000 arrow key handler all redhat menu
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: accessibility, functionality, styles, work in progress

#1455 feat: Add performance marks for reporting
  CHANGELOG-1.x.md
  elements/pfelement/src/pfelement.js
  scripts/performance.js
  spandx.config.js
Labels: functionality, tools

#1503 fix: missing style tag when no html template loaded
  CHANGELOG-1.x.md
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfelement/src/pfelement.js
  elements/pfelement/src/polyfills--pfelement.js
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: feature, functionality, priority: low, tests
