Repository patternfly/patternfly-elements, pull requests merged in 2021-04, with the labels that each got.

#1124 fix: Add support for active vs. inactive background colors on wind variant of tabs
  CHANGELOG-1.x.md
  elements/pfe-tabs/README.md
  elements/pfe-tabs/src/pfe-tab-panel.scss
  elements/pfe-tabs/src/pfe-tab.scss
  elements/pfe-tabs/src/pfe-tabs.scss
  package.json
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
Labels: bug, doc, run e2e, styles

#1507 chore: Remove globbing from pfe-sass
  elements/pfe-sass/gulpfile.js
  elements/pfe-sass/pfe-sass.scss
  package-lock.json
  package.json
Labels: priority: low, tools

#1511 chore: Add nvmrc
  .nvmrc
  package-lock.json
Labels: blocked, priority: low, ready: branch testing

#1308 docs: incorporate pfe-codeblock on storybook pages
  .storybook/utils.js
  elements/pfe-codeblock/README.md
  elements/pfe-codeblock/demo/pfe-codeblock.story.js
  elements/pfe-primary-detail/demo/pfe-primary-detail.story.js
Labels: demo, doc

#1292 doc: Updating function docblock of this.getSlot
  elements/pfelement/src/pfelement.js
Labels: functionality, size: sm

#1491 fix: #1490: Make pfe-icon set CSS properties instead of overriding local var
  CHANGELOG-1.x.md
  elements/pfe-icon/demo/index.html
  elements/pfe-icon/src/pfe-icon.scss
  elements/pfe-icon/test/pfe-icon_test.js
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
Labels: demo, run e2e, styles, tests

#1528 test: Adjusting the visual regression test ratios and fixing test bugs
  elements/pfe-badge/test/pfe-badge_e2e.js
  elements/pfe-codeblock/test/pfe-codeblock_e2e.js
  elements/pfe-collapse/test/pfe-collapse_e2e.js
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-cta/test/pfe-cta_e2e.js
  elements/pfe-dropdown/test/pfe-dropdown_e2e.js
  elements/pfe-icon-panel/test/pfe-icon-panel_e2e.js
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-modal/test/pfe-modal_e2e.js
  elements/pfe-navigation/test/pfe-navigation_e2e.js
  elements/pfe-primary-detail/test/pfe-primary-detail_e2e.js
  elements/pfe-select/test/pfe-select_e2e.js
  elements/pfe-styles/src/pfe-context.scss
  elements/pfe-tabs/demo/demo.css
  elements/pfe-tabs/demo/index_e2e.html
  elements/pfe-tabs/test/pfe-tabs_e2e.js
  elements/pfelement/src/pfelement.js
  test/vrt-baseline/desktop_chrome/pfe-tabs--dark.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--light.png
  test/vrt-baseline/desktop_chrome/pfe-tabs--saturated.png
  test/vrt-baseline/desktop_ie/pfe-tabs.png
Labels: demo, functionality, run e2e, styles, tests

#1531 chore: Update package with clean tasks
  package-lock.json
  package.json
Labels: chore, priority: low

#1510 feat: new (pfe-readtime) to display the estimated time to read
  CHANGELOG-1.x.md
  elements/pfe-readtime/LICENSE.txt
  elements/pfe-readtime/README.md
  elements/pfe-readtime/demo/demo.css
  elements/pfe-readtime/demo/index.html
  elements/pfe-readtime/demo/index_e2e.html
  elements/pfe-readtime/demo/pfe-readtime.story.js
  elements/pfe-readtime/gulpfile.js
  elements/pfe-readtime/package.json
  elements/pfe-readtime/readtime.png
  elements/pfe-readtime/rollup.config.js
  elements/pfe-readtime/src/pfe-readtime.html
  elements/pfe-readtime/src/pfe-readtime.js
  elements/pfe-readtime/src/pfe-readtime.scss
  elements/pfe-readtime/test/index.html
  elements/pfe-readtime/test/pfe-readtime_e2e.js
  elements/pfe-readtime/test/pfe-readtime_react_test.html
  elements/pfe-readtime/test/pfe-readtime_test.html
  elements/pfe-readtime/test/pfe-readtime_test.js
  elements/pfe-readtime/test/pfe-readtime_vue_test.html
  test/index.html
  test/vrt-baseline/desktop_chrome/pfe-readtime.png
  test/vrt-baseline/desktop_ie/pfe-readtime.png
Labels: demo, doc, functionality, styles, tests, tools

#1534 chore: version bumps from release/v1.5.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-readtime/package.json
  elements/pfe-readtime/src/pfe-readtime.js
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: functionality, ready to merge

#1537 fix: pfe-readtime word count calculation
  CHANGELOG-1.x.md
  elements/pfe-readtime/demo/demo.css
  elements/pfe-readtime/demo/index.html
  elements/pfe-readtime/package.json
  elements/pfe-readtime/src/pfe-readtime.js
Labels: demo, functionality, ready: code review

#1539 chore: version bumps from release v1.5.1
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
Labels: ready to merge

#1535 chore: Update builds to run in parallel; fix watch error
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-cta/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/gulpfile.js
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  generators/element/templates/scripts/gulpfile.factory.js
  scripts/gulpfile.factory.js
  scripts/tools.js
Labels: functionality, generator, ready: branch testing, tools

#1543 chore: Fix watch task failure
  elements/pfe-sass/gulpfile.js
  generators/element/templates/scripts/gulpfile.factory.js
  scripts/gulpfile.factory.js
Labels: generator, ready to merge, tools

#1352 fix: [pfe-primary-detail] usable in IE11 (#1351)
  CHANGELOG-1.x.md
  elements/pfe-primary-detail/docs/index.md
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/pfe-primary-detail.png
  elements/pfe-primary-detail/src/pfe-primary-detail.js
  elements/pfe-primary-detail/src/pfe-primary-detail.scss
  elements/pfe-primary-detail/test/pfe-primary-detail_test.js
  test/vrt-baseline/desktop_ie/pfe-primary-detail.png
Labels: doc, functionality, ready: code review, styles, tests

#1548 docs: Move polyfill and todo reports to docs folder
  .eleventy.js
  .gitignore
  docs/_data/polyfills.json
  docs/_data/todos.json
  elements/todos.json
  package.json
Labels: doc, ready to merge

#1520 feat: Add JSdoc for pfelement (#89)
  .gitignore
  CHANGELOG-1.x.md
  elements/pfe-sass/gulpfile.js
  elements/pfelement/demo/example.html
  elements/pfelement/gulpfile.js
  elements/pfelement/src/attrDefValidators.js
  elements/pfelement/src/pfelement.js
  elements/pfelement/src/polyfills--pfelement.js
  elements/pfelement/src/reveal.js
  generators/element/templates/scripts/gulpfile.factory.js
  package-lock.json
  package.json
  scripts/gulpfile.factory.js
Labels: demo, functionality, generator, priority: low, tools

#1546 docs: fix footer bug on pages with left-side navigation
  docs/_includes/_foot.html
  docs/_includes/layout-basic.html
  docs/main.css
Labels: doc, ready to merge

#1554 fix: Updating pfelement to cascade `on` attribute; add back persist test
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/index.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfelement/src/pfelement.js
  scripts/test.js
Labels: demo, functionality, ready to merge, tests, tools

#1561 chore: release/v1.6.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/src/pfe-primary-detail.js
  elements/pfe-progress-indicator/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: functionality, ready to merge

#1569 chore: add missing JSDoc assets for 11ty
  .eleventy.js
Labels: chore, doc, priority: high, ready to merge
