Repository patternfly/patternfly-elements, pull requests merged in 2021-08, with the labels that each got.

#1713 fix: pfe-autocomplete update aria-selected attribute
  CHANGELOG-1.x.md
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-autocomplete/src/pfe-search-droplist.html
  elements/pfe-autocomplete/src/pfe-search-droplist.scss
  elements/pfe-autocomplete/test/old-test/pfe-autocomplete-aria_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete-aria_test.html
  elements/pfe-autocomplete/test/pfe-autocomplete_test.js
Labels: feature, tests, styles, ready to merge, accessibility, functionality, demo

#1742 fix: Issue with slotted content rendering in pfe-accordion-header
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-header.js
Labels: ready to merge, functionality, next release, AT passed

#1737 feat: vertically center pfe-tab content
  CHANGELOG-1.x.md
  elements/pfe-tabs/src/pfe-tab.scss
Labels: ready to merge, run e2e, AT passed

#1738 feat: modal width attribute
  CHANGELOG-1.x.md
  elements/pfe-modal/README.md
  elements/pfe-modal/docs/index.md
  elements/pfe-modal/src/pfe-modal.scss
  elements/pfe-modal/test/index.html
  elements/pfe-modal/test/pfe-modal.spec.js
  elements/pfe-modal/test/pfe-modal_test.html
  elements/pfe-modal/test/pfe-modal_test.js
  package-lock.json
  package.json
Labels: ready: code review, ready: design review

#1746 feat: add color vars to pfe-progress-indicator for styling
  CHANGELOG-1.x.md
  elements/pfe-progress-indicator/README.md
  elements/pfe-progress-indicator/demo/index.html
  elements/pfe-progress-indicator/docs/index.md
  elements/pfe-progress-indicator/src/pfe-progress-indicator.scss
Labels: doc, styles, ready to merge, demo, AT passed

#1582 feat: primary details mobile optimization
  CHANGELOG-1.x.md
  elements/pfe-primary-detail/README.md
  elements/pfe-primary-detail/demo/index.html
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/src/pfe-primary-detail--lightdom.scss
  elements/pfe-primary-detail/src/pfe-primary-detail.html
  elements/pfe-primary-detail/src/pfe-primary-detail.js
  elements/pfe-primary-detail/src/pfe-primary-detail.scss
  elements/pfe-primary-detail/test/index.html
  elements/pfe-primary-detail/test/pfe-primary-detail.spec.js
  elements/pfe-primary-detail/test/pfe-primary-detail_test.html
  elements/pfe-primary-detail/test/pfe-primary-detail_test.js
Labels: doc, tests, styles, functionality, demo, AT passed

#1751 feat: pfe-button | Add large variant #1745
  CHANGELOG-1.x.md
  elements/pfe-button/README.md
  elements/pfe-button/demo/index.html
  elements/pfe-button/docs/index.md
  elements/pfe-button/src/pfe-button.js
  elements/pfe-button/src/pfe-button.scss
  elements/pfe-button/test/pfe-button.spec.js
Labels: doc, tests, styles, ready to merge, functionality, demo, AT passed

#1752 chore: Release/v1.11.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-autocomplete/src/pfe-autocomplete.js
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
Labels: functionality, AT passed

#1753 docs: create page for typography in docs section for patternflyelements.org
  docs/_data/todos.json
  docs/theming/typography.md
  elements/pfe-styles/demo/index.html
Labels: doc, ready: code review, demo, AT passed
