Repository patternfly/patternfly-elements, pull requests merged in 2021-02, with the labels that each got.

#1318 feat: set aggressive threshold on IntersectionObserver, sort active i…
  elements/pfe-jump-links/src/pfe-jump-links-panel.js
Labels: functionality

#1321 test: updating pfe-datetime Spanish locale test
  elements/pfe-datetime/test/old-test/pfe-datetime_test.js
  elements/pfe-datetime/test/pfe-datetime_test.js
Labels: tests

#1322 tools: fix sass compile timing
  scripts/build.sh
Labels: needs: branch testing, needs: code review, priority: high, ready to merge, tools

#1324 Making nav compatible with pre 1.0 pfelement and fixers per feedback
  elements/pfe-navigation-account/demo/index.html
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/package-lock.json
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: demo, functionality, styles

#1323 CI: color flag for command line in GitHub Actions
  .github/workflows/tests.yml
  scripts/build.sh
  scripts/demo.sh
  scripts/deploy-docs.sh
  scripts/dev.sh
  scripts/hugo-check.sh
  scripts/leftover-check.sh
  scripts/release.sh
  scripts/test.sh
  scripts/watch.sh
  wdio.conf.js
Labels: needs: code review, priority: low, ready to merge, tools

#1325 chore: Allow pfe-sass to be built solo
  scripts/build.sh
Labels: priority: high, size: sm, tools

#1303 fix: Typography: mixins & extends
  CHANGELOG-1.x.md
  elements/pfe-sass/.sassdocrc
  elements/pfe-sass/extends/_tyopgraphy_extends.scss
  elements/pfe-sass/extends/_typography_extends.scss
  elements/pfe-sass/functions/_custom-properties.scss
  elements/pfe-sass/functions/_general.scss
  elements/pfe-sass/maps/_broadcasted.scss
  elements/pfe-sass/maps/_general.scss
  elements/pfe-sass/maps/_typography.scss
  elements/pfe-sass/mixins/_copy-mixins.scss
  elements/pfe-sass/mixins/_custom-properties.scss
  elements/pfe-sass/variables/_4-sizes.scss
  elements/pfe-styles/demo/index.html
  elements/pfe-styles/src/pfe-base.scss
  elements/pfe-styles/src/pfe-typography-classes.scss
  elements/pfe-styles/src/pfe-typography-deprecated.scss
  elements/pfe-styles/src/pfe-vars.scss
  package-lock.json
Labels: demo, ready to merge, styles

#1277 feat: Update Firefox support to 78
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  generators/element/templates/package.json
  generators/element/templates/scripts/gulpfile.factory.js
  package-lock.json
  package.json
  scripts/gulpfile.factory.js
  scripts/rollup.config.factory.js
Labels: functionality, generator, priority: medium, tools

#1310 fix: pfe clipboard bug fixes
  CHANGELOG-1.x.md
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/src/pfe-clipboard.scss
Labels: bug, doc, ready to merge, styles

#1334 CI: Reduce storybook build output
  package.json
Labels: needs: code review, priority: low, size: sm, tools

#1339 chore: Patch build script
  package-lock.json
  package.json
  scripts/build.sh
Labels: ready to merge, tools

#1338 fix: [pfe-styles] adjust weight of text modifier classes to be lighter
  CHANGELOG-1.x.md
  elements/pfe-sass/mixins/_copy-mixins.scss
Labels: bug, design system

#1341 chore: Update automerge & needs/ready labels
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  .github/PULL_REQUEST_TEMPLATE/update_component.md
  .github/PULL_REQUEST_TEMPLATE/update_infrastructure.md
  .github/workflows/automerge.yml
  .github/workflows/project.yml
Labels: priority: low, tools

#1342 chore: Update default template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority: low, tools

#1340 chore: update baselines files from typography update
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-accordion.png
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_chrome/pfe-avatar.png
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-button.png
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_chrome/pfe-clipboard.png
  test/vrt-baseline/desktop_chrome/pfe-collapse.png
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_chrome/pfe-cta.png
  test/vrt-baseline/desktop_chrome/pfe-datetime.png
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-health-index.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_chrome/pfe-jump-links.png
  test/vrt-baseline/desktop_chrome/pfe-markdown.png
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-page-status.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_chrome/pfe-progress-indicator.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_chrome/pfe-toast.png
  test/vrt-baseline/desktop_ie/pfe-accordion.png
  test/vrt-baseline/desktop_ie/pfe-autocomplete.png
  test/vrt-baseline/desktop_ie/pfe-avatar.png
  test/vrt-baseline/desktop_ie/pfe-badge.png
  test/vrt-baseline/desktop_ie/pfe-band.png
  test/vrt-baseline/desktop_ie/pfe-button.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-clipboard.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-cta.png
  test/vrt-baseline/desktop_ie/pfe-datetime.png
  test/vrt-baseline/desktop_ie/pfe-dropdown.png
  test/vrt-baseline/desktop_ie/pfe-health-index.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
  test/vrt-baseline/desktop_ie/pfe-markdown.png
  test/vrt-baseline/desktop_ie/pfe-modal.png
  test/vrt-baseline/desktop_ie/pfe-navigation.png
  test/vrt-baseline/desktop_ie/pfe-primary-detail.png
  test/vrt-baseline/desktop_ie/pfe-select.png
  test/vrt-baseline/desktop_ie/pfe-styles.png
  test/vrt-baseline/desktop_ie/pfe-tabs.png
  test/vrt-baseline/desktop_ie/pfe-toast.png
Labels: priority: low, ready: code review, run e2e

#875 feat: pfe codeblock #804
  .gitignore
  CHANGELOG-1.x.md
  elements/pfe-codeblock/LICENSE.txt
  elements/pfe-codeblock/README.md
  elements/pfe-codeblock/codeblock--screenshot.png
  elements/pfe-codeblock/demo/index.html
  elements/pfe-codeblock/demo/pfe-codeblock.story.js
  elements/pfe-codeblock/gulpfile.js
  elements/pfe-codeblock/package.json
  elements/pfe-codeblock/rollup.config.js
  elements/pfe-codeblock/src/pfe-codeblock-material-dark.scss
  elements/pfe-codeblock/src/pfe-codeblock-material-light.scss
  elements/pfe-codeblock/src/pfe-codeblock.html
  elements/pfe-codeblock/src/pfe-codeblock.js
  elements/pfe-codeblock/src/pfe-codeblock.scss
  elements/pfe-codeblock/src/polyfills--pfe-codeblock.js
  elements/pfe-codeblock/test/index.html
  elements/pfe-codeblock/test/pfe-codeblock_e2e.js
  elements/pfe-codeblock/test/pfe-codeblock_react_test.html
  elements/pfe-codeblock/test/pfe-codeblock_test.html
  elements/pfe-codeblock/test/pfe-codeblock_test.js
  elements/pfe-codeblock/test/pfe-codeblock_vue_test.html
  test/index.html
Labels: priority: low, run e2e

#1347 Fix #1346 font weight issues by swapping out Google fonts for local @font-face
  CHANGELOG-1.x.md
  elements/pfe-accordion/demo/index.html
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-avatar/demo/index.html
  elements/pfe-badge/demo/index.html
  elements/pfe-band/demo/index.html
  elements/pfe-button/demo/index.html
  elements/pfe-card/demo/index.html
  elements/pfe-clipboard/demo/index.html
  elements/pfe-collapse/demo/index.html
  elements/pfe-content-set/demo/index.html
  elements/pfe-cta/demo/index.html
  elements/pfe-datetime/demo/index.html
  elements/pfe-dropdown/demo/index.html
  elements/pfe-health-index/demo/index.html
  elements/pfe-icon-panel/demo/index.html
  elements/pfe-icon/demo/index.html
  elements/pfe-jump-links/demo/index.html
  elements/pfe-markdown/demo/index.html
  elements/pfe-modal/demo/index.html
  elements/pfe-navigation/demo/index.html
  elements/pfe-number/demo/index.html
  elements/pfe-sass/maps/_typography.scss
  elements/pfe-sass/mixins/_components.scss
  elements/pfe-sass/mixins/_copy-mixins.scss
  elements/pfe-select/demo/index.html
  elements/pfe-styles/demo/colors.html
  elements/pfe-styles/demo/index.html
  elements/pfe-styles/package.json
  elements/pfe-styles/src/red-hat-font.scss
  elements/pfe-tabs/demo/index.html
  elements/pfe-toast/demo/index.html
  elements/pfelement/demo/index.html
Labels: demo, next release, styles

#1348 chore: Update baselines for codeblock
  CHANGELOG-1.x.md
  test/vrt-baseline/desktop_chrome/pfe-codeblock.png
  test/vrt-baseline/desktop_ie/pfe-codeblock.png
Labels: feature, next release, priority: high, run e2e, size: sm

#1335 Cpfed 3933 i18n
  elements/pfe-navigation/src/pfe-navigation.html
  elements/pfe-navigation/src/pfe-navigation.js
Labels: functionality

#1354 Cpfed 4049 updates to nav for portal qa
  elements/pfe-navigation-account/package-lock.json
  elements/pfe-navigation-account/package.json
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation-account/src/pfe-navigation-account.scss
  elements/pfe-navigation/package.json
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
Labels: functionality, styles

#1355 chore: Updating baselines and getting icon demo page to have more examples on it
  elements/pfe-codeblock/test/pfe-codeblock_e2e.js
  elements/pfe-icon/demo/icon-sets.js
  elements/pfe-icon/demo/index_e2e.html
  elements/pfe-icon/src/pfe-icon.js
  elements/pfe-icon/src/pfe-icon.json
  elements/pfe-icon/src/polyfills--pfe-icon.js
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-jump-links/test/pfe-jump-links_e2e.js
  elements/pfe-primary-detail/test/pfe-primary-detail_e2e.js
  test/vrt-baseline/desktop_chrome/pfe-accordion.png
  test/vrt-baseline/desktop_chrome/pfe-autocomplete.png
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-button.png
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_chrome/pfe-clipboard.png
  test/vrt-baseline/desktop_chrome/pfe-collapse.png
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_chrome/pfe-cta.png
  test/vrt-baseline/desktop_chrome/pfe-datetime.png
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-health-index.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_chrome/pfe-jump-links.png
  test/vrt-baseline/desktop_chrome/pfe-markdown.png
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation.png
  test/vrt-baseline/desktop_chrome/pfe-number.png
  test/vrt-baseline/desktop_chrome/pfe-progress-indicator.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_chrome/pfe-toast.png
  test/vrt-baseline/desktop_ie/pfe-accordion.png
  test/vrt-baseline/desktop_ie/pfe-autocomplete.png
  test/vrt-baseline/desktop_ie/pfe-avatar.png
  test/vrt-baseline/desktop_ie/pfe-badge.png
  test/vrt-baseline/desktop_ie/pfe-band.png
  test/vrt-baseline/desktop_ie/pfe-button.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-clipboard.png
  test/vrt-baseline/desktop_ie/pfe-codeblock.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-cta.png
  test/vrt-baseline/desktop_ie/pfe-datetime.png
  test/vrt-baseline/desktop_ie/pfe-dropdown.png
  test/vrt-baseline/desktop_ie/pfe-health-index.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
  test/vrt-baseline/desktop_ie/pfe-icon.png
  test/vrt-baseline/desktop_ie/pfe-markdown.png
  test/vrt-baseline/desktop_ie/pfe-modal.png
  test/vrt-baseline/desktop_ie/pfe-navigation.png
  test/vrt-baseline/desktop_ie/pfe-number.png
  test/vrt-baseline/desktop_ie/pfe-page-status.png
  test/vrt-baseline/desktop_ie/pfe-select.png
  test/vrt-baseline/desktop_ie/pfe-styles.png
  test/vrt-baseline/desktop_ie/pfe-tabs.png
  test/vrt-baseline/desktop_ie/pfe-toast.png
Labels: run e2e

#1356 chore: Minor linting on demo pages for consistency
  .prettierignore
  docs/layouts/_default/baseof.html
  docs/themes/kube/index.html
  docs/themes/kube/layouts/_default/baseof.html
  elements/pfe-accordion/demo/index.html
  elements/pfe-autocomplete/demo/index.html
  elements/pfe-avatar/demo/index.html
  elements/pfe-badge/demo/index.html
  elements/pfe-button/demo/index.html
  elements/pfe-card/demo/index.html
  elements/pfe-collapse/demo/index.html
  elements/pfe-content-set/demo/index.html
  elements/pfe-cta/demo/index.html
  elements/pfe-datetime/demo/index.html
  elements/pfe-dropdown/demo/index.html
  elements/pfe-health-index/demo/index.html
  elements/pfe-icon-panel/demo/index.html
  elements/pfe-icon/demo/index.html
  elements/pfe-markdown/demo/index.html
  elements/pfe-modal/demo/index.html
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/pfe-navigation.story.js
  elements/pfe-number/demo/index.html
  elements/pfe-page-status/demo/index.html
  elements/pfe-progress-indicator/demo/index.html
  elements/pfe-select/demo/index.html
  elements/pfe-styles/demo/index.html
  elements/pfe-tabs/demo/index.html
  elements/pfe-toast/demo/index.html
  elements/pfelement/demo/index.html
Labels: demo, doc

#1353 fix: Navigation styles for mobile accordion
  CHANGELOG-1.x.md
  elements/pfe-navigation/src/_shared-assets.scss
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation-item.scss
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/test/pfe-navigation_e2e.js
  elements/pfe-sass/mixins/_components.scss
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_chrome/pfe-navigation.png
  test/vrt-baseline/desktop_ie/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_ie/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_ie/pfe-navigation.png
Labels: next release, priority: high, ready to merge, ready: branch testing, ready: browser testing, ready: code review, run e2e, size: sm, styles, tests

#1362 version bumps from v1.2.0
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge, release

#1368 fix: set hidden attribute to empty string
  elements/pfe-content-set/src/pfe-content-set.js
Labels: functionality

#1367 feat: Adding $custom-prop-prefix to resolve naming conflicts
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/_shared-assets.scss
  elements/pfe-sass/functions/_custom-properties.scss
  elements/pfe-sass/mixins/_custom-properties.scss
  elements/pfe-sass/variables/_1-definitions.scss
Labels: ready to merge, styles

#1373 Adding a little more starter for tests
  elements/pfe-navigation/test/pfe-navigation_test.js
Labels: tests

#1370 chore: Minor comment ressurection
  elements/pfe-accordion/src/_shared-assets.scss
Labels: ready to merge, styles

#1365 fix: issue with custom styles piercing shadow DOM rendering
  CHANGELOG-1.x.md
  elements/pfe-content-set/demo/demo.css
  elements/pfe-content-set/demo/index.html
  elements/pfe-content-set/package.json
  elements/pfe-content-set/src/pfe-content-set.html
  elements/pfe-content-set/src/pfe-content-set.js
  elements/pfe-content-set/src/pfe-content-set.scss
  elements/pfe-content-set/test/index.html
  elements/pfe-content-set/test/old-test/pfe-content-set_react_test.html
  elements/pfe-content-set/test/old-test/pfe-content-set_test.html
  elements/pfe-content-set/test/old-test/pfe-content-set_test.js
  elements/pfe-content-set/test/old-test/pfe-content-set_vue_test.html
  elements/pfe-content-set/test/pfe-content-set_test.js
  elements/pfelement/src/pfelement.js
  package-lock.json
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_ie/pfe-content-set.png
Labels: bug, demo, functionality, next release, priority: high, ready to merge, ready: branch testing, run e2e, styles, tests

#1377 fix: pfe-cta simplify and fix font sizing
  CHANGELOG-1.x.md
  elements/pfe-cta/src/pfe-cta.scss
  test/vrt-baseline/desktop_chrome/pfe-cta.png
Labels: bug, next release, priority: high, styles

#1379 version bumps from release/v1.3.0
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: release

#1369 chore: Update build script to output detailed build failures
  scripts/build.sh
Labels: ready to merge, tools

#1380 chore: update package dependencies for primary detail
  elements/pfe-primary-detail/package.json
Labels: ready to merge, ready: code review

#1383 Cpfed 4049 fixing bugs
  elements/pfe-navigation-account/package.json
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation/package.json
  elements/pfe-navigation/src/_pfe-navigation--grid.scss
  elements/pfe-navigation/src/_variables-mixins.scss
  elements/pfe-navigation/src/pfe-navigation.js
Labels: functionality, styles

#1402 chore: Update baselines after CTA typography was updated
  test/vrt-baseline/desktop_chrome/pfe-badge.png
  test/vrt-baseline/desktop_chrome/pfe-band.png
  test/vrt-baseline/desktop_chrome/pfe-card.png
  test/vrt-baseline/desktop_chrome/pfe-collapse.png
  test/vrt-baseline/desktop_chrome/pfe-content-set.png
  test/vrt-baseline/desktop_chrome/pfe-cta.png
  test/vrt-baseline/desktop_chrome/pfe-icon-panel.png
  test/vrt-baseline/desktop_chrome/pfe-modal.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_chrome/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_chrome/pfe-primary-detail.png
  test/vrt-baseline/desktop_chrome/pfe-progress-indicator.png
  test/vrt-baseline/desktop_chrome/pfe-select.png
  test/vrt-baseline/desktop_chrome/pfe-styles.png
  test/vrt-baseline/desktop_chrome/pfe-tabs.png
  test/vrt-baseline/desktop_chrome/pfe-toast.png
  test/vrt-baseline/desktop_ie/pfe-band.png
  test/vrt-baseline/desktop_ie/pfe-card.png
  test/vrt-baseline/desktop_ie/pfe-cta.png
  test/vrt-baseline/desktop_ie/pfe-icon-panel.png
  test/vrt-baseline/desktop_ie/pfe-modal.png
  test/vrt-baseline/desktop_ie/pfe-navigation--desktop.png
  test/vrt-baseline/desktop_ie/pfe-navigation--mobile.png
  test/vrt-baseline/desktop_ie/pfe-primary-detail.png
  test/vrt-baseline/desktop_ie/pfe-toast.png
Labels: priority: high, ready to merge, ready: code review, run e2e, size: sm

#1381 chore: Update dependencies
  elements/pfe-accordion/demo/index.html
  elements/pfe-badge/package.json
  elements/pfe-button/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-codeblock/src/pfe-codeblock-material-dark.scss
  elements/pfe-codeblock/src/pfe-codeblock-material-light.scss
  elements/pfe-codeblock/src/pfe-codeblock.scss
  elements/pfe-content-set/package.json
  elements/pfe-health-index/demo/index.html
  elements/pfe-icon-panel/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-navigation/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-toast/package.json
  elements/pfelement/demo/index.html
  elements/pfelement/package.json
Labels: bug, demo, priority: medium, ready to merge, ready: branch testing, ready: code review, size: sm, styles
