Repository patternfly/patternfly-elements, pull requests merged in 2021-09, with the labels that each got.

#1760 fix: typos in package.json files
  CHANGELOG-1.x.md
  elements/pfe-badge/package.json
  elements/pfe-modal/package.json
Labels: ready to merge, AT passed

#1766 fix: fix for re-renders when there is no selectedindex
  elements/pfe-tabs/src/pfe-tabs.js
Labels: ready to merge, functionality, AT passed

#1763 fix: added resize observer for lining up progress bar
  CHANGELOG-1.x.md
  elements/pfe-progress-steps/src/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/src/pfe-progress-steps.js
  elements/pfe-progress-steps/test/pfe-progress-steps.spec.js
Labels: tests, styles, functionality, AT passed

#1761 fix: #1756 #1758 Fix IE11 issues, Safari issues, and Esc key working on compact layout
  CHANGELOG-1.x.md
  elements/pfe-primary-detail/src/pfe-primary-detail.js
Labels: ready to merge, accessibility, functionality, AT passed, fix

#1770 chore: Release/v1.11.1
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge, AT passed

#1769 fix: Adding better details to accordion events
  elements/pfe-accordion/src/pfe-accordion-header.js
  elements/pfe-accordion/src/pfe-accordion.js
  elements/pfe-accordion/test/pfe-accordion.spec.js
Labels: tests, ready: code review, functionality, AT passed

#1748 fix: update `engines.node` for elements and monorepo root
  .github/workflows/tests.yml
  README.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  generators/element/templates/package.json
  package-lock.json
  package.json
Labels: tools, ready to merge, generator, AT passed

#1782 fix: issue-1781 Mobile typography variable names
  CHANGELOG-1.x.md
  elements/pfe-styles/demo/typography-mobile.html
Labels: ready to merge, demo, AT passed

#1789 fix: added px value defaults for accent-bar mixin
  CHANGELOG-1.x.md
  elements/pfe-sass/mixins/_containers.scss
Labels: ready to merge, AT passed

#1790 chore: Release/v1.11.2
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: AT passed
