Repository patternfly/patternfly-elements, pull requests merged in 2021-06, with the labels that each got.

#1653 fix: Fix content set ID copy to shadow dom
  CHANGELOG-1.x.md
  elements/pfe-content-set/src/pfe-content-set.js
Labels: next release, priority: high, ready: code review

#1668 chore: dependabot wdio update throwing unexpected e2e error
  elements/pfe-accordion/test/pfe-accordion_e2e.js
  elements/pfe-clipboard/test/pfe-clipboard_e2e.js
  elements/pfe-icon/test/pfe-icon_e2e.js
  elements/pfe-modal/src/pfe-modal.js
  elements/pfe-modal/src/polyfills--pfe-modal.js
  elements/pfe-modal/test/pfe-modal_e2e.js
  elements/pfe-progress-steps/test/pfe-progress-steps_e2e.js
  package-lock.json
  package.json
  test/vrt-baseline/desktop_chrome/pfe-dropdown.png
  test/vrt-baseline/desktop_chrome/pfe-icon.png
  test/vrt-baseline/desktop_ie/pfe-collapse.png
Labels: ready: code review, run e2e, tests

#1667 fix: set margin-top for ctas in footer on mobile
  CHANGELOG-1.x.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
Labels: demo, fix, ready to merge, styles

#1669 Adding support for importing link tags into component
  elements/pfe-navigation-account/src/pfe-navigation-account.js
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/documentation/custom-dropdown-layout.md
  elements/pfe-navigation/documentation/implementation.md
  elements/pfe-navigation/src/pfe-navigation--lightdom.scss
  elements/pfe-navigation/src/pfe-navigation.js
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--grid.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--site-switcher.scss
  elements/pfe-navigation/src/sass-includes/_pfe-navigation--utility-classes.scss
  elements/pfe-navigation/src/sass-includes/_variables-mixins.scss
Labels: demo, doc, functionality, styles

#1674 chore: Update pfe-badge package.json path
  elements/pfe-badge/package.json
Labels: next release, priority: medium, ready: code review, size: sm

#1530 docs: Update pfe-typography documentation in readme
  CHANGELOG-1.x.md
  elements/pfe-styles/README.md
  elements/pfe-styles/src/pfe-base.scss
Labels: doc, ready to merge, styles

#1680 chore: version bumps from release/v1.9.3
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
  package-lock.json
Labels: ready to merge

#1682 CPFED-4210: add lang to html tags to fix a11y issue on lighthouse
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/demo/single-nav-sticky.html
Labels: demo

#1683 CPFED-4211: change aria text for main nav to Main
  elements/pfe-navigation/src/pfe-navigation.html
Labels: functionality

#1690 chore: Minor testing updates
  CHANGELOG-1.x.md
  generators/test/templates/_element.spec.js
  web-test-runner.config.mjs
Labels: generator, ready: branch testing, ready: code review

#1692 chore: Updating a few templates with GitHub changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_component.md
  .github/ISSUE_TEMPLATE/update_component.md
  .github/PULL_REQUEST_TEMPLATE/new_component.md
  .github/PULL_REQUEST_TEMPLATE/update_component.md
  .github/PULL_REQUEST_TEMPLATE/update_documentation.md
  .github/PULL_REQUEST_TEMPLATE/update_infrastructure.md
Labels: priority: low, ready: code review, tools
