Repository patternfly/patternfly-elements, pull requests merged in 2021-11, with the labels that each got.

#1795 feat: Make it so PFE-Clipboard can copy arbitrary content
  CHANGELOG-1.x.md
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/demo/index.html
  elements/pfe-clipboard/docs/index.md
  elements/pfe-clipboard/src/pfe-clipboard.html
  elements/pfe-clipboard/src/pfe-clipboard.js
  elements/pfe-clipboard/src/pfe-clipboard.scss
  elements/pfe-clipboard/test/index.html
  elements/pfe-clipboard/test/pfe-clipboard.spec.js
  elements/pfe-clipboard/test/pfe-clipboard_react_test.html
  elements/pfe-clipboard/test/pfe-clipboard_test.html
  elements/pfe-clipboard/test/pfe-clipboard_test.js
  elements/pfe-clipboard/test/pfe-clipboard_vue_test.html
  package.json
  web-test-runner.config.mjs
Labels: doc, tests, styles, ready to merge, functionality, demo, AT passed

#1808 feat: Release/v1.12.0
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
Labels: AT passed

#1810 fix: added border-box to panel to fix border offset
  CHANGELOG-1.x.md
  elements/pfe-accordion/src/pfe-accordion-panel.scss
Labels: styles, ready to merge, AT passed, fix

#1812 chore: Release/v1.12.2
  CHANGELOG-1.x.md
  elements/pfe-accordion/package.json
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-content-set/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-navigation/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-sass/package.json
  elements/pfe-select/package.json
  elements/pfe-styles/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfelement/package.json
  lerna.json
Labels: ready to merge, AT passed
