Repository patternfly/patternfly-elements, pull requests merged in 2022-08, with the labels that each got.

#2087 fix(tools): serve changes to ts sources
  .changeset/green-jobs-guess.md
  tools/pfe-tools/dev-server.ts
Labels: tools, ready to merge, AT passed, bug

#2094 [pfe-tooltip] - Updating documentation, fixing scss variable
  .changeset/rude-pillows-pay.md
  elements/pfe-tooltip/BaseTooltip.scss
  elements/pfe-tooltip/README.md
  elements/pfe-tooltip/pfe-tooltip.ts
Labels: doc, styles, functionality, AT passed, chore

#2100 docs(markdown): Updating docs page link to marked.js
  elements/pfe-markdown/README.md
  elements/pfe-markdown/pfe-markdown.ts
Labels: doc, functionality, AT passed

#2101 docs(datetime): fixing href & script tags in datetime docs
  elements/pfe-datetime/demo/pfe-datetime.html
  elements/pfe-datetime/docs/pfe-datetime.md
Labels: doc, ready to merge, demo, AT passed

#2097 chore: update dependencies
  .changeset/brown-trees-shave.md
  .changeset/chilled-icons-beam.md
  .changeset/chilled-spiders-burn.md
  .changeset/red-hairs-push.md
  core/pfe-core/package.json
  core/pfe-styles/package.json
  elements/pfe-accordion/package.json
  elements/pfe-accordion/pfe-accordion-panel.ts
  elements/pfe-autocomplete/package.json
  elements/pfe-avatar/package.json
  elements/pfe-badge/package.json
  elements/pfe-band/package.json
  elements/pfe-button/package.json
  elements/pfe-button/pfe-button.ts
  elements/pfe-card/package.json
  elements/pfe-clipboard/package.json
  elements/pfe-codeblock/package.json
  elements/pfe-collapse/package.json
  elements/pfe-cta/package.json
  elements/pfe-datetime/package.json
  elements/pfe-dropdown/package.json
  elements/pfe-health-index/package.json
  elements/pfe-icon-panel/package.json
  elements/pfe-icon/package.json
  elements/pfe-jump-links/package.json
  elements/pfe-label/demo/demo.css
  elements/pfe-label/package.json
  elements/pfe-markdown/package.json
  elements/pfe-modal/package.json
  elements/pfe-number/package.json
  elements/pfe-page-status/package.json
  elements/pfe-primary-detail/package.json
  elements/pfe-progress-indicator/package.json
  elements/pfe-progress-steps/package.json
  elements/pfe-readtime/package.json
  elements/pfe-select/package.json
  elements/pfe-tabs/package.json
  elements/pfe-toast/package.json
  elements/pfe-tooltip/package.json
  package-lock.json
  package.json
  patches/@11ty+eleventy-plugin-syntaxhighlight+4.0.0.patch
  tools/create-element/package.json
  tools/create-element/templates/element/demo/demo.css
  tools/eslint-config/package.json
  tools/netlify-plugin-github-actions/package.json
  tools/pfe-tools/dev-server.ts
  tools/pfe-tools/dev-server/bundle.ts
  tools/pfe-tools/dev-server/demo.css
  tools/pfe-tools/esbuild.ts
  tools/pfe-tools/package.json
Labels: tools, functionality, demo, generator, AT passed, for dev

#2107 chore(autocomplete): add missing dependency
  .changeset/cool-coats-press.md
  .changeset/mean-points-drop.md
  elements/pfe-autocomplete/package.json
  elements/pfe-button/tsconfig.json
  elements/pfe-icon/builtin-icon-sets.ts
  package-lock.json
  tools/eslint-config/package.json
  tools/pfe-tools/package.json
Labels: tools, functionality, AT passed

#2112 feat(tools): config file
  .changeset/chatty-cherries-rush.md
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/11ty/plugins/types.ts
  tools/pfe-tools/README.md
  tools/pfe-tools/config.ts
  tools/pfe-tools/custom-elements-manifest.ts
  tools/pfe-tools/custom-elements-manifest/demos.ts
  tools/pfe-tools/custom-elements-manifest/lib/Manifest.ts
  tools/pfe-tools/dev-server.ts
Labels: tools, AT passed
