Repository patternfly/patternfly-elements, pull requests merged in 2022-11, with the labels that each got.

#2216 fix(tools): update element internals polyfill
  .changeset/breezy-melons-sell.md
  docs/_includes/_head.njk
  package-lock.json
  tools/pfe-tools/11ty/plugins/pfe-assets.cjs
  tools/pfe-tools/package.json
Labels: doc, tools, AT passed

#2218 docs(badge): updated Badge page
  elements/pfe-badge/docs/pfe-badge.md
  elements/pfe-badge/docs/preview.png
Labels: doc, work in progress, AT passed, docs

#2221 fix(switch): making sure toggle isn't called when switch is disabled
  .changeset/giant-spies-love.md
  elements/pfe-switch/BaseSwitch.scss
  elements/pfe-switch/BaseSwitch.ts
  elements/pfe-switch/README.md
Labels: doc, styles, work in progress, functionality, AT passed

#2220 fix(accordion): :wheelchair: Fixing pfe-accordion voice accessibility bug on collapse
  .changeset/selfish-dolls-look.md
  elements/pfe-accordion/BaseAccordion.scss
Labels: styles, AT passed

#2225 docs(switch): fixing issue with duplicate ids on demo and docs
  elements/pfe-switch/demo/pfe-switch.html
  elements/pfe-switch/docs/pfe-switch.md
Labels: doc, work in progress, demo, AT passed

#2229 chore: remove pfe-readtime
  .changeset/readtime.md
  elements/pfe-readtime/CHANGELOG.md
  elements/pfe-readtime/LICENSE.txt
  elements/pfe-readtime/README.md
  elements/pfe-readtime/custom-elements-manifest.config.js
  elements/pfe-readtime/demo/demo.css
  elements/pfe-readtime/demo/pfe-readtime.html
  elements/pfe-readtime/demo/pfe-readtime.js
  elements/pfe-readtime/docs/pfe-readtime.md
  elements/pfe-readtime/docs/preview.png
  elements/pfe-readtime/package.json
  elements/pfe-readtime/pfe-readtime.scss
  elements/pfe-readtime/pfe-readtime.ts
  elements/pfe-readtime/readtime.png
  elements/pfe-readtime/test/pfe-readtime.e2e.spec.ts
  elements/pfe-readtime/test/pfe-readtime.spec.ts
  elements/pfe-readtime/tsconfig.json
  package-lock.json
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.settings.json
Labels: doc, tools, tests, styles, ready to merge, functionality, demo, AT passed

#2230 fix(switch): adding repo and file list to package.json
  elements/pfe-switch/package.json
Labels: AT passed

#2099 feat(tabs): PF1:1
  .changeset/famous-chicken-move.md
  core/pfe-core/functions/isElementInView.ts
  core/pfe-core/package.json
  elements/pfe-tabs/BaseTab.scss
  elements/pfe-tabs/BaseTab.ts
  elements/pfe-tabs/BaseTabPanel.scss
  elements/pfe-tabs/BaseTabPanel.ts
  elements/pfe-tabs/BaseTabs.scss
  elements/pfe-tabs/BaseTabs.ts
  elements/pfe-tabs/demo/demo.css
  elements/pfe-tabs/demo/pfe-tabs.html
  elements/pfe-tabs/demo/pfe-tabs.js
  elements/pfe-tabs/docs/pfe-tabs.md
  elements/pfe-tabs/package.json
  elements/pfe-tabs/pfe-tab-panel.scss
  elements/pfe-tabs/pfe-tab-panel.ts
  elements/pfe-tabs/pfe-tab.scss
  elements/pfe-tabs/pfe-tab.ts
  elements/pfe-tabs/pfe-tabs.scss
  elements/pfe-tabs/pfe-tabs.ts
  elements/pfe-tabs/test/pfe-tabs.spec.ts
  elements/pfe-tooltip/demo/pfe-tooltip.html
Labels: docs, tests, styles, work in progress, functionality, demo, AT passed, doc

#2235 chore: removing pfe-collapse
  .changeset/thick-beers-smell.md
  elements/pfe-accordion/package.json
  elements/pfe-accordion/tsconfig.json
  elements/pfe-collapse/CHANGELOG.md
  elements/pfe-collapse/LICENSE.txt
  elements/pfe-collapse/README.md
  elements/pfe-collapse/collapse--screenshot.png
  elements/pfe-collapse/custom-elements-manifest.config.js
  elements/pfe-collapse/demo/demo.css
  elements/pfe-collapse/demo/pfe-collapse.html
  elements/pfe-collapse/demo/pfe-collapse.js
  elements/pfe-collapse/docs/pfe-collapse.md
  elements/pfe-collapse/docs/preview.png
  elements/pfe-collapse/package.json
  elements/pfe-collapse/pfe-collapse-panel.scss
  elements/pfe-collapse/pfe-collapse-panel.ts
  elements/pfe-collapse/pfe-collapse-toggle.scss
  elements/pfe-collapse/pfe-collapse-toggle.ts
  elements/pfe-collapse/pfe-collapse.scss
  elements/pfe-collapse/pfe-collapse.ts
  elements/pfe-collapse/test/pfe-collapse.e2e.spec.ts
  elements/pfe-collapse/test/pfe-collapse.spec.ts
  elements/pfe-collapse/tsconfig.json
  package-lock.json
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.settings.json
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed, doc

#2232 feat(badge): add box-sizing property to match PF's badge
  elements/pfe-badge/BaseBadge.scss
Labels: styles, work in progress, AT passed

#2237 docs(tabs): update readme with new example
  elements/pfe-tabs/README.md
  elements/pfe-tabs/tabs.svg
Labels: ready to merge, AT passed, doc
