Repository patternfly/patternfly-elements, pull requests merged in 2022-07, with the labels that each got.

#2045 feat(tooltip): PFE1:1
  .changeset/late-taxis-boil.md
  .changeset/shy-peas-compare.md
  core/pfe-core/controllers/floating-dom-controller.ts
  core/pfe-core/package.json
  docs/_data/importMap.cjs
  elements/pfe-tooltip/BaseTooltip.scss
  elements/pfe-tooltip/BaseTooltip.ts
  elements/pfe-tooltip/README.md
  elements/pfe-tooltip/custom-elements-manifest.config.js
  elements/pfe-tooltip/demo/demo.css
  elements/pfe-tooltip/demo/pfe-tooltip.html
  elements/pfe-tooltip/demo/pfe-tooltip.js
  elements/pfe-tooltip/docs/pfe-tooltip.md
  elements/pfe-tooltip/package.json
  elements/pfe-tooltip/pfe-tooltip.ts
  elements/pfe-tooltip/test/pfe-tooltip.e2e.spec.ts
  elements/pfe-tooltip/test/pfe-tooltip.spec.ts
  elements/pfe-tooltip/tsconfig.json
  package-lock.json
  tools/pfe-tools/_scripts/dev.js
  tools/pfe-tools/esbuild.ts
  tsconfig.settings.json
Labels: doc, tools, tests, styles, ready: code review, functionality, demo, AT passed, 1:1

#2077 chore: fix netlify command
  netlify.toml
Labels: AT passed

#2078 chore: add manual netlify builds
  .github/workflows/preview.yml
Labels: tools, ready to merge, AT passed

#2074 docs: point to next dist tag
  docs/framework-integration/react.md
  docs/framework-integration/vue.md
  docs/get-started/index.md
  docs/index.md
  docs/quick-start/index.md
Labels: doc, ready to merge, AT passed

#2080 fix(jump-links): shouldUpdateLightDOM
  .changeset/warm-fishes-listen.md
  elements/pfe-jump-links/pfe-jump-links-nav.ts
Labels: functionality, AT passed

#2081 fix(tools): template file in tarball
  .changeset/dull-shoes-begin.md
  tools/pfe-tools/package.json
Labels: tools, AT passed

#2083 fix(tools): include devserver webfonts
  .changeset/tender-waves-bow.md
  tools/pfe-tools/package.json
Labels: tools, AT passed
