Repository patternfly/patternfly-elements, pull requests merged in 2022-09, with the labels that each got.

#2136 fix(tools): deslugify demos paths
  .changeset/kind-mirrors-warn.md
  tools/pfe-tools/config.ts
  tools/pfe-tools/custom-elements-manifest/lib/Manifest.ts
  tools/pfe-tools/dev-server.ts
Labels: tools, ready to merge, AT passed

#2146 chore(label): exclude certain files from npm package
  elements/pfe-label/package.json
Labels: ready to merge, AT passed

#2143 fix(docs): import map module versions and query assigned elements
  docs/_data/importMap.cjs
  package-lock.json
  package.json
Labels: doc, AT passed

#2160 CPCORE-7894 feat(navigation): adding ability to set the fade in delay through a CSS variable
  elements/pfe-navigation/README.md
  elements/pfe-navigation/demo/index.html
  elements/pfe-navigation/src/pfe-navigation.scss
  elements/pfe-navigation/src/sass-includes/_variables-mixins.scss
Labels: doc, styles, demo
