Repository patternfly/patternfly-elements, pull requests merged in 2022-12, with the labels that each got.

#2251 fix(tabs): fix package.json exports
  .changeset/clean-seals-unite.md
  elements/pfe-tabs/package.json
Labels: AT passed, 1:1, bug

#2223 fix(icon): add BaseIcon, icon exports
  .changeset/lazy-mayflies-applaud.md
  elements/pfe-icon/BaseIcon.scss
  elements/pfe-icon/BaseIcon.ts
  elements/pfe-icon/package.json
  elements/pfe-icon/pfe-icon.scss
  elements/pfe-icon/pfe-icon.ts
  elements/pfe-switch/test/pfe-switch.spec.ts
  package-lock.json
Labels: tests, styles, ready to merge, functionality, AT passed, 1:1

#2256 fix(tabs): export inset type and add inset as property
  .changeset/heavy-poems-greet.md
  elements/pfe-tabs/BaseTabs.ts
  elements/pfe-tabs/demo/pfe-tabs.js
  elements/pfe-tabs/pfe-tabs.scss
Labels: styles, functionality, demo, AT passed, 1:1, bug

#2259 fix(badge)!: make state abstract
  .changeset/proud-wombats-dress.md
  elements/pfe-badge/BaseBadge.ts
  elements/pfe-badge/pfe-badge.ts
Labels: functionality, AT passed

#2247 feat(button)!: form-associated button
  .changeset/forty-queens-deny.md
  .changeset/shaggy-windows-boil.md
  .changeset/strong-socks-turn.md
  core/pfe-core/controllers/internals-controller.ts
  core/pfe-core/package.json
  core/pfe-styles/demo/colors.html
  docs/kitchen-sink.njk
  elements/pfe-accordion/demo/pfe-accordion.html
  elements/pfe-autocomplete/pfe-autocomplete.ts
  elements/pfe-button/BaseButton.scss
  elements/pfe-button/BaseButton.ts
  elements/pfe-button/README.md
  elements/pfe-button/demo/demo.css
  elements/pfe-button/demo/pfe-button.html
  elements/pfe-button/demo/pfe-button.js
  elements/pfe-button/docs/pfe-button.md
  elements/pfe-button/pfe-button.scss
  elements/pfe-button/pfe-button.ts
  elements/pfe-button/test/pfe-button.spec.ts
  elements/pfe-label/pfe-label.ts
  elements/pfe-modal/demo/pfe-modal.html
  elements/pfe-modal/docs/pfe-modal.md
  elements/pfe-modal/test/pfe-modal.spec.ts
  elements/pfe-switch/demo/pfe-switch.html
  elements/pfe-tooltip/demo/pfe-tooltip.html
  elements/pfe-tooltip/docs/pfe-tooltip.md
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/dev-server/index.html
Labels: tools, tests, styles, functionality, demo, AT passed, for dev, doc

#2265 refactor(label): abstract base class fields
  elements/pfe-label/BaseLabel.scss
  elements/pfe-label/BaseLabel.ts
  elements/pfe-label/pfe-label.scss
  elements/pfe-label/pfe-label.ts
  elements/pfe-label/test/pfe-label.spec.ts
Labels: tests, styles, work in progress, functionality, AT passed, 1:1

#2268 docs(label): add changeset
  .changeset/tender-beans-repair.md
Labels: ready to merge, AT passed, 1:1

#2269 fix(create): typescript error
  .changeset/good-impalas-battle.md
  .changeset/red-trainers-sniff.md
  elements/pfe-timestamp/pfe-timestamp.ts
  elements/pfe-tooltip/BaseTooltip.ts
  package-lock.json
  tools/create-element/main.ts
Labels: tools, ready to merge, functionality, generator, AT passed

#2270 chore: enable array.at in tsconfig
  tsconfig.settings.json
Labels: AT passed

#2271 chore(eslint-config): update dependencies
  .changeset/wicked-clouds-count.md
  elements/pfe-tabs/pfe-tab-panel.ts
  elements/pfe-tabs/pfe-tab.ts
  elements/pfe-tabs/test/pfe-tabs.spec.ts
  package-lock.json
  tools/create-element/generator/element.ts
  tools/eslint-config/package.json
Labels: tools, tests, ready to merge, functionality, generator, AT passed

#2222 feat(card): pfe-card 1:1
  .changeset/many-frogs-film.md
  elements/pfe-card/BaseCard.scss
  elements/pfe-card/BaseCard.ts
  elements/pfe-card/custom-elements-manifest.config.js
  elements/pfe-card/demo/bg-pattern.png
  elements/pfe-card/demo/demo.css
  elements/pfe-card/demo/kitten-200x150.jpeg
  elements/pfe-card/demo/kitten-400x250.jpeg
  elements/pfe-card/demo/kitten-500x250.jpeg
  elements/pfe-card/demo/kitten-500x500.jpeg
  elements/pfe-card/demo/kitten-650x250.jpeg
  elements/pfe-card/demo/kitten-900x300.jpeg
  elements/pfe-card/demo/pfe-card.html
  elements/pfe-card/demo/pfe-card.js
  elements/pfe-card/docs/pfe-card.md
  elements/pfe-card/package.json
  elements/pfe-card/pfe-card--lightdom.scss
  elements/pfe-card/pfe-card.scss
  elements/pfe-card/pfe-card.ts
  elements/pfe-card/test/pfe-card.spec.ts
  web-test-runner.config.js
Labels: docs, tests, styles, ready to merge, functionality, demo, AT passed, doc

#2278 test(card): fix test file
  elements/pfe-card/test/pfe-card.spec.ts
Labels: tests

#2266 refactor(accordion)!: perf and API improvements
  .changeset/brave-drinks-protect.md
  .changeset/happy-candles-sneeze.md
  elements/pfe-accordion/BaseAccordion.scss
  elements/pfe-accordion/BaseAccordion.ts
  elements/pfe-accordion/BaseAccordionHeader.ts
  elements/pfe-accordion/BaseAccordionPanel.ts
  elements/pfe-accordion/demo/demo.css
  elements/pfe-accordion/demo/pfe-accordion.html
  elements/pfe-accordion/demo/pfe-accordion.js
  elements/pfe-accordion/pfe-accordion-header.scss
  elements/pfe-accordion/pfe-accordion-header.ts
  elements/pfe-accordion/pfe-accordion-panel.scss
  elements/pfe-accordion/pfe-accordion-panel.ts
  elements/pfe-accordion/pfe-accordion.ts
  elements/pfe-accordion/test/pfe-accordion.spec.ts
  elements/pfe-switch/test/pfe-switch.spec.ts
  tools/pfe-tools/test/a11y-snapshot.ts
Labels: tools, tests, styles, functionality, demo, AT passed

#2187 feat(tile): PF1:1
  .changeset/ten-keys-begin.md
  elements/pfe-tile/BaseTile.ts
  elements/pfe-tile/README.md
  elements/pfe-tile/custom-elements-manifest.config.js
  elements/pfe-tile/demo/demo.css
  elements/pfe-tile/demo/pfe-tile.html
  elements/pfe-tile/demo/pfe-tile.js
  elements/pfe-tile/docs/pfe-tile.md
  elements/pfe-tile/package.json
  elements/pfe-tile/pfe-tile.scss
  elements/pfe-tile/pfe-tile.ts
  elements/pfe-tile/test/pfe-tile.e2e.spec.ts
  elements/pfe-tile/test/pfe-tile.spec.ts
  elements/pfe-tile/tsconfig.json
  package-lock.json
  tsconfig.settings.json
Labels: docs, tools, tests, styles, functionality, demo, AT passed, 1:1, doc

#2257 feat(tooltip): remove popperjs dependency, replace with floating-ui/dom
  .changeset/honest-pants-fetch.md
  .changeset/mighty-dancers-punch.md
  .changeset/selfish-jeans-trade.md
  .changeset/smart-planets-mate.md
  .changeset/tasty-tigers-fail.md
  core/pfe-core/controllers/floating-dom-controller.ts
  core/pfe-core/controllers/internals-controller.ts
  core/pfe-core/package.json
  docs/_data/importMap.cjs
  elements/pfe-button/BaseButton.ts
  elements/pfe-button/demo/pfe-button.html
  elements/pfe-button/demo/pfe-button.js
  elements/pfe-button/pfe-button.scss
  elements/pfe-button/pfe-button.ts
  elements/pfe-clipboard-copy/pfe-clipboard-copy.ts
  elements/pfe-clipboard-copy/test/pfe-clipboard-copy.spec.ts
  elements/pfe-tooltip/BaseTooltip.scss
  elements/pfe-tooltip/BaseTooltip.ts
  elements/pfe-tooltip/demo/demo.css
  elements/pfe-tooltip/demo/performance.html
  elements/pfe-tooltip/demo/performance.js
  elements/pfe-tooltip/demo/pfe-tooltip.html
  elements/pfe-tooltip/demo/pfe-tooltip.js
  elements/pfe-tooltip/pfe-tooltip.scss
  elements/pfe-tooltip/pfe-tooltip.ts
  elements/pfe-tooltip/test/pfe-tooltip.spec.ts
  package-lock.json
  tools/pfe-tools/_scripts/dev.js
  tools/pfe-tools/dev-server/index.html
  tools/pfe-tools/test/a11y-snapshot.ts
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed, doc

#2284 chore: fix ts build
  core/pfe-core/tsconfig.json
  elements/pfe-icon/tsconfig.json
  elements/pfe-tile/test/pfe-tile.spec.ts
  package.json
  tools/pfe-tools/test/stub-logger.ts
  tools/pfe-tools/tsconfig.json
Labels: tools, tests, AT passed

#2280 chore: rename release PRs
  .github/workflows/release.yml
Labels: tools, priority: low, AT passed

#2282 fix(accordion): don't import icon in baseclasses
  .changeset/gold-bears-attack.md
  elements/pfe-accordion/BaseAccordionHeader.ts
Labels: functionality, AT passed

#2288 fix(label): make abstract props optional, prefer composition
  .changeset/chatty-coins-agree.md
  .eleventy.cjs
  .eslintignore
  .github/workflows/preview.yml
  elements/pfe-icon/demo/custom-icon-sets.html
  elements/pfe-label/BaseLabel.scss
  elements/pfe-label/BaseLabel.ts
  elements/pfe-label/demo/patternfly.html
  elements/pfe-label/demo/pfe-label.html
  elements/pfe-label/pfe-label.scss
  elements/pfe-label/pfe-label.ts
  elements/pfe-tooltip/demo/performance.html
  elements/pfe-tooltip/demo/performance.js
Labels: tools, styles, functionality, demo, AT passed
