Repository patternfly/patternfly-elements, pull requests merged in 2022-10, with the labels that each got.

#2167 fix(tools): remove esbuild target configuration
  .changeset/calm-trains-tie.md
  tools/pfe-tools/dev-server.ts
Labels: tools, ready to merge, AT passed, bug

#2172 chore: remove pfe-primary-detail
  elements/pfe-primary-detail/CHANGELOG.md
  elements/pfe-primary-detail/DISCOVERY.md
  elements/pfe-primary-detail/LICENSE.txt
  elements/pfe-primary-detail/README.md
  elements/pfe-primary-detail/custom-elements-manifest.config.js
  elements/pfe-primary-detail/demo/demo.css
  elements/pfe-primary-detail/demo/pfe-primary-detail.html
  elements/pfe-primary-detail/demo/pfe-primary-detail.js
  elements/pfe-primary-detail/docs/pfe-primary-detail.md
  elements/pfe-primary-detail/docs/preview.png
  elements/pfe-primary-detail/package.json
  elements/pfe-primary-detail/pfe-primary-detail--lightdom.scss
  elements/pfe-primary-detail/pfe-primary-detail.png
  elements/pfe-primary-detail/pfe-primary-detail.scss
  elements/pfe-primary-detail/pfe-primary-detail.ts
  elements/pfe-primary-detail/test/pfe-primary-detail.e2e.spec.ts
  elements/pfe-primary-detail/test/pfe-primary-detail.spec.ts
  elements/pfe-primary-detail/tsconfig.json
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.settings.json
Labels: doc, tools, tests, styles, ready to merge, functionality, demo, AT passed, 1:1

#2171 chore: remove pfe-toast
  elements/pfe-toast/CHANGELOG.md
  elements/pfe-toast/LICENSE.txt
  elements/pfe-toast/README.md
  elements/pfe-toast/custom-elements-manifest.config.js
  elements/pfe-toast/demo/pfe-toast.html
  elements/pfe-toast/demo/pfe-toast.js
  elements/pfe-toast/docs/pfe-toast.md
  elements/pfe-toast/docs/preview.png
  elements/pfe-toast/package.json
  elements/pfe-toast/pfe-toast.scss
  elements/pfe-toast/pfe-toast.ts
  elements/pfe-toast/test/pfe-toast.e2e.spec.ts
  elements/pfe-toast/test/pfe-toast.spec.ts
  elements/pfe-toast/toast--screenshot.png
  elements/pfe-toast/tsconfig.json
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.settings.json
Labels: doc, tools, tests, styles, ready to merge, functionality, demo, AT passed, 1:1

#2161 docs: v1 redirect
  docs/_data/versions.json
  docs/_includes/_head.njk
  docs/_includes/_nav.njk
  docs/_includes/layout-base.njk
  docs/components/demos.html
  docs/components/index.md
  docs/docs/develop/sass.md
  docs/docs/develop/setup.md
  docs/index.md
  docs/kitchen-sink.njk
  docs/main.css
  netlify.toml
Labels: doc, work in progress, AT passed, for dev

#2176 chore: fix netlify build
  .nvmrc
  package-lock.json
  package.json
Labels: work in progress, AT passed

#2177 chore: fix netlify build by adding plugin-local-install-core
  .gitignore
  netlify.toml
Labels: ready to merge, AT passed

#2179 chore: install netlify build plugin
  package-lock.json
  package.json
Labels: AT passed

#2181 chore: remove netlify visual regression workflow
  netlify.toml
  package-lock.json
  package.json
Labels: ready to merge, AT passed

#2183 fix(accordion): :bug: updating the icon in BaseAccordionHeader
  .changeset/odd-lamps-rescue.md
  elements/pfe-accordion/BaseAccordion.ts
  elements/pfe-accordion/BaseAccordionHeader.ts
  elements/pfe-jump-links/demo/pfe-jump-links.js
Labels: ready: code review, functionality, demo, AT passed

#2170 feat(switch): implement face
  docs/_data/importMap.cjs
  docs/components/demos.html
  elements/pfe-switch/BaseSwitch.scss
  elements/pfe-switch/BaseSwitch.ts
  elements/pfe-switch/demo/demo.css
  elements/pfe-switch/demo/pfe-switch.html
  elements/pfe-switch/demo/pfe-switch.js
  elements/pfe-switch/pfe-switch.scss
  elements/pfe-switch/pfe-switch.ts
  package-lock.json
  tools/pfe-tools/package.json
Labels: doc, tools, styles, work in progress, functionality, demo, AT passed

#2185 fix(tabs): many refactors
  core/pfe-core/functions/isElementInView.ts
  elements/pfe-tabs/BaseTab.scss
  elements/pfe-tabs/BaseTab.ts
  elements/pfe-tabs/BaseTabPanel.scss
  elements/pfe-tabs/BaseTabPanel.ts
  elements/pfe-tabs/BaseTabs.scss
  elements/pfe-tabs/BaseTabs.ts
  elements/pfe-tabs/demo/pfe-tabs.html
  elements/pfe-tabs/pfe-tab-panel.scss
  elements/pfe-tabs/pfe-tab.scss
  elements/pfe-tabs/pfe-tabs.scss
  elements/pfe-tabs/pfe-tabs.ts
  elements/pfe-tabs/test/pfe-tabs.spec.ts
Labels: tests, styles, functionality, demo, AT passed

#2189 fix(spinner): add BaseSpinner.js to exports
  .changeset/stupid-buttons-shop.md
  elements/pfe-spinner/package.json
Labels: ready to merge, AT passed

#2192 fix(icon): add dependencies to ts references
  elements/pfe-icon/tsconfig.json
Labels: tools, priority: high, AT passed

#2184 chore: fix netlify site build
  package.json
Labels: ready to merge, AT passed

#2190 fix(label): move base styles to pfe
  .changeset/khaki-pens-prove.md
  elements/pfe-label/BaseLabel.scss
  elements/pfe-label/BaseLabel.ts
  elements/pfe-label/package.json
  elements/pfe-label/pfe-label.scss
  elements/pfe-label/pfe-label.ts
Labels: styles, ready to merge, functionality, AT passed, 1:1

#2196 [pfe-accordion]: Updating stylesheets, package.json exports, and gap
  .changeset/smooth-chefs-listen.md
  elements/pfe-accordion/BaseAccordion.scss
  elements/pfe-accordion/BaseAccordionHeader.scss
  elements/pfe-accordion/BaseAccordionPanel.scss
  elements/pfe-accordion/package.json
  elements/pfe-accordion/pfe-accordion-header.scss
  elements/pfe-accordion/pfe-accordion-panel.scss
  elements/pfe-accordion/pfe-accordion.scss
Labels: styles, ready: code review, AT passed, fix, 1:1, bug

#2198 chore: build and release fixes
  .changeset/breezy-steaks-melt.md
  .github/workflows/tests.yml
  elements/pfe-icon/demo/pfe-icon.js
  elements/pfe-icon/pfe-icon.ts
  elements/pfe-icon/tsconfig.json
  elements/pfe-label/pfe-label.ts
  elements/pfe-label/test/pfe-label.spec.ts
Labels: tools, tests, functionality, demo

#2199 chore: remove cta from changesets
  .changeset/brave-feet-sing.md
  .changeset/brown-trees-shave.md
  .changeset/context-controller-cavalcade.md
  .changeset/cta.md
  .changeset/empty-olives-teach.md
  .changeset/pre.json
  .changeset/silver-fans-lie.md
  .changeset/stupid-humans-brake.md
  .changeset/witty-countries-appear.md
Labels: AT passed

#2186 feat(badge): PF1:1
  .changeset/sour-mangos-taste.md
  elements/pfe-badge/BaseBadge.scss
  elements/pfe-badge/BaseBadge.ts
  elements/pfe-badge/README.md
  elements/pfe-badge/demo/demo.css
  elements/pfe-badge/demo/pfe-badge.html
  elements/pfe-badge/package.json
  elements/pfe-badge/pfe-badge.scss
  elements/pfe-badge/pfe-badge.ts
  elements/pfe-badge/test/pfe-badge.spec.ts
Labels: doc, tests, styles, work in progress, functionality, demo, AT passed

#2162 feat(switch): add pfe-switch
  .changeset/brown-goats-pay.md
  .changeset/healthy-jars-wonder.md
  .changeset/silly-cows-change.md
  docs/_data/importMap.cjs
  docs/components/demos.html
  elements/pfe-codeblock/test/pfe-codeblock.spec.ts
  elements/pfe-switch/BaseSwitch.scss
  elements/pfe-switch/BaseSwitch.ts
  elements/pfe-switch/README.md
  elements/pfe-switch/custom-elements-manifest.config.js
  elements/pfe-switch/demo/demo.css
  elements/pfe-switch/demo/pfe-switch.html
  elements/pfe-switch/demo/pfe-switch.js
  elements/pfe-switch/docs/pfe-switch.md
  elements/pfe-switch/docs/preview.png
  elements/pfe-switch/package.json
  elements/pfe-switch/pfe-switch.scss
  elements/pfe-switch/pfe-switch.ts
  elements/pfe-switch/test/pfe-switch.e2e.spec.ts
  elements/pfe-switch/test/pfe-switch.spec.ts
  elements/pfe-switch/tsconfig.json
  package-lock.json
  patches/custom-elements-manifest+1.0.0.patch
  tools/pfe-tools/package.json
  tools/pfe-tools/test-runner.ts
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.settings.json
Labels: doc, tools, tests, styles, work in progress, functionality, demo, AT passed

#2208 fix(switch): only showing check if show-check-icon is true
  elements/pfe-switch/BaseSwitch.scss
  elements/pfe-switch/BaseSwitch.ts
Labels: styles, work in progress, functionality, AT passed

#2206 fix(switch): workaround for double-event firing in ff
  elements/pfe-switch/BaseSwitch.ts
Labels: functionality, AT passed
