Repository patternfly/patternfly-elements, pull requests merged in 2022-03, with the labels that each got.

#1887 fix: add all commits together
  .changeset/breezy-bikes-smell.md
  elements/pfe-clipboard/README.md
  elements/pfe-clipboard/demo/pfe-clipboard.html
  elements/pfe-clipboard/demo/pfe-clipboard.js
  elements/pfe-clipboard/docs/index.md
  elements/pfe-clipboard/pfe-clipboard.scss
  elements/pfe-clipboard/pfe-clipboard.ts
  elements/pfe-clipboard/test/pfe-clipboard.spec.ts
Labels: feature, doc, tests, styles, ready to merge, accessibility, functionality, demo, AT passed

#1904 chore: update dependencies
  .changeset/forty-berries-cry.md
  package-lock.json
  patches/@open-wc+testing-helpers+2.1.0.patch
  tools/create-element/package.json
  tools/eslint-config/package.json
  tools/pfe-tools/package.json
Labels: tools, generator, AT passed

#1909 fix(create-element): missing docs on create
  .changeset/lazy-crabs-pay.md
  tools/create-element/generator/element.ts
  tools/create-element/templates/element/docs/index.md
Labels: tools, ready to merge, generator, AT passed

#1907 fix(select): restore and fix chevron
  .changeset/empty-cougars-remain.md
  .changeset/soft-radios-hear.md
  core/pfe-sass/mixins/_mixins.scss
  elements/pfe-select/pfe-select.scss
Labels: styles, AT passed

#1928 fix(core): make export map explicit
  .changeset/nervous-meals-turn.md
  core/pfe-core/package.json
Labels: ready to merge, AT passed

#1933 chore: update dependencies
  .changeset/big-crews-prove.md
  package-lock.json
  tools/eslint-config/package.json
  tools/pfe-tools/package.json
Labels: tools, AT passed

#1899 feat(label): add pfe-label component
  .changeset/shiny-dots-rescue.md
  elements/pfe-label/README.md
  elements/pfe-label/custom-elements-manifest.config.js
  elements/pfe-label/demo/demo.css
  elements/pfe-label/demo/pfe-label.html
  elements/pfe-label/demo/pfe-label.js
  elements/pfe-label/docs/index.md
  elements/pfe-label/package.json
  elements/pfe-label/pfe-label.scss
  elements/pfe-label/pfe-label.ts
  elements/pfe-label/test/pfe-label.e2e.spec.ts
  elements/pfe-label/test/pfe-label.spec.ts
  elements/pfe-label/tsconfig.json
  tsconfig.settings.json
Labels: doc, tools, tests, styles, work in progress, functionality, demo, AT passed

#1923 docs: autoreveal the body on docs pages
  core/pfe-core/core.ts
  docs/_includes/_head.njk
Labels: doc, ready to merge, functionality, AT passed

#1944 fix(create): ship js to npm
  .changeset/blue-emus-draw.md
  tools/create-element/package.json
Labels: tools, ready to merge, generator, AT passed

#1947 fix(create): ship generator javascript
  .changeset/twenty-parrots-smile.md
  tools/create-element/package.json
Labels: tools, generator, AT passed

#1950 Test/deflake label and autocomplete tests
  .changeset/nasty-swans-float.md
  elements/pfe-autocomplete/test/pfe-autocomplete.spec.ts
  elements/pfe-label/test/pfe-label.spec.ts
  tools/pfe-tools/test-runner.ts
  web-test-runner.config.js
Labels: tools, tests, ready to merge, AT passed

#1952 fix(tools): try to get repo root automatically
  .changeset/fifty-boxes-peel.md
  tools/pfe-tools/README.md
  tools/pfe-tools/dev-server.ts
Labels: tools, AT passed

#1957 fix(tools): update cem deps
  .changeset/polite-bats-kick.md
  .eslintignore
  package-lock.json
  package.json
  patches/@11ty+eleventy-plugin-syntaxhighlight+4.0.0.patch
  patches/cem-plugin-module-file-extensions+0.0.2.patch
  patches/cem-plugin-readonly+0.0.2.patch
  patches/html-include-element+0.2.0.patch
  tools/pfe-tools/package.json
Labels: tools, work in progress, AT passed

#1942 fix(tools): adding process.env.NODE_ENV replacement to dev-server.ts
  .changeset/rotten-cups-roll.md
  package-lock.json
  tools/pfe-tools/dev-server.ts
  tools/pfe-tools/esbuild.ts
  tools/pfe-tools/package.json
Labels: tools, ready to merge, dependencies, AT passed
