Repository patternfly/patternfly-elements, pull requests merged in 2022-01, with the labels that each got.

#1842 feat(pfe-card) 2.0 doc changes
  elements/pfe-card/docs/index.md
  elements/pfe-card/pfe-card.ts
Labels: doc, functionality, AT passed

#1841 chore: update reviewers for dependabot
  .github/dependabot.yml
Labels: ready to merge, AT passed, chore

#1844 chore: remove Storybook links for homepage and footer include
  CHANGELOG-1.x.md
  docs/_includes/_foot.html
  docs/index.html
Labels: doc, ready to merge, AT passed

#1851 fix: moved public focus method to private.
  elements/pfe-dropdown/pfe-dropdown.ts
  elements/pfe-dropdown/test/pfe-dropdown.spec.ts
Labels: tests, functionality, AT passed
