Repository patternfly/patternfly-elements, pull requests merged in 2023-10, with the labels that each got.

#2598 fix(accordion): remove animation
  .changeset/accordion-no-animate.md
  docs/main.css
  elements/pf-accordion/BaseAccordion.css
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/BaseAccordionPanel.css
Labels: styles, functionality, AT passed, doc

#2607 fix(core): logger.debug, info
  .changeset/logger-debug.md
  .changeset/slot-logger.md
  core/pfe-core/controllers/logger.ts
  core/pfe-core/controllers/slot-controller.ts
Labels: ready to merge, AT passed

#2588 feat(background-image): pf-background-image element
  .changeset/neat-toes-guess.md
  docs/_plugins/html-example.cjs
  docs/main.css
  elements/package.json
  elements/pf-background-image/README.md
  elements/pf-background-image/demo/filter-override.html
  elements/pf-background-image/demo/pf-background-image.html
  elements/pf-background-image/demo/pfbg.jpg
  elements/pf-background-image/demo/pfbg_1200.jpg
  elements/pf-background-image/demo/pfbg_576.jpg
  elements/pf-background-image/demo/pfbg_768.jpg
  elements/pf-background-image/demo/pfbg_768@2x.jpg
  elements/pf-background-image/demo/sibling-content.html
  elements/pf-background-image/docs/pf-background-image.md
  elements/pf-background-image/docs/screenshot.png
  elements/pf-background-image/pf-background-image.css
  elements/pf-background-image/pf-background-image.ts
  elements/pf-background-image/test/pf-background-image.e2e.ts
  elements/pf-background-image/test/pf-background-image.spec.ts
Labels: tests, styles, ready to merge, functionality, demo, AT passed, doc

#2606 feat(text-input): validation attrs
  .changeset/pf-text-input-error-text.md
  elements/pf-text-input/demo/validation.html
  elements/pf-text-input/pf-text-input.css
  elements/pf-text-input/pf-text-input.ts
Labels: styles, functionality, demo, AT passed
