Repository patternfly/patternfly-elements, pull requests merged in 2023-08, with the labels that each got.

#2571 fix: downlevel output files to es2020
  .changeset/downlevel-es2020.md
  tsconfig.settings.json
Labels: ready to merge, AT passed

#2561 docs: update installation / get started
  docs/_plugins/create-import-map.cjs
  docs/docs/develop/import-maps.md
  docs/get-started.md
  docs/quick-start.md
  elements/pf-accordion/docs/pf-accordion.md
  elements/pf-avatar/docs/pf-avatar.md
  elements/pf-badge/docs/pf-badge.md
  elements/pf-button/docs/pf-button.md
  elements/pf-card/docs/pf-card.md
  elements/pf-clipboard-copy/docs/pf-clipboard-copy.md
  elements/pf-code-block/docs/pf-code-block.md
  elements/pf-icon/docs/pf-icon.md
  elements/pf-jump-links/docs/pf-jump-links.md
  elements/pf-label/docs/pf-label.md
  elements/pf-modal/docs/pf-modal.md
  elements/pf-panel/docs/pf-panel.md
  elements/pf-popover/docs/pf-popover.md
  elements/pf-progress-stepper/docs/pf-progress-stepper.md
  elements/pf-spinner/docs/pf-spinner.md
  elements/pf-switch/docs/pf-switch.md
  elements/pf-tabs/docs/pf-tabs.md
  elements/pf-tile/docs/pf-tile.md
  elements/pf-timestamp/docs/pf-timestamp.md
  elements/pf-tooltip/docs/pf-tooltip.md
  eleventy.config.cjs
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/11ty/templates/install.njk
Labels: tools, work in progress, AT passed, doc

#2576 feat(table): expansion slots
  elements/pf-table/demo/expandable-rows-compound.html
  elements/pf-table/demo/expandable-rows.html
  elements/pf-table/pf-table.ts
  elements/pf-table/pf-tbody.css
  elements/pf-table/pf-tbody.ts
  elements/pf-table/pf-td.css
  elements/pf-table/pf-td.ts
  elements/pf-table/pf-tr.css
  elements/pf-table/pf-tr.ts
Labels: styles, work in progress, functionality, demo, AT passed

#2573 docs(button): examples of onclick
  .changeset/tabs-expand-cem.md
  .changeset/tabs-expand-event.md
  docs/components/components.md
  elements/pf-button/docs/pf-button.md
  elements/pf-popover/docs/pf-popover.md
  elements/pf-tabs/BaseTab.ts
  elements/pf-tabs/docs/pf-tabs.md
  elements/pf-tabs/pf-tab.ts
  elements/pf-tabs/pf-tabs.ts
  eleventy.config.cjs
Labels: ready to merge, functionality, AT passed, doc

#2580 chore(docs): format changesets
  .changeset/late-actors-give.md
  .changeset/neat-colts-jam.md
  .changeset/pf-card-heading-specificity.md
Labels: ready to merge, AT passed, chore

#2581 chore: fix netlify deploy command
  .github/workflows/preview.yml
Labels: tools, AT passed

#2579 feat(banner): add pf-banner element
  .changeset/pf-banner.md
  elements/package.json
  elements/pf-banner/README.md
  elements/pf-banner/demo/pf-banner.html
  elements/pf-banner/demo/status-banners.html
  elements/pf-banner/demo/sticky.html
  elements/pf-banner/docs/pf-banner.md
  elements/pf-banner/docs/screenshot.png
  elements/pf-banner/pf-banner.css
  elements/pf-banner/pf-banner.ts
  elements/pf-banner/test/pf-banner.e2e.ts
  elements/pf-banner/test/pf-banner.spec.ts
Labels: tests, styles, work in progress, functionality, demo, AT passed, 1:1, doc

#2511 feat(progress): add pf-progress
  .changeset/pf-tooltip-deprecate-base.md
  .changeset/pf-tooltip-flip.md
  .changeset/pf-tooltip-trigger.md
  .changeset/rich-kangaroos-brake.md
  .changeset/test-tools-click-el.md
  elements/package.json
  elements/pf-popover/demo/flip.html
  elements/pf-popover/demo/pf-popover.html
  elements/pf-popover/demo/pf-popover.js
  elements/pf-popover/pf-popover.ts
  elements/pf-popover/test/pf-popover.spec.ts
  elements/pf-progress/README.md
  elements/pf-progress/demo/demo.css
  elements/pf-progress/demo/kitchen-sink.css
  elements/pf-progress/demo/kitchen-sink.html
  elements/pf-progress/demo/pf-progress.html
  elements/pf-progress/demo/pf-progress.js
  elements/pf-progress/demo/truncated-description.html
  elements/pf-progress/docs/pf-progress.md
  elements/pf-progress/pf-progress.css
  elements/pf-progress/pf-progress.ts
  elements/pf-progress/test/pf-progress.e2e.ts
  elements/pf-progress/test/pf-progress.spec.ts
  elements/pf-switch/pf-switch.ts
  elements/pf-tooltip/BaseTooltip.css
  elements/pf-tooltip/BaseTooltip.ts
  elements/pf-tooltip/demo/flip.html
  elements/pf-tooltip/demo/trigger.html
  elements/pf-tooltip/pf-tooltip.css
  elements/pf-tooltip/pf-tooltip.ts
  tools/pfe-tools/test/utils.ts
Labels: tools, tests, styles, ready: code review, functionality, demo, AT passed, doc

#2572 feat(text-input): add pf-text-input
  .changeset/pf-text-input.md
  elements/package.json
  elements/pf-text-input/README.md
  elements/pf-text-input/demo/demo.css
  elements/pf-text-input/demo/disabled.html
  elements/pf-text-input/demo/icon-variants.html
  elements/pf-text-input/demo/invalid.html
  elements/pf-text-input/demo/kitchen-sink.html
  elements/pf-text-input/demo/left-truncated.html
  elements/pf-text-input/demo/pf-text-input.html
  elements/pf-text-input/demo/read-only.html
  elements/pf-text-input/demo/status-icon-sprite.svg
  elements/pf-text-input/docs/pf-text-input.md
  elements/pf-text-input/docs/screenshot.png
  elements/pf-text-input/pf-text-input.css
  elements/pf-text-input/pf-text-input.ts
  elements/pf-text-input/test/pf-text-input.e2e.ts
  elements/pf-text-input/test/pf-text-input.spec.ts
Labels: tests, styles, work in progress, functionality, demo, AT passed, doc

#2564 feat(pf-table): pf-table
  .changeset/pf-table.md
  docs/_plugins/html-example.cjs
  elements/package.json
  elements/pf-table/README.md
  elements/pf-table/demo/expandable-rows-compound.html
  elements/pf-table/demo/expandable-rows.html
  elements/pf-table/demo/pf-table.html
  elements/pf-table/demo/sortable.html
  elements/pf-table/docs/pf-table.md
  elements/pf-table/docs/screenshot.png
  elements/pf-table/pf-caption.css
  elements/pf-table/pf-caption.ts
  elements/pf-table/pf-table.css
  elements/pf-table/pf-table.ts
  elements/pf-table/pf-tbody.css
  elements/pf-table/pf-tbody.ts
  elements/pf-table/pf-td.css
  elements/pf-table/pf-td.ts
  elements/pf-table/pf-th.css
  elements/pf-table/pf-th.ts
  elements/pf-table/pf-thead.css
  elements/pf-table/pf-thead.ts
  elements/pf-table/pf-tr.css
  elements/pf-table/pf-tr.ts
  elements/pf-table/sort-asc.svg
  elements/pf-table/sort-desc.svg
  elements/pf-table/sort.svg
  elements/pf-table/test/pf-table.e2e.ts
  elements/pf-table/test/pf-table.spec.ts
  eleventy.config.cjs
Labels: tests, styles, work in progress, functionality, demo, AT passed, doc

#2582 fix(progress): fixing css selectors for variants
  elements/pf-progress/docs/pf-progress.md
  elements/pf-progress/pf-progress.css
Labels: styles, AT passed, doc

#2585 [progress]: updating changeset attr from title to description
  .changeset/rich-kangaroos-brake.md
Labels: AT passed
