Repository patternfly/patternfly-elements, pull requests merged in 2023-01, with the labels that each got.

#2260 refactor(tabs): abstract base class fields
  .changeset/cool-readers-press.md
  .changeset/healthy-steaks-shout.md
  elements/pfe-tabs/BaseTab.scss
  elements/pfe-tabs/BaseTab.ts
  elements/pfe-tabs/BaseTabPanel.ts
  elements/pfe-tabs/BaseTabs.scss
  elements/pfe-tabs/BaseTabs.ts
  elements/pfe-tabs/demo/pfe-tabs.html
  elements/pfe-tabs/demo/pfe-tabs.js
  elements/pfe-tabs/pfe-tab.scss
  elements/pfe-tabs/pfe-tab.ts
  elements/pfe-tabs/pfe-tabs.scss
  elements/pfe-tabs/pfe-tabs.ts
  elements/pfe-tabs/test/pfe-tabs.spec.ts
  tools/pfe-tools/test/a11y-snapshot.ts
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed, 1:1

#2297 docs: band padding & node engine increment in package.json
  docs/main.css
  package.json
Labels: work in progress, AT passed, doc

#2296 feat(core): internals controller improvements
  .changeset/little-timers-repeat.md
  .changeset/modern-readers-joke.md
  .changeset/shy-knives-walk.md
  .changeset/spicy-pans-draw.md
  core/pfe-core/controllers/internals-controller.ts
  elements/pfe-button/BaseButton.ts
  elements/pfe-button/demo/form-control.html
  elements/pfe-button/demo/form-control.js
  elements/pfe-button/test/pfe-button.spec.ts
  package-lock.json
  tools/pfe-tools/dev-server/index.html
  tools/pfe-tools/package.json
Labels: tools, tests, ready to merge, functionality, demo, AT passed

#2305 fix(create-element): remove pfelement decorator
  .changeset/short-donuts-remain.md
  tools/create-element/templates/element/custom-elements-manifest.config.js
  tools/create-element/templates/element/demo/demo.css
  tools/create-element/templates/element/demo/element.html
  tools/create-element/templates/element/demo/element.js
  tools/create-element/templates/element/element.ts
Labels: tools, generator, AT passed

#2310 refactor(tabs): remove imperative modification
  .changeset/little-dolls-draw.md
  elements/pfe-tabs/BaseTab.ts
Labels: functionality, AT passed, 1:1

#2283 feat(jump-links)!: reimplement in line with PFv4
  .changeset/four-schools-teach.md
  .changeset/unlucky-doors-cheer.md
  core/pfe-core/controllers/roving-tabindex-controller.ts
  core/pfe-core/controllers/scroll-spy-controller.ts
  core/pfe-core/package.json
  elements/pfe-jump-links/README.md
  elements/pfe-jump-links/custom-elements-manifest.config.js
  elements/pfe-jump-links/demo/demo.css
  elements/pfe-jump-links/demo/pfe-jump-links.html
  elements/pfe-jump-links/demo/pfe-jump-links.js
  elements/pfe-jump-links/demo/scrollspy-with-subsections.css
  elements/pfe-jump-links/demo/scrollspy-with-subsections.html
  elements/pfe-jump-links/demo/scrollspy-with-subsections.js
  elements/pfe-jump-links/docs/pfe-jump-links.md
  elements/pfe-jump-links/docs/preview.png
  elements/pfe-jump-links/jump-links.svg
  elements/pfe-jump-links/package.json
  elements/pfe-jump-links/pfe-jump-links-item.scss
  elements/pfe-jump-links/pfe-jump-links-item.ts
  elements/pfe-jump-links/pfe-jump-links-list.scss
  elements/pfe-jump-links/pfe-jump-links-list.ts
  elements/pfe-jump-links/pfe-jump-links-nav.scss
  elements/pfe-jump-links/pfe-jump-links-nav.ts
  elements/pfe-jump-links/pfe-jump-links-panel.ts
  elements/pfe-jump-links/pfe-jump-links.scss
  elements/pfe-jump-links/pfe-jump-links.ts
  elements/pfe-jump-links/test/pfe-jump-links.spec.ts
  tools/pfe-tools/tsconfig.json
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed, doc

#2292 feat(progress-stepper)!: 1:1
  .changeset/rude-swans-wave.md
  elements/pfe-dropdown/_shared-assets.scss
  elements/pfe-dropdown/pfe-dropdown-item.scss
  elements/pfe-dropdown/pfe-dropdown.scss
  elements/pfe-progress-stepper/CHANGELOG.md
  elements/pfe-progress-stepper/LICENSE.txt
  elements/pfe-progress-stepper/README.md
  elements/pfe-progress-stepper/custom-elements-manifest.config.js
  elements/pfe-progress-stepper/demo/demo.css
  elements/pfe-progress-stepper/demo/pfe-progress-stepper.html
  elements/pfe-progress-stepper/demo/pfe-progress-stepper.js
  elements/pfe-progress-stepper/docs/pfe-progress-steps.md
  elements/pfe-progress-stepper/docs/preview.png
  elements/pfe-progress-stepper/package.json
  elements/pfe-progress-stepper/pfe-progress-step.scss
  elements/pfe-progress-stepper/pfe-progress-step.ts
  elements/pfe-progress-stepper/pfe-progress-stepper.scss
  elements/pfe-progress-stepper/pfe-progress-stepper.ts
  elements/pfe-progress-stepper/test/pfe-progress-steps.e2e.spec.ts
  elements/pfe-progress-stepper/test/pfe-progress-steps.spec.ts
  elements/pfe-progress-stepper/tsconfig.json
  elements/pfe-progress-steps/README.md
  elements/pfe-progress-steps/_shared-assets.scss
  elements/pfe-progress-steps/demo/demo.css
  elements/pfe-progress-steps/demo/pfe-progress-steps.html
  elements/pfe-progress-steps/demo/pfe-progress-steps.js
  elements/pfe-progress-steps/docs/pfe-progress-steps.md
  elements/pfe-progress-steps/pfe-progress-steps-item.scss
  elements/pfe-progress-steps/pfe-progress-steps-item.ts
  elements/pfe-progress-steps/pfe-progress-steps.scss
  elements/pfe-progress-steps/pfe-progress-steps.ts
  elements/pfe-progress-steps/test/pfe-progress-steps.spec.ts
  elements/pfe-progress-steps/tsconfig.json
  package-lock.json
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed, doc

#2322 fix(core): roving tabindex controller arrow up/down keys set focus in…
  .changeset/tiny-boxes-compare.md
  core/pfe-core/controllers/roving-tabindex-controller.ts
Labels: ready to merge, AT passed
