Repository patternfly/patternfly-elements, pull requests merged in 2023-06, with the labels that each got.

#2502 fix(icon): use icons package
  .changeset/pf-icon-allow-string-getter.md
  .changeset/pf-icon-copy-from-package.md
  .gitignore
  elements/package.json
  elements/pf-icon/BaseIcon.ts
  elements/pf-icon/demo/pf-icon.html
  elements/pf-icon/demo/pf-icon.js
  elements/pf-icon/demo/sets.html
  elements/pf-icon/docs/pf-icon.md
  package-lock.json
  package.json
  scripts/icons.ts
  scripts/icons/build.ts
  scripts/icons/custom.json
  scripts/icons/icons.ts
  tools/pfe-tools/environment.ts
  tsconfig.icons.json
Labels: tools, work in progress, functionality, demo, AT passed, doc

#2509 fix(tabs): vertical alignment of slotted icons
  .changeset/nervous-kiwis-carry.md
  elements/pf-tabs/demo/pf-tabs.html
  elements/pf-tabs/docs/pf-tabs.md
  elements/pf-tabs/pf-tab.css
Labels: styles, work in progress, demo, AT passed, bug, doc

#2507 docs: simplify cta css
  docs/main.css
Labels: work in progress, AT passed, doc

#2512 fix(tools): dev server aliased element redirects
  .changeset/fuzzy-walls-walk.md
  tools/pfe-tools/config.ts
  tools/pfe-tools/dev-server/config.ts
Labels: tools, work in progress, AT passed

#2519 fix(tabs): style regression when no icon is present
  .changeset/few-hotels-punch.md
  elements/pf-tabs/pf-tab.css
Labels: styles, ready to merge, AT passed, bug

#2521 fix(tabs): imperative instantiation of tabs-panel
  .changeset/generator-instance-check.md
  .changeset/tabs-imperative-instance.md
  elements/pf-accordion/test/pf-accordion.spec.ts
  elements/pf-avatar/test/pf-avatar.spec.ts
  elements/pf-badge/test/pf-badge.spec.ts
  elements/pf-button/test/pf-button.spec.ts
  elements/pf-card/test/pf-card.spec.ts
  elements/pf-clipboard-copy/test/pf-clipboard-copy.spec.ts
  elements/pf-code-block/test/pf-code-block.spec.ts
  elements/pf-icon/test/pf-icon.spec.ts
  elements/pf-jump-links/test/pf-jump-links.spec.ts
  elements/pf-label/test/pf-label.spec.ts
  elements/pf-modal/test/pf-modal.spec.ts
  elements/pf-panel/test/pf-panel.spec.ts
  elements/pf-popover/test/pf-popover.spec.ts
  elements/pf-progress-stepper/test/pf-progress-stepper.spec.ts
  elements/pf-spinner/test/pf-spinner.spec.ts
  elements/pf-switch/test/pf-switch.spec.ts
  elements/pf-tabs/BaseTabPanel.ts
  elements/pf-tabs/test/pf-tabs.spec.ts
  elements/pf-tile/test/pf-tile.spec.ts
  elements/pf-timestamp/test/pf-timestamp.spec.ts
  elements/pf-tooltip/test/pf-tooltip.spec.ts
  tools/create-element/templates/element/test/element.spec.ts
Labels: tools, tests, functionality, generator, AT passed

#2525 fix(core): typescript import from floating-ui library
  .changeset/core-floating-ui-ts-error.md
  core/pfe-core/controllers/floating-dom-controller.ts
Labels: AT passed
