Repository patternfly/patternfly-elements, pull requests merged in 2023-12, with the labels that each got.

#2604 feat(core): adding isEmpty, hasSlotted w/ default slot
  .changeset/cold-cars-relate.md
  core/pfe-core/controllers/slot-controller.ts
Labels: ready to merge, AT passed

#2589 feat(back-to-top): pf-back-to-top element
  .changeset/khaki-bananas-perform.md
  .changeset/pfe-tools-ts52.md
  elements/README.md
  elements/package.json
  elements/pf-back-to-top/README.md
  elements/pf-back-to-top/demo/always-visible.html
  elements/pf-back-to-top/demo/button-no-text.html
  elements/pf-back-to-top/demo/button.html
  elements/pf-back-to-top/demo/demo.css
  elements/pf-back-to-top/demo/label.html
  elements/pf-back-to-top/demo/no-text.html
  elements/pf-back-to-top/demo/pf-back-to-top.html
  elements/pf-back-to-top/demo/scroll-distance.html
  elements/pf-back-to-top/docs/pf-back-to-top.md
  elements/pf-back-to-top/pf-back-to-top.css
  elements/pf-back-to-top/pf-back-to-top.ts
  elements/pf-back-to-top/test/pf-back-to-top.e2e.ts
  elements/pf-back-to-top/test/pf-back-to-top.spec.ts
  package-lock.json
  package.json
  tools/eslint-config/package.json
  tools/pfe-tools/package.json
Labels: tools, tests, styles, ready to merge, functionality, demo, AT passed, doc

#2650 feat(tools): parameterize react wrapper generator
  .changeset/pf-tools-react-prefixs.md
  package-lock.json
  package.json
  tools/pfe-tools/package.json
  tools/pfe-tools/react/generate-wrappers.ts
Labels: tools, AT passed

#2652 chore: dependencies 2023-12
  .changeset/tidy-numbers-rush.md
  .github/workflows/bundle.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/visual-regression.yml
  .nvmrc
  core/pfe-core/package.json
  docs/_data/importMap.cjs
  docs/_plugins/create-import-map.cjs
  docs/docs/develop/import-maps.md
  elements/package.json
  elements/pf-avatar/test/pf-avatar.spec.ts
  elements/pf-button/BaseButton.ts
  elements/pf-icon/test/pf-icon.spec.ts
  elements/pf-jump-links/pf-jump-links-list.ts
  elements/pf-jump-links/pf-jump-links.ts
  elements/pf-jump-links/test/pf-jump-links.spec.ts
  elements/pf-panel/pf-panel.ts
  elements/pf-popover/pf-popover.ts
  elements/pf-popover/test/pf-popover.spec.ts
  elements/pf-progress-stepper/pf-progress-step.ts
  elements/pf-progress-stepper/pf-progress-stepper.ts
  elements/pf-spinner/BaseSpinner.ts
  elements/pf-table/pf-tr.ts
  elements/pf-tabs/BaseTabs.ts
  elements/pf-tabs/test/pf-tabs.spec.ts
  elements/pf-text-input/pf-text-input.ts
  elements/pf-tooltip/BaseTooltip.ts
  elements/pf-tooltip/pf-tooltip.css
  elements/pf-tooltip/pf-tooltip.ts
  package-lock.json
  package.json
  scripts/bundle.js
  scripts/format-commitlint-messages.js
  tools/create-element/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin/package.json
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/11ty/plugins/todos.cjs
  tools/pfe-tools/custom-elements-manifest/lib/get-all-packages.ts
  tools/pfe-tools/dev-server/config.ts
  tools/pfe-tools/package.json
  tools/pfe-tools/test/a11y-snapshot.ts
  tools/pfe-tools/test/react-wrapper.ts
  tools/pfe-tools/test/vue-wrapper.ts
  tsconfig.icons.json
  tsconfig.settings.json
Labels: tools, tests, styles, functionality, generator, AT passed, doc

#2653 chore: fix changeset formatting
  .changeset/tidy-numbers-rush.md
Labels: ready to merge, AT passed, bug
