Repository patternfly/patternfly-elements, pull requests merged in 2023-07, with the labels that each got.

#2530 feat: react wrappers
  .changeset/accordion-expanded-index.md
  .changeset/tools-react-wrappers.md
  .gitignore
  elements/package.json
  elements/pf-accordion/BaseAccordion.ts
  package-lock.json
  package.json
  scripts/generate-react-wrappers.ts
  tools/pfe-tools/package.json
  tools/pfe-tools/react/generate-wrappers.ts
  tools/pfe-tools/test/react-wrapper.ts
  tsconfig.settings.json
Labels: tools, functionality, AT passed

#2524 feat: timestamp controller
  .changeset/pf-timestamp-controller.md
  core/pfe-core/controllers/timestamp-controller.ts
  core/pfe-core/package.json
  elements/pf-timestamp/pf-timestamp.ts
Labels: work in progress, functionality, AT passed

#2531 fix(core): slot controller when used in react
  .changeset/slot-controller-react.md
  core/pfe-core/controllers/slot-controller.ts
Labels: AT passed

#2533 fix: generate d.ts for react wrappers
  .changeset/react-dts.md
  elements/tsconfig.json
  package-lock.json
  tools/pfe-tools/react/generate-wrappers.ts
Labels: tools, AT passed

#2538 fix(accordion): panel checkbox collapsing panel on check
  .changeset/neat-colts-jam.md
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/BaseAccordionHeader.ts
  elements/pf-accordion/test/pf-accordion.spec.ts
Labels: tests, functionality, AT passed

#2552 docs: improve hamburger menu for mobile
  docs/_includes/_nav.njk
  docs/images/pfe-logo-icon-white.svg
  docs/main.css
Labels: docs, ready to merge, AT passed, bug, doc

#2555 bug: accordion and roving tabindex controller
  .changeset/late-actors-give.md
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/test/pf-accordion.spec.ts
Labels: tests, work in progress, functionality, AT passed

#2554 docs: remove skip link animation
  docs/main.css
Labels: docs, ready to merge, AT passed, doc

#2558 fix(card): make slotted styles !important
  .changeset/pf-card-heading-specificity.md
  elements/pf-card/BaseCard.css
  elements/pf-card/pf-card.css
Labels: styles, ready to merge, AT passed
