Repository patternfly/patternfly-elements, pull requests merged in 2023-02, with the labels that each got.

#2330 fix(avatar): typescript build errors
  elements/pf-avatar/BaseAvatar.ts
  elements/pf-avatar/test/pf-avatar.spec.ts
Labels: tests, work in progress, functionality, AT passed

#2335 docs: add element internals polyfill to component demos
  elements/pf-button/demo/form-control.js
  elements/pf-button/demo/pf-button.js
  elements/pf-jump-links/demo/pf-jump-links.js
  elements/pf-jump-links/demo/scrollspy-with-subsections.js
  elements/pf-progress-stepper/demo/pf-progress-stepper.js
  elements/pf-tabs/README.md
  elements/pf-tabs/demo/pf-tabs.js
Labels: work in progress, demo, AT passed, doc

#2334 chore: remove extraneous script entrypoints
  package-lock.json
  package.json
Labels: ready to merge, AT passed

#2337 fix(elements): add entrypoints to exports map
  .changeset/package-entrypoints.md
  docs/_plugins/pfe-assets.cjs
  elements/package.json
  elements/pf-accordion/pf-accordion.ts
  elements/pfe.ts
  package-lock.json
  scripts/bundle.js
Labels: tools, ready to merge, functionality, AT passed, doc

#2350 docs: add footer to main page
  docs/index.html
Labels: AT passed, doc

#2344 Removing hardcoded date from copyright section in Develop
  docs/_includes/_foot.njk
Labels: ready to merge, AT passed, doc

#2347 docs: footer translate
  docs/main.css
Labels: ready: branch testing, AT passed, bug, doc

#2348 chore: clean wireit builds
  package.json
Labels: ready to merge, AT passed

#2360 fix(tools): find demos
  .changeset/tools-analyzer-demos.md
  tools/pfe-tools/custom-elements-manifest/demos.ts
Labels: tools, ready to merge, AT passed

#2362 fix(tools): fix demo script import and styles
  .changeset/tools-dev-server-demo-exports.md
  tools/pfe-tools/dev-server/index.html
  tools/pfe-tools/package.json
Labels: tools, AT passed

#2366 fix(docs): Updating footer copyright date to 2018-2023
  docs/_includes/_foot.njk
  docs/home.css
Labels: ready to merge, AT passed, doc

#2367 fix(icon): add icon package exports
  .changeset/silent-penguins-kneel.md
  elements/package.json
Labels: AT passed

#2365 chore(tools): update 11ty
  .changeset/smooth-eyes-thank.md
  package-lock.json
  tools/pfe-tools/package.json
Labels: tools, AT passed

#2386 docs: fixing the mobile view on the homepage
  docs/home.css
  docs/index.html
Labels: ready to merge, AT passed, doc

#2375 feat(core): add overflow controller
  .changeset/core-overflow-controller.md
  .changeset/tabs-update-overflow.md
  core/pfe-core/controllers/overflow-controller.ts
  core/pfe-core/functions/isElementInView.ts
  docs/components/demos.html
  elements/pf-tabs/BaseTabs.ts
  elements/pf-tabs/demo/pf-tabs.js
  elements/pf-tabs/pf-tabs.css
Labels: styles, work in progress, functionality, demo, AT passed, doc

#2394 fix(tools): calculate path to demo files
  .changeset/famous-cars-dress.md
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/config.ts
Labels: tools, ready to merge, AT passed
