Repository patternfly/patternfly-elements, pull requests merged in 2023-03, with the labels that each got.

#2398 docs: improvements
  docs/_includes/_foot.njk
  docs/_includes/layout-docs.njk
  docs/docs/develop/create.md
  docs/docs/develop/css.md
  docs/docs/develop/html.md
  docs/docs/develop/javascript.md
  docs/docs/develop/pull-request.md
  docs/docs/develop/structure.md
  docs/docs/develop/testing.md
  docs/docs/develop/todo.md
  docs/docs/develop/troubleshooting.md
  docs/framework-integration/index.md
  docs/home.css
  docs/index.html
  docs/main.css
  elements/pf-accordion/docs/pf-accordion.md
  elements/pf-accordion/pf-accordion.ts
  elements/pf-avatar/pf-avatar.ts
  elements/pf-button/docs/pf-button.md
  elements/pf-button/pf-button.ts
  elements/pf-card/docs/pf-card.md
  elements/pf-card/pf-card.ts
  elements/pf-clipboard-copy/docs/pf-clipboard-copy.md
  elements/pf-clipboard-copy/pf-clipboard-copy.ts
  elements/pf-code-block/pf-code-block.ts
  elements/pf-icon/pf-icon.ts
  elements/pf-jump-links/docs/pf-jump-links.md
  elements/pf-jump-links/pf-jump-links.ts
  elements/pf-label/pf-label.ts
  elements/pf-modal/pf-modal.ts
  elements/pf-panel/docs/pf-panel.md
  elements/pf-panel/pf-panel.ts
  elements/pf-progress-stepper/docs/pf-progress-stepper.md
  elements/pf-progress-stepper/pf-progress-stepper.ts
  elements/pf-spinner/pf-spinner.ts
  elements/pf-switch/pf-switch.ts
  elements/pf-tabs/pf-tab.ts
  elements/pf-tabs/pf-tabs.ts
  elements/pf-tile/docs/pf-tile.md
  elements/pf-tile/pf-tile.ts
  elements/pf-timestamp/pf-timestamp.ts
  elements/pf-tooltip/docs/pf-tooltip.md
  elements/pf-tooltip/pf-tooltip.ts
  package-lock.json
  package.json
Labels: work in progress, functionality, AT passed, doc

#2417 docs(accordion): improve docs to more closely match PFv4
  elements/pf-accordion/docs/pf-accordion.md
Labels: ready to merge, AT passed, doc

#2424 docs: updating dev server header to match live site
  .changeset/weak-planes-grab.md
  tools/pfe-tools/config.ts
  tools/pfe-tools/dev-server/demo.css
  tools/pfe-tools/dev-server/index.html
Labels: tools, AT passed

#2413 fix(jump-links): keyboard nav for jump-links list
  .changeset/jump-links-arrow-nav.md
  elements/pf-jump-links/pf-jump-links-item.ts
  elements/pf-jump-links/pf-jump-links.ts
  elements/pf-jump-links/test/pf-jump-links.spec.ts
Labels: tests, ready to merge, accessibility, priority: high, functionality, AT passed, bug

#2434 fix(clipboard-copy): inline styles
  .changeset/forty-lamps-fold.md
  elements/pf-clipboard-copy/pf-clipboard-copy.css
Labels: styles, work in progress, AT passed

#2439 docs: added change event for switch element
  .changeset/pf-switch-2372.md
  elements/pf-switch/pf-switch.ts
Labels: ready to merge, functionality, AT passed

#2441 fix(eslint-config): add more formatting rules
  .changeset/eslint-config-more-rules.md
  core/pfe-core/controllers/cascade-controller.ts
  core/pfe-core/controllers/floating-dom-controller.ts
  core/pfe-core/controllers/light-dom-controller.ts
  core/pfe-core/controllers/roving-tabindex-controller.ts
  core/pfe-core/controllers/scroll-spy-controller.ts
  core/pfe-core/controllers/slot-controller.ts
  core/pfe-core/core.ts
  core/pfe-core/decorators/observed.ts
  core/pfe-core/functions/debounce.ts
  elements/pf-accordion/BaseAccordionHeader.ts
  elements/pf-accordion/pf-accordion-header.ts
  elements/pf-accordion/pf-accordion-panel.ts
  elements/pf-avatar/BaseAvatar.ts
  elements/pf-avatar/pf-avatar.ts
  elements/pf-badge/pf-badge.ts
  elements/pf-button/BaseButton.ts
  elements/pf-button/pf-button.ts
  elements/pf-icon/BaseIcon.ts
  elements/pf-icon/pf-icon.ts
  elements/pf-jump-links/test/pf-jump-links.spec.ts
  elements/pf-panel/pf-panel.ts
  elements/pf-progress-stepper/pf-progress-step.ts
  elements/pf-spinner/BaseSpinner.ts
  elements/pf-tabs/BaseTabs.ts
  elements/pf-tabs/test/pf-tabs.spec.ts
  elements/pf-tooltip/BaseTooltip.ts
  scripts/icons/icons.ts
  tools/create-element/main.ts
  tools/eslint-config/index.js
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/11ty/plugins/types.ts
  tools/pfe-tools/config.ts
  tools/pfe-tools/custom-elements-manifest/config.ts
  tools/pfe-tools/custom-elements-manifest/jsdoc-description-default.ts
  tools/pfe-tools/custom-elements-manifest/lib/Manifest.ts
  tools/pfe-tools/dev-server/config.ts
  tools/pfe-tools/test/config.ts
  tools/pfe-tools/test/create-fixture.ts
  tools/pfe-tools/test/playwright/PfeDemoPage.ts
  tools/pfe-tools/test/react-wrapper.ts
  tools/pfe-tools/test/vue-wrapper.ts
Labels: tools, tests, functionality, generator, AT passed

#2438 fix(accordion): large panel accent not covering whole side panel
  .changeset/wild-falcons-do.md
  elements/pf-accordion/BaseAccordionPanel.css
Labels: styles, work in progress, AT passed

#2435 fix(accordion): fixing header tag, fixing heading text attribute
  .changeset/pf-accordion-header-tags.md
  .changeset/pf-accordion-headers.md
  elements/pf-accordion/BaseAccordionHeader.ts
  elements/pf-accordion/demo/pf-accordion.html
Labels: functionality, demo, AT passed

#2436 fix(panel): raised and bordered variants
  .changeset/pf-panel-2402.md
  docs/main.css
  elements/pf-panel/docs/pf-panel.md
  elements/pf-panel/pf-panel.css
Labels: styles, ready to merge, AT passed, doc

#2444 feat(tools): add `renderTitleInOverview` option to cem 11ty plugin
  .changeset/cem-11ty-title.md
  tools/create-element/templates/element/docs/element.md
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/11ty/templates/overview.njk
Labels: tools, generator, AT passed

#2446 fix(core): add requestUpdate to roving-tabindex-controller
  .changeset/fair-melons-cough.md
  .changeset/rti-focus-update.md
  .changeset/rti-generic.md
  core/pfe-core/controllers/roving-tabindex-controller.ts
  elements/pf-tabs/BaseTabs.ts
Labels: work in progress, functionality, AT passed

#2409 docs: update developer content
  README.md
  docs/docs/develop/create.md
  docs/docs/develop/css.md
  docs/docs/develop/html.md
  docs/docs/develop/import-maps.md
  docs/docs/develop/javascript.md
  docs/docs/develop/pull-request.md
  docs/docs/develop/setup.md
  docs/docs/develop/structure.md
  docs/docs/develop/testing.md
  docs/docs/develop/todo.md
  docs/docs/develop/troubleshooting.md
  docs/get-started.md
  docs/images/develop/develop-css.png
  docs/images/develop/develop-html.png
  docs/images/develop/develop-javascript-click.png
  docs/images/develop/develop-javascript-observer.png
  docs/images/develop/develop-javascript-photo.png
  docs/images/develop/develop-javascript-properties.png
  docs/images/develop/develop-sass.png
  docs/images/develop/develop-structure.png
  docs/images/develop/develop-testing-browser.png
  docs/images/develop/develop-testing-ci.png
  docs/images/develop/develop-testing-first-pass.png
  docs/images/develop/localhost-dev-server.png
  docs/images/develop/localhost-docs-server.png
  docs/images/develop/npm-run-new.png
  docs/main.css
  docs/quick-start.md
  elements/pf-label/docs/pf-label.md
Labels: work in progress, AT passed, doc

#2459 docs: fix blog layout and component headers
  .pfe.config.json
  docs/_includes/_nav.njk
  docs/_includes/layout-basic.njk
  docs/_includes/layout-blog-index.njk
  docs/_includes/layout-blog.njk
  docs/components/components.md
  docs/main.css
Labels: docs, AT passed, doc

#2457 docs: set text color to white on hover
  docs/home.css
Labels: work in progress, AT passed, doc

#2460 fix(tools): remove special characters from slugs
  .changeset/cuddly-scissors-reply.md
  tools/pfe-tools/11ty/DocsPage.ts
  tools/pfe-tools/custom-elements-manifest/lib/Manifest.ts
Labels: tools, ready to merge, AT passed

#2458 fix(accordion): removing auto focus on expanded in the header
  .changeset/stale-boxes-watch.md
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/pf-accordion.ts
  elements/pf-accordion/test/pf-accordion.spec.ts
Labels: tests, work in progress, functionality, AT passed

#2462 feat(tools): site.componentSubpath config
  .changeset/tools-site-subpath.md
  .pfe.config.json
  elements/custom-elements-manifest.config.js
  tools/pfe-tools/11ty/plugins/custom-elements-manifest.cjs
  tools/pfe-tools/config.ts
  tools/pfe-tools/custom-elements-manifest/config.ts
  tools/pfe-tools/custom-elements-manifest/demos.ts
  tools/pfe-tools/custom-elements-manifest/lib/Manifest.ts
Labels: tools, AT passed
