Repository patternfly/patternfly-elements, pull requests merged in 2024-06, with the labels that each got.

#2636 fix(icon)!: remove BaseIcon
  .changeset/remove-base-icon.md
  elements/package.json
  elements/pf-badge/pf-badge.ts
  elements/pf-card/pf-card.ts
  elements/pf-icon/BaseIcon.css
  elements/pf-icon/BaseIcon.ts
  elements/pf-icon/pf-icon.css
  elements/pf-icon/pf-icon.ts
Labels: styles, ready to merge, functionality, AT passed, pfe 4.0

#2772 fix(tools): react wrapper syntax errors
  .changeset/rich-sloths-reply.md
  tools/pfe-tools/react/generate-wrappers.ts
Labels: tools, AT passed

#2775 fix(tools): don't export react wrapper for non-exported class
  .changeset/healthy-clocks-laugh.md
  tools/pfe-tools/react/generate-wrappers.ts
Labels: tools, AT passed

#2782 fix(create-element): inline demo subresources
  .changeset/shaky-cats-share.md
  tools/create-element/generator/element.ts
  tools/create-element/templates/element/demo/demo.css
  tools/create-element/templates/element/demo/element.html
  tools/create-element/templates/element/demo/element.js
Labels: tools, work in progress, generator, AT passed

#2764 fix(accordion)!: remove BaseAccordion
  .changeset/heavy-peas-appear.md
  .changeset/hip-coins-prove.md
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/BaseAccordionHeader.css
  elements/pf-accordion/BaseAccordionHeader.ts
  elements/pf-accordion/BaseAccordionPanel.css
  elements/pf-accordion/BaseAccordionPanel.ts
  elements/pf-accordion/demo/single-expanded-panel.html
  elements/pf-accordion/pf-accordion-header.css
  elements/pf-accordion/pf-accordion-header.ts
  elements/pf-accordion/pf-accordion-panel.css
  elements/pf-accordion/pf-accordion-panel.ts
  elements/pf-accordion/pf-accordion.ts
  elements/pf-accordion/test/pf-accordion.spec.ts
  tools/pfe-tools/test/a11y-snapshot.ts
Labels: tools, tests, styles, work in progress, functionality, demo, AT passed

#2768 feat(tools): ts transform to add static version to elements
  .changeset/slick-bats-brake.md
  tools/pfe-tools/package.json
  tools/pfe-tools/typescript/transformers/css-imports.cjs
  tools/pfe-tools/typescript/transformers/static-version.cjs
  tsconfig.settings.json
Labels: tools, AT passed

#2766 fix(icon)!: remove getIconUrl for webpack's sake
  .changeset/dirty-bears-win.md
  .changeset/fresh-shrimps-work.md
  elements/package.json
  elements/pf-icon/README.md
  elements/pf-icon/demo/custom-icon-sets.html
  elements/pf-icon/docs/pf-icon.md
  elements/pf-icon/pf-icon.ts
  elements/pf-icon/test/pf-icon.spec.ts
  package-lock.json
  package.json
Labels: tests, functionality, demo, AT passed, doc

#2791 fix(select): change event deep shadow
  .changeset/little-bags-post.md
  elements/pf-select/pf-select.ts
  elements/pf-select/test/pf-select.spec.ts
Labels: tests, functionality, AT passed

#2793 docs: fix v2 pficon getIconUrl override
  docs/main.mjs
Labels: ready to merge, AT passed, bug, doc
