Repository patternfly/patternfly-elements, pull requests merged in 2024-03, with the labels that each got.

#2677 fix(select): variant attr, tests
  core/pfe-core/controllers/internals-controller.ts
  core/pfe-core/controllers/listbox-controller.ts
  core/pfe-core/controllers/overflow-controller.ts
  core/pfe-core/controllers/roving-tabindex-controller.ts
  core/pfe-core/controllers/tabs-controller.ts
  core/pfe-core/controllers/toggle-controller.ts
  core/pfe-core/core.ts
  core/pfe-core/functions/containsDeep.ts
  core/pfe-core/package.json
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-accordion/test/pf-accordion.spec.ts
  elements/pf-chip/pf-chip-group.css
  elements/pf-chip/pf-chip-group.ts
  elements/pf-chip/pf-chip.ts
  elements/pf-dropdown/pf-dropdown-menu.ts
  elements/pf-dropdown/pf-dropdown.ts
  elements/pf-dropdown/test/pf-dropdown.spec.ts
  elements/pf-jump-links/pf-jump-links.ts
  elements/pf-select/demo/checkbox-input-no-badge.html
  elements/pf-select/demo/checkbox-input.html
  elements/pf-select/demo/checkboxes.html
  elements/pf-select/demo/grouped-checkbox-input.html
  elements/pf-select/demo/grouped-single.html
  elements/pf-select/demo/option-groups.html
  elements/pf-select/demo/option-variations.html
  elements/pf-select/demo/pf-select.html
  elements/pf-select/demo/single-with-description.html
  elements/pf-select/demo/typeahead-case-sensitive.html
  elements/pf-select/demo/typeahead-create-option.html
  elements/pf-select/demo/typeahead-disable-filter.html
  elements/pf-select/demo/typeahead-match-anywhere.html
  elements/pf-select/demo/typeahead-multiple.html
  elements/pf-select/demo/typeahead.html
  elements/pf-select/demos-to-implement-later/multiple.html
  elements/pf-select/demos-to-implement-later/typeahead-chips.html
  elements/pf-select/demos-to-implement-later/typeahead-create-option.html
  elements/pf-select/demos-to-implement-later/typeahead-custom-filter.html
  elements/pf-select/demos-to-implement-later/typeahead-disable-filter.html
  elements/pf-select/demos-to-implement-later/typeahead-multiple.html
  elements/pf-select/demos-to-implement-later/typeahead.html
  elements/pf-select/docs/pf-select.md
  elements/pf-select/pf-listbox.css
  elements/pf-select/pf-listbox.ts
  elements/pf-select/pf-option-group.ts
  elements/pf-select/pf-option.css
  elements/pf-select/pf-option.ts
  elements/pf-select/pf-select.css
  elements/pf-select/pf-select.ts
  elements/pf-select/test/pf-select.spec.ts
  elements/pf-tabs/BaseTabs.ts
  tools/pfe-tools/test/a11y-snapshot.ts
Labels: tools, tests, styles, ready to merge, functionality, demo, AT passed, doc

#2699 fix(tabs)!: tabscontroller refactor
  .changeset/context-with-root.md
  .changeset/pf-select.md
  .changeset/tabs-controller.md
  core/pfe-core/controllers/roving-tabindex-controller.ts
  core/pfe-core/controllers/tabs-aria-controller.ts
  core/pfe-core/controllers/tabs-controller.ts
  core/pfe-core/functions/context.ts
  core/pfe-core/package.json
  elements/package.json
  elements/pf-tabs/BaseTabs.ts
  elements/pf-tabs/context.ts
  elements/pf-tabs/demo/active-tab-disabled.html
  elements/pf-tabs/demo/active-tab-is-disabled.html
  elements/pf-tabs/demo/box.html
  elements/pf-tabs/demo/dynamic-tabs.html
  elements/pf-tabs/demo/inset.html
  elements/pf-tabs/demo/manual-activation.html
  elements/pf-tabs/demo/nested.html
  elements/pf-tabs/demo/pf-tabs.html
  elements/pf-tabs/demo/tabs-first-in-markup.html
  elements/pf-tabs/demo/vertical.html
  elements/pf-tabs/docs/pf-tabs.md
  elements/pf-tabs/pf-tab-panel.ts
  elements/pf-tabs/pf-tab.css
  elements/pf-tabs/pf-tab.ts
  elements/pf-tabs/pf-tabs.ts
  elements/pf-tabs/test/pf-tabs.spec.ts
  package-lock.json
  package.json
  tools/eslint-config/package.json
  tools/pfe-tools/dev-server/config.ts
  tools/pfe-tools/package.json
Labels: tools, tests, styles, functionality, demo, AT passed, doc

#2701 fix(select): hr styles
  elements/pf-select/pf-select.css
Labels: styles, AT passed

#2689 feat(tools): css import caching transformer
  .changeset/long-eyes-mate.md
  tools/pfe-tools/typescript/transformers/css-imports.cjs
Labels: tools, ready to merge, AT passed

#2707 fix(button)!: remove shadow <button>
  .changeset/curly-wings-cross.md
  elements/pf-back-to-top/test/pf-back-to-top.spec.ts
  elements/pf-button/demo/variants.html
  elements/pf-button/pf-button-base.css
  elements/pf-button/pf-button-icon.css
  elements/pf-button/pf-button-plain.css
  elements/pf-button/pf-button-tokens.css
  elements/pf-button/pf-button.css
  elements/pf-button/pf-button.ts
  elements/pf-button/test/pf-button.spec.ts
  elements/pf-chip/pf-chip-group.css
  elements/pf-chip/pf-chip-group.ts
  elements/pf-chip/pf-chip-shared.css
  elements/pf-chip/pf-chip.css
  elements/pf-chip/pf-chip.ts
  elements/pf-chip/test/pf-chip-group.spec.ts
  elements/pf-chip/test/pf-chip.spec.ts
  elements/pf-dropdown/test/pf-dropdown.spec.ts
  elements/pf-popover/test/pf-popover.spec.ts
Labels: tests, styles, ready to merge, functionality, demo, AT passed

#2709 fix(chip): fixed `<pf-chip-group>` keyboard accessibility
  .changeset/rotten-geese-invite.md
  elements/pf-chip/pf-chip-group.ts
Labels: ready to merge, functionality, AT passed

#2710 fix: unminify css when bundling
  docs/_data/importMap.cjs
  package-lock.json
  package.json
  scripts/bundle.js
  tsconfig.esbuild.json
  tsconfig.settings.json
Labels: tools, ready to merge, AT passed, doc

#2673 docs: update homepage snippets
  docs/_snippets/accordion-jsx.md
  docs/_snippets/card-html.md
Labels: AT passed, doc

#2703 fix(dropdown): slotted trigger
  elements/pf-dropdown/demo/custom-trigger.html
  elements/pf-dropdown/pf-dropdown.css
  elements/pf-dropdown/pf-dropdown.ts
  elements/pf-dropdown/test/pf-dropdown.spec.ts
Labels: tests, styles, functionality, demo, AT passed

#2704 docs: v3 in dropdown
  docs/_data/versions.json
  docs/_includes/_nav.njk
  netlify.toml
Labels: ready to merge, AT passed, doc

#2690 fix(tools): let overlays draw above the dev-server canvas
  tools/pfe-tools/dev-server/demo.css
Labels: tools, ready to merge, AT passed

#2716 fix(button): prevent default behavior for spacebar
  elements/pf-button/pf-button.ts
Labels: work in progress, functionality, AT passed

#2714 docs(back-to-top): update README.md
  elements/pf-back-to-top/README.md
Labels: ready to merge, AT passed, doc

#2641 docs: update react integration
  docs/framework-integration/react.md
Labels: work in progress, AT passed, doc

#2713 fix(dropdown): styles for slotted menu
  elements/pf-dropdown/pf-dropdown.css
  elements/pf-dropdown/pf-dropdown.ts
Labels: styles, functionality, AT passed

#2727 fix(core): add missing `ariaDescription` to InternalsController
  .changeset/rare-news-drum.md
  core/pfe-core/controllers/internals-controller.ts
Labels: ready to merge, AT passed

#2728 chore: update dependencies
  .changeset/cold-bottles-roll.md
  .changeset/wet-moments-punch.md
  .husky/commit-msg
  .husky/pre-commit
  elements/pf-button/pf-button.ts
  elements/pf-select/pf-select.ts
  package-lock.json
  package.json
  tools/create-element/package.json
  tools/eslint-config/package.json
  tools/netlify-plugin-github-actions/index.js
  tools/netlify-plugin-github-actions/package.json
  tools/pfe-tools/package.json
  tools/pfe-tools/react/generate-wrappers.ts
Labels: tools, functionality, generator, AT passed

#2720 fix(text-area): autoresize
  .changeset/empty-ties-heal.md
  elements/pf-text-area/pf-text-area.ts
Labels: functionality, AT passed

#2729 fix(core)!: deprecate cascades decorator
  .changeset/great-badgers-build.md
  core/pfe-core/controllers/cascade-controller.ts
  core/pfe-core/decorators/cascades.ts
Labels: ready to merge, AT passed

#2702 fix(switch): implement internals controller
  .changeset/violet-wombats-tell.md
  elements/pf-switch/BaseSwitch.css
  elements/pf-switch/BaseSwitch.ts
  elements/pf-switch/demo/checked.html
  elements/pf-switch/demo/disabled.html
  elements/pf-switch/demo/pf-switch.html
  elements/pf-switch/demo/reversed.html
  elements/pf-switch/docs/pf-switch.md
  elements/pf-switch/pf-switch.css
  elements/pf-switch/test/pf-switch.spec.ts
Labels: tests, styles, work in progress, functionality, demo, AT passed, doc

#2730 fix(popover): prevent scrollbar
  .changeset/upset-laws-camp.md
  elements/pf-popover/demo/edge-of-viewport.html
  elements/pf-popover/pf-popover.ts
Labels: functionality, demo, AT passed

#2731 fix(tabs): roles in sr
  .changeset/nice-moments-doubt.md
  core/pfe-core/controllers/tabs-aria-controller.ts
  elements/pf-tabs/pf-tab-panel.ts
  elements/pf-tabs/pf-tabs.ts
Labels: ready to merge, functionality, AT passed

#2721 docs(jump-links): fix scrollspy demo layout
  elements/pf-jump-links/demo/scrollspy-with-subsections.html
Labels: ready to merge, demo, AT passed

#2732 docs: fix code snippet tabs
  docs/components/components.md
Labels: ready to merge, AT passed, doc

#2630 fix(avatar)!: remove BaseAvatar
  .changeset/remove-baseavatar.md
  elements/package.json
  elements/pf-avatar/BaseAvatar.css
  elements/pf-avatar/BaseAvatar.ts
  elements/pf-avatar/pf-avatar.css
  elements/pf-avatar/pf-avatar.ts
  elements/pf-avatar/test/pf-avatar.spec.ts
Labels: tests, styles, functionality, AT passed, pfe 4.0

#2635 fix(clipboard-copy)!: remove BaseClipboardCopy
  .changeset/remove-base-clipboard-copy.md
  elements/form-control.css
  elements/package.json
  elements/pf-clipboard-copy/BaseClipboardCopy.css
  elements/pf-clipboard-copy/BaseClipboardCopy.ts
  elements/pf-clipboard-copy/pf-clipboard-copy.css
  elements/pf-clipboard-copy/pf-clipboard-copy.ts
Labels: styles, ready to merge, functionality, AT passed, pfe 4.0
