Repository patternfly/patternfly-elements, pull requests merged in 2024-07, with the labels that each got.

#2795 fix(tools): correct dev server not serving lightdom.css files
  docs/_data/importMap.cjs
  package-lock.json
  tools/pfe-tools/dev-server/config.ts
  tools/pfe-tools/dev-server/plugins/dev-server-router.ts
  tools/pfe-tools/dev-server/plugins/dev-server-templates.ts
  tools/pfe-tools/dev-server/plugins/pfe-dev-server.ts
  tools/pfe-tools/package.json
Labels: tools, AT passed, bug, doc

#2806 docs(button): custom roles
  core/pfe-core/controllers/internals-controller.ts
  elements/pf-button/demo/user-role.html
Labels: work in progress, demo, AT passed

#2807 feat(core): new decorators `@listen` and `@observes`
  .changeset/fluffy-papers-sit.md
  .changeset/poor-years-hug.md
  core/pfe-core/controllers/property-observer-controller.ts
  core/pfe-core/decorators.ts
  core/pfe-core/decorators/listen.ts
  core/pfe-core/decorators/observed.ts
  core/pfe-core/decorators/observes.ts
  core/pfe-core/test/decorators.spec.ts
  elements/pf-accordion/pf-accordion.ts
  elements/pf-jump-links/pf-jump-links-item.ts
  elements/pf-modal/pf-modal.ts
  elements/pf-tabs/pf-tab.ts
  elements/pf-tabs/pf-tabs.ts
  elements/pf-tabs/test/pf-tabs.spec.ts
Labels: tests, functionality, AT passed
