Repository patternfly/patternfly-elements, pull requests merged in 2024-04, with the labels that each got.

#2735 docs: 3.0 release notes
  docs/_includes/layout-blog.njk
  docs/blog/pfe-3-release.md
Labels: work in progress, AT passed, doc

#2740 fix(select): placeholder button text
  .changeset/eleven-llamas-follow.md
  elements/pf-select/README.md
  elements/pf-select/demo/checkbox-input-no-badge.html
  elements/pf-select/demo/checkbox-input.html
  elements/pf-select/demo/grouped-checkbox-input.html
  elements/pf-select/demo/grouped-single.html
  elements/pf-select/demo/pf-select.html
  elements/pf-select/demo/single-with-description.html
  elements/pf-select/docs/pf-select.md
  elements/pf-select/pf-select.ts
  elements/pf-select/test/pf-select.spec.ts
Labels: tests, ready to merge, functionality, demo, AT passed, doc

#2733 fix(tools): dev server icon and colours
  .changeset/deep-mammals-rescue.md
  elements/pf-button/pf-button.ts
  elements/pf-label/pf-label.ts
  elements/pf-progress/pf-progress.ts
  elements/pf-tabs/pf-tab.ts
  elements/pf-tile/pf-tile.ts
  tools/pfe-tools/config.ts
  tools/pfe-tools/dev-server/demo.css
Labels: tools, ready to merge, functionality, AT passed

#2634 fix(switch)!: remove BaseSwitch
  .changeset/remove-base-switch.md
  elements/package.json
  elements/pf-avatar/pf-avatar.ts
  elements/pf-back-to-top/pf-back-to-top.ts
  elements/pf-panel/pf-panel.ts
  elements/pf-progress-stepper/pf-progress-step.ts
  elements/pf-spinner/BaseSpinner.ts
  elements/pf-switch/BaseSwitch.css
  elements/pf-switch/BaseSwitch.ts
  elements/pf-switch/pf-switch.css
  elements/pf-switch/pf-switch.ts
  elements/pf-tabs/pf-tab-panel.ts
Labels: styles, functionality, AT passed, pfe 4.0

#2633 fix(code-block)!: remove BaseCodeBlock
  .changeset/remove-basecodeblock.md
  elements/package.json
  elements/pf-code-block/BaseCodeBlock.css
  elements/pf-code-block/BaseCodeBlock.ts
  elements/pf-code-block/pf-code-block.css
  elements/pf-code-block/pf-code-block.ts
Labels: styles, functionality, AT passed, pfe 4.0

#2632 fix(label)!: remove BaseLabel
  .changeset/label-close-remove.md
  .changeset/remove-base-label.md
  elements/package.json
  elements/pf-label/BaseLabel.css
  elements/pf-label/BaseLabel.ts
  elements/pf-label/docs/pf-label.md
  elements/pf-label/pf-label.css
  elements/pf-label/pf-label.ts
  elements/pf-label/test/pf-label.spec.ts
Labels: tests, styles, functionality, AT passed, doc, pfe 4.0

#2629 fix(badge)!: remove BaseBadge
  .changeset/remove-basebadge.md
  elements/package.json
  elements/pf-badge/BaseBadge.css
  elements/pf-badge/BaseBadge.ts
  elements/pf-badge/pf-badge.css
  elements/pf-badge/pf-badge.ts
  elements/pf-tooltip/pf-tooltip.ts
Labels: styles, functionality, AT passed, pfe 4.0

#2627 fix(spinner)!: remove BaseSpinner
  .changeset/remove-basespinner.md
  elements/package.json
  elements/pf-spinner/BaseSpinner.css
  elements/pf-spinner/BaseSpinner.ts
  elements/pf-spinner/pf-spinner.css
  elements/pf-spinner/pf-spinner.ts
Labels: styles, ready to merge, functionality, AT passed, pfe 4.0

#2625 fix(tile)!: remove BaseTile
  .changeset/remove-basetile.md
  elements/package.json
  elements/pf-tile/BaseTile.ts
  elements/pf-tile/pf-tile.ts
Labels: functionality, AT passed, pfe 4.0

#2628 fix(tooltip)!: remove BaseTooltip
  .changeset/remove-basetooltip.md
  elements/package.json
  elements/pf-tooltip/BaseTooltip.css
  elements/pf-tooltip/BaseTooltip.ts
Labels: styles, ready to merge, functionality, AT passed, pfe 4.0

#2586 feat(card)!: remove BaseCard
  .changeset/clever-yaks-thank.md
  .changeset/sharp-spiders-float.md
  elements/pf-card/BaseCard.css
  elements/pf-card/BaseCard.ts
  elements/pf-card/demo/header-images-and-actions.html
  elements/pf-card/demo/modifiers.html
  elements/pf-card/demo/pf-card.html
  elements/pf-card/demo/settings.html
  elements/pf-card/demo/title-inline-with-images-and-actions.html
  elements/pf-card/docs/pf-card.md
  elements/pf-card/pf-card.css
  elements/pf-card/pf-card.ts
Labels: styles, work in progress, functionality, demo, AT passed, doc

#2631 fix(button)!: remove BaseButton
  .changeset/remove-basebutton.md
  elements/package.json
  elements/pf-button/BaseButton.css
  elements/pf-button/BaseButton.ts
  elements/pf-button/pf-button.ts
Labels: styles, ready to merge, functionality, AT passed, pfe 4.0

#2749 fix(tools): redirect dev server for lightdom css
  .changeset/odd-months-flow.md
  tools/pfe-tools/dev-server/plugins/pfe-dev-server.ts
Labels: tools, ready to merge, AT passed
