Repository patternfly/patternfly-elements, pull requests merged in 2024-01, with the labels that each got.

#2674 docs: fix band shortcode
  docs/_includes/cem/attributes.njk
  docs/_includes/cem/band.njk
  docs/_includes/cem/css-custom-properties.njk
  docs/_includes/cem/css-shadow-parts.njk
  docs/_includes/cem/events.njk
  docs/_includes/cem/install.njk
  docs/_includes/cem/methods.njk
  docs/_includes/cem/overview.njk
  docs/_includes/cem/properties.njk
  docs/_includes/cem/slots.njk
  docs/_plugins/cem-render.cjs
Labels: ready to merge, AT passed, doc

#2675 fix(chip): add toolbar role
  elements/pf-chip/pf-chip-group.ts
Labels: ready to merge, functionality, AT passed

#2685 docs(tabs): fix typo in css rule in demo
  elements/pf-tabs/demo/active-tab-disabled.html
  elements/pf-tabs/demo/active-tab-is-disabled.html
  elements/pf-tabs/demo/box.html
  elements/pf-tabs/demo/dynamic-tabs.html
  elements/pf-tabs/demo/filled-with-icons.html
  elements/pf-tabs/demo/filled.html
  elements/pf-tabs/demo/icons-and-text.html
  elements/pf-tabs/demo/inset.html
  elements/pf-tabs/demo/manual-activation.html
  elements/pf-tabs/demo/nested.html
  elements/pf-tabs/demo/overflow.html
  elements/pf-tabs/demo/pf-tabs.html
  elements/pf-tabs/demo/tabs-first-in-markup.html
  elements/pf-tabs/demo/vertical.html
Labels: ready to merge, demo, AT passed, bug

#2684 test(tabs): lint
  elements/pf-tabs/test/pf-tabs.spec.ts
Labels: tests, ready to merge, AT passed

#2686 fix(tools): dev server load ts sources
  tools/pfe-tools/dev-server/demo.css
  tools/pfe-tools/dev-server/plugins/pfe-dev-server.ts
Labels: tools, AT passed

#2678 fix(core)!: add getItems and getItemsContainer to RTI constructor
  .changeset/empty-otters-join.md
  core/pfe-core/controllers/listbox-controller.ts
  core/pfe-core/controllers/roving-tabindex-controller.ts
  core/pfe-core/controllers/tabs-controller.ts
  core/pfe-core/controllers/toggle-controller.ts
  elements/pf-accordion/BaseAccordion.ts
  elements/pf-chip/pf-chip-group.ts
  elements/pf-dropdown/pf-dropdown-menu.ts
  elements/pf-jump-links/pf-jump-links.ts
  elements/pf-select/pf-select.ts
  elements/pf-tabs/BaseTabs.ts
Labels: functionality, AT passed

#2687 fix(tools): load ts sources from core
  tools/pfe-tools/dev-server/plugins/pfe-dev-server.ts
Labels: tools, AT passed
