Repository patternfly/patternfly-elements, pull requests merged in 2024-08, with the labels that each got.

#2779 chore: semantic pr title workflow
  .commitlintrc.cjs
  .github/workflows/commitlint.yml
  .github/workflows/label.yml
  .github/workflows/merge-label.yml
  .github/workflows/project.yml
  .github/workflows/workflow.yml
  commitlint.config.js
  scripts/format-commitlint-messages.js
Labels: blocked, AT passed

#2826 fix(icon): fix lazy loading
  .changeset/loud-rings-lay.md
  elements/pf-icon/pf-icon.ts
Labels: AT passed, bug

#2829 fix(core): make internals controller ssrable
  .changeset/thin-aliens-smoke.md
  .github/workflows/tests.yml
  core/pfe-core/controllers/internals-controller.ts
Labels: AT passed

#2833 fix(core): improved ssr
  core/pfe-core/package.json
  core/pfe-core/ssr-shims.ts
Labels: AT passed
